.action-list {

    height: 540px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;

    &__list {

        width: 30%;
        height: 100%;
        position: relative;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, .01);

        &-header {
            float: left;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: white;
            position: sticky;
            top: 0;
            padding-top: 7.5px;
            height: 40px;
            text-align: center;
            background-image: linear-gradient(to bottom, #9d3292, #4435a6);
            border-radius: 5px 5px 0 0;
            margin-bottom: 20px;
            z-index: 2;
        }

        &-card {
            float: left;
            width: 98%;
            margin-left: 1%;
            box-shadow: 0 0 4px rgba(0, 0, 0, .4);
            border-radius: 2.5px;
            padding: 12px;
            margin-bottom: 20px;
            position: relative;
            background-color: white;
            z-index: 1;
        }

        &-no-items {
            float: left;
            width: 100%;
            font-size: 15px;
            text-align: center;
        }

    }

}

.xCard {

    &__title {
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        float: left;
    }

    &__data {

        width: 100%;
        float: left;

        &-photo {

            margin: 0;
            padding: 0;
            float: left;
            width: 20%;
            height: 50px;
            position: relative;

            &--img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                // object-fit: cover;
            }

        }

        &-info {

            width: 80%;
            height: 50px;
            float: left;
            position: relative;

            &--row {
                width: 100%;
                float: left;
            }

            &--col {

                width: 50%;
                float: left;

                &--1 { width: 40%; }
                &--2 { width: 60%; }
                &--30 { width: 30%; }
                &--70 { width: 70%; }

            }

        }

    }

    &__label {

        width: 80%;
        height: 20px;
        border-radius: 2.5px;
        float: right;
        position: relative;

        &-txt,
        &-date {
            position: absolute;
            top: 50%;
            color: white;
            transform: translateY(-50%);
        }

        &-txt {
            font-size: 9.25px;
            left: 5px;
        }

        &-date {
            font-size: 10.25px;
            font-weight: bold;
            right: 5px;
        }

        &--green { background-color: #00954e; }
        &--yellow { background-color: #fbb03b; }
        &--red { background-color: #ff4141; }
        &--blue { background-color: #3f5be6; }

    }

}

.list-margin-right {
    margin-right: 4%;
}

.card-mini-text {
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
}

.card-bold-text {
    font-size: 11px;
    font-weight: bold;
    color: #263238;
}
.back{
    top: 19px !important;
    right: 16px !important;
}

.avatarNot{
  height: 50px;
  width: 50px;
}
