<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Service</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="60px">
    <!-- multicheck cuando se crea un servicio  -->
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="data.id == 0  && data.action == 'new'">
      <mat-form-field class="input_central">
        <mat-label>Service</mat-label>
        <mat-select
        matNativeControl
        required
        multiple
        [disabled]="GetService.length == 0"
        [(ngModel)]="data.idService"
        [formControl]="toppings">
          <mat-option [value]="100" (click)="selectAll(ev)"
          #ev>SelectAll</mat-option>
          <mat-option *ngFor="let item of GetService" [value]="item.service1">{{item.service}}</mat-option>
        </mat-select>
        <mat-error>Field is required</mat-error>
        <mat-hint *ngIf="valid_service" style="color: #e91e63;">Field is required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <!-- select cuando se actualiza un servicio  -->
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="data.id != 0">
      <mat-form-field appearance="fill" class="textarea input_central">
        <mat-label>Service</mat-label>
        <mat-select [(ngModel)]="data.idService" disabled>
          <mat-option *ngFor="let item of GetService" [value]="item.service1">
            {{item.service}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field  appearance="fill" class="textarea input_central">
        <mat-label>Nick Name</mat-label>
        <input matInput  placeholder="Nick Name" type="text" [(ngModel)]="data.nickName" />
        <!-- <mat-error>Field is required</mat-error>
      <mat-hint *ngIf="valid_nickname" style="color: #e91e63;">Field is required</mat-hint> -->
      </mat-form-field>
    </mat-grid-tile>
    <!-- check cuando el usurio quie -->
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="data.id != 0"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="data.id != 0 && getDataCountryScopeDoc.length > 0">
        <button (click)="applyScope()" mat-button color="primary">Apply scope description to all</button>
    </mat-grid-tile>
  </mat-grid-list>

  <p class="subtitledos">Countries</p>

  <table mat-table [dataSource]="serviceLocationCountries" matSort class="margin_table">

    <!-- Position Column -->
    <ng-container matColumnDef="uno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="idCountry"> Country </th>
      <td mat-cell *matCellDef="let element">
        {{element.namec}} {{element.countryNavigation?.name}} {{getCountry(element.idCountry)}}
        <!-- {{getCountry(element.idCountry)}} </td> -->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="scopeDescription"> Scope Description </th>
      <td mat-cell *matCellDef="let element">
        <!-- {{element.scopeDescription}}  -->
        <p *ngIf="element.standarScopeDocuments == 0" [innerHTML]="element.scopeDescription"></p>
        <div *ngIf="element.standarScopeDocuments == 1">
          Description Premier
        </div>

      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="tres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Documents </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.standarScopeDocuments == 1">
          Documents Premier
        </div>
        <div *ngIf="element.standarScopeDocuments == 0">
          {{element.documentLocationCountries.length}}
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="cuatro">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div [hidden]="data.action == 'new'">
          <img src="/assets/icons/pencil.png" (click)="addCountry(element, i)" style="width: 20px;">
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cuatro"></tr>
    <tr mat-row *matRowDef="let row; columns: cuatro;"></tr>
  </table>

  <div class="textarea margin_table" style="text-align: end;">
    <button [disabled]="data.idService == undefined" (click)="addCountry(null, 0)" class="btnr btnr--add" matRipple
      matRippleColor="rgba(157, 50, 146, 0.5)">
      Add Country
    </button>
  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <div class="page__section-buttong" *ngIf="permission_write || permission_edit">
    <button (click)="validar()">Save</button>
  </div>
</mat-dialog-actions>
