<div class="main-wrapper padding-general-x">
  <div class="page">
    <div class="page__path">Partner & Clients / Leads</div>
    <div class="page__title title">
      Lead
    </div>

    <mat-grid-list cols="5" rowHeight="70px">

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="input_central">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" type="text" (keyup)="applyFilter($event)" />
          <mat-icon matSuffix style="color:#9d3292">search</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill" class="input_central_half">
          <mat-label>Date Range</mat-label>
          <!--
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="filter.date_range_in">
            <input matEndDate placeholder="End date" [(ngModel)]="filter.date_range_fi"
              (ngModelChange)="applyFiltersBK()">
          </mat-date-range-input>
          -->
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
            matStartDate
            formControlName="rangeDate1"
            placeholder="Start date"
            (dateChange)="filteringServiceRecordTable()"
            autocomplete="off" />
            <input
            matEndDate
            (dateChange)="filteringServiceRecordTable()" formControlName="rangeDate2"
            autocomplete="off"
            placeholder="End date" />
          </mat-date-range-input>

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="textarea input_central" style="display: flex; flex-direction: column; height: 100%;">
          <div class="textarea">
            <mat-label style="font-size: 12px; color: rgba(0, 0, 0, 0.6);">Type</mat-label>
          </div>
          <div class="textarea">
            <mat-radio-group style="display: flex;" [(ngModel)]="filter.type"
              (ngModelChange)="applyFiltersBK()">
              <mat-radio-button [value]="1" style="font-size: 12px; color:rgba(0, 0, 0, 0.6); padding: 0 7px;">Partner
              </mat-radio-button>
              <mat-radio-button [value]="2" style="font-size: 12px; color: rgba(0, 0, 0, 0.6);">Client
              </mat-radio-button>
              <!--mat-radio-button [value]="3">Direct Client</mat-radio-button-->
            </mat-radio-group>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="textarea" *ngIf="permission_write">
          <div class="page__section-butuonc" style="flex: 0 1 42%;">
            <button class="button-icon button-icon--more" [routerLink]="['/lead/new']">
              New Lead
            </button>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill" class="input_central">
          <mat-label>Company Type</mat-label>
          <mat-select [(ngModel)]="filter.company_type" (ngModelChange)="applyFiltersBK()">
            <mat-form-field appearance="outline" style="padding: 5px;">
              <mat-label>Company Type</mat-label>
              <input matInput placeholder="Company Type" [(ngModel)]="filterCompany.companyType1">
            </mat-form-field>
            <mat-option *ngFor="let item of caCompanyType| filterBy: filterCompany" [value]='item.id'>{{item.companyType1}}</mat-option>
            <mat-option disabled *ngIf="(caCompanyType | filterBy: filterCompany).length === 0">No matching elements</mat-option>

          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="filter.country" (selectionChange)="getcity(filter)"
              (ngModelChange)="applyFiltersBK()">
              <mat-form-field appearance="outline" style="padding: 5px;">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country" [(ngModel)]="filterCountry.name">
              </mat-form-field>
              <mat-option *ngFor="let item of caCountry | filterBy: filterCountry" [value]="item.id"> {{item.name}}</mat-option>
              <mat-option disabled *ngIf="(caCountry | filterBy: filterCountry).length === 0">No matching elements</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select [(ngModel)]="filter.city" (ngModelChange)="applyFiltersBK()">
              <mat-form-field appearance="outline" style="padding: 5px;">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" [(ngModel)]="filterCity.city">
              </mat-form-field>
              <mat-option *ngFor="let item of ccity | filterBy: filterCity" [value]="item.id"> {{item.city}}</mat-option>
              <mat-option disabled *ngIf="(ccity | filterBy: filterCity).length === 0">No matching elements</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill" class="input_central">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="filter.status" (ngModelChange)="applyFiltersBK()">
            <mat-form-field appearance="outline" style="padding: 5px;">
              <mat-label>status</mat-label>
              <input matInput placeholder="status" [(ngModel)]="filterStatus.status">
            </mat-form-field>
            <mat-option *ngFor="let item of caStatus | filterBy: filterStatus" [value]="item.id">{{item.status}}</mat-option>
            <mat-option disabled *ngIf="(caStatus | filterBy: filterStatus).length === 0">No matching elements</mat-option>

          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-icon-button color="primary" style="margin-top: -28px;" matTooltip="Clear filter" (click)="clean()">
          <mat-icon [ngClass]="{'refresh': refresh}">cached</mat-icon>
        </button>
        <div class="page__section-butuonc" style="margin-top: -30px;">
          <button class="button-icon button-icon--export" (click)="showExportDialog()" *ngIf="__userlog__.role.id != 3">
            Export
          </button>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    <button (click)="exporter.exportTable('xls')" id="excel" style="display: none;"
      class="button-icon button-icon--adder">
      Export
    </button>

    <table mat-table [dataSource]="datasource" class="mat-elevation-z8" matSort matTableExporter
      #exporter="matTableExporter">

      <ng-container matColumnDef="Company Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="contactName"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
      </ng-container>

      <ng-container matColumnDef="Company Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="company_type"> Company Type </th>
        <td mat-cell *matCellDef="let element"> {{element.company_type}} </td>
      </ng-container>

      <ng-container matColumnDef="Client Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lead_type"> Lead Type </th>
        <td mat-cell *matCellDef="let element"> {{element.lead_type}} </td>
      </ng-container>

      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lead_type"> Belongs to Partner Country </th>
        <td mat-cell *matCellDef="let element"> {{element.lead_type}} </td>
      </ng-container>

      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="country"> Office Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>

      <ng-container matColumnDef="Date of Contract">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="city"> Office City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="company"> Responsible Premier Office </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>

      <ng-container matColumnDef="Contact Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="dateFirst"> Partner Client Since </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFirst | date: 'dd MMM yyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="idLifeCircle"> Life Circle </th>
        <td mat-cell *matCellDef="let element"> {{element.idLifeCircle}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <b class="browser" routerLink="/lead/{{element.id}}">View</b>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div class="page__section text-center paginator">
      <mat-paginator  [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      <!-- <mat-paginator class="paginator"
        (page)="paginatorHtmlElement.nativeElement.querySelector('div.mat-select-value > span > span').innerHTML = paginator.pageSize == 2147483647? 'All': paginator.pageSize" #paginator #paginatorElement
        [pageSizeOptions]="[10, 20, 2147483647]"
        showFirstLastButtons
      ></mat-paginator> -->
    </div>
  </div>
</div>
