<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" style="float:left;">
        <h2 mat-dialog-title class="primary_title" style="float:left;"> Move Out
          
            <span style="font-size: medium; color: darkmagenta; font-style: normal; font-weight: normal;">
               - Property Inspection
            </span>  
        </h2>
        
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
</div>

<mat-dialog-content class="mat-typography" *ngIf="data_move_out">


    <div class="" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">

        <div>
            <div class="" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div class="page__section-data font-size-12 comments input_central textarea"
                            style="display: flex;  height: 100%;">
                            <div>
                                <span class="text-mini gray_05">Creation Date</span><br />
                                <!-- {{permanentHome.createdDate | date: 'dd MMM yyyy'}} -->
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div class="input_central textarea">
                            <mat-form-field appearance="fill">
                                <mat-label>Report Date</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Report Date"
                                    [(ngModel)]="data_move_out.reportDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div class="page__section-data font-size-12 comments input_central textarea"
                            style="display: flex; height: 90%;">
                            <div *ngIf="data.id != 0">
                                <span class="text-mini gray_05">Report By</span><br />
                                {{data_move_out.createdByNavigation?.name}}
                                {{data_move_out.createdByNavigation?.lastName}}
                            </div>
                            <div>
                                <span class="text-mini gray_05">Report By</span><br />
                                {{user.name}} {{user.lastName}}
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div class="input_central textarea">
                            <mat-form-field appearance="fill">
                                <mat-label>Status Report</mat-label>
                                <mat-select [(ngModel)]="data_move_out.idStatus" [disabled] = "!data.edicion">
                                    <mat-option *ngFor="let item of ca_status_report" [value]='item.id'>{{item.status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="4" rowHeight="150px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="textarea" style="margin-top: -80px;">
                            <br><br>
                            <p class="subtitle" style="font-size: 12px; margin: 0px;">Notes</p>
                            <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                                <textarea matInput #message maxlength="500" [(ngModel)]="data_move_out.notes"></textarea>
                                <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div style="width: 100%;">
                            <div>
                                <p class="page__section-name">Sections</p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field> -->

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="section">
                            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th> -->
                            <th mat-header-cell *matHeaderCellDef> Section </th>
                            <td mat-cell *matCellDef="let row">

                                <div>
                                    <mat-form-field appearance="fill" style="max-width: 200px;">
                                        <mat-label>Property Section</mat-label>
                                        <mat-select [(ngModel)]="row.propertySection" disabled>
                                            <mat-option *ngFor="let item of ca_propertySection"
                                                [value]='item.id'>{{item.propertySection}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let row">
                                <div>
                                    <mat-form-field appearance="fill" style="max-width: 200px;">
                                        <mat-label>Condition</mat-label>
                                        <mat-select [(ngModel)]="row.status" disabled>
                                            <mat-option *ngFor="let item of ca_statuspropertySection"
                                                [value]='item.id'>{{item.status}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <div class="contenedori">
                                    <div *ngIf="row.noneAction" class="contenidoi">
                                        <mat-icon style="color: green;">check_circle</mat-icon>
                                        <br>
                                        <span>Ready</span>
                                    </div>
                                    <div *ngIf="row.needClean" class="contenidoi">
                                        <mat-icon style="color: orangered;">info</mat-icon>
                                        <br>
                                        <span>Clean</span>
                                    </div>
                                    <div *ngIf="row.needRepair" class="contenidoi">
                                        <mat-icon style="color: orangered;">info</mat-icon>
                                        <br>
                                        <span>Repair</span>
                                    </div>
                                    <div *ngIf="row.needReplace" class="contenidoi">
                                        <mat-icon style="color: orangered;">info</mat-icon>
                                        <br>
                                        <span>Replace</span>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Fruit Column -->
                        <ng-container matColumnDef="photos">
                            <th mat-header-cell *matHeaderCellDef> Photos </th>
                            <td mat-cell *matCellDef="let row"> {{row.photosPropertyReportSections.length}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef> Edit </th>
                            <td mat-cell *matCellDef="let row"> 
                                <img src="assets\icons\pencil.png" style="width: 20px; cursor: pointer;"
                                (click)="edit_Section(row)">
                              &nbsp;&nbsp;
                              <img src="assets/icons/delete.png" style="width: 20px; cursor: pointer;"
                                (click)="deletePropertyReport(row.id)">
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr> -->
                    </table>

                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator> -->

                </div>
                    <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                          <div class="addPropperty">
                            <div class="page__section-button page__section-button--big" *ngIf="data.edicion">
                              <button class="button-icon button-icon--more" (click)="addMoveInOut(data_move_out.id, data_move_out.propertyInspection);">
                                Add Section
                              </button>
                            </div>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                          <div style="width: 100%;">
                            <div>
                              <p class="page__section-name">Keys Inventory</p>
                            </div>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table class="mat-elevation-z8 textarea mat-table">
                        <tr class="mat-header-row">
                          <th class="mat-header-cell">Quantity</th>
                          <th class="mat-header-cell">Section</th>
                          <th class="mat-header-cell">Description</th>
                          <th class="mat-header-cell"></th>
                        </tr>
                        <tr class="mat-row" *ngFor="let inventory of data_move_out.keyInventories; let key = index">
                          <td class="mat-cell">{{inventory.quantity}}</td>
                          <td class="mat-cell">{{getProperty(inventory.section)}}</td>
                          <td class="mat-cell">{{inventory.description}}</td>
                          <td class="mat-cell">
                            <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editKeyInventory(inventory, key)">
                            &nbsp;&nbsp;
                            <img src="assets/icons/delete.png" style="width: 20px;" (click)="deletKeyInventory(inventory,1)">
                          </td>
                        </tr>
                      </table>
                      <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                          <div class="addPropperty">
                            <div class="page__section-button page__section-button--big" style="" *ngIf="data.edicion">
                              <button class="button-icon button-icon--more" (click)="addKeyInventory(1)">
                                Add Key
                              </button>
                            </div>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                          <div style="width: 100%;">
                            <div>
                              <p class="page__section-name">Attendees</p>
                            </div>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table class="mat-elevation-z8 textarea mat-table">
                        <tr class="mat-header-row">
                          <th class="mat-header-cell">Title</th>
                          <th class="mat-header-cell">Name</th>
                          <th class="mat-header-cell">E-mail</th>
            
                          <th class="mat-header-cell"></th>
                        </tr>
                        <tr class="mat-row" *ngFor="let attend of data_move_out.attendees; let at = index">
                          <td class="mat-cell">{{get_attendiees_vales(attend.att)}}</td>
                          <td class="mat-cell">{{attend.name}}</td>
                          <td class="mat-cell">{{attend.email}}</td>
            
                          <td class="mat-cell">
                            <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editAttend(attend, at,1)">
                            &nbsp;&nbsp;
                            <img src="assets/icons/delete.png" style="width: 20px;" (click)="deleteAttend(attend,1)">
                          </td>
                        </tr>
                      </table>
                      <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                          <div class="addPropperty">
                            <div class="page__section-button page__section-button--big" style="" *ngIf="data.edicion">
                              <button class="button-icon button-icon--more" (click)="addAttendees(1)">
                                Add Attendee
                              </button>
                            </div>
                          </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                

            </div>
            <!---------------------------------- PINTAR CONTRACTS PASADOS ----------------------------->
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <div class="page__section-buttong" style="flex: 0 1 100px;">
        <button *ngIf="data.edicion" (click)="save_PropertyReport(1)">Save</button>
    </div>
</mat-dialog-actions>