<!-----------------------------------header-------------------------------------->
<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Campus</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<!-----------------------------------content-------------------------------------->
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="70px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill">
        <mat-label>School Name</mat-label>
        <input matInput type="text" [(ngModel)]="location_in.name">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput type="text" [(ngModel)]="location_in.description">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput #addressInput placeholder="Address" ngx-google-places-autocomplete #placesRef="ngx-places"
          (onAddressChange)="onSubmit()" (keydown)="createAutoCompleteData( $event )" type="search"
          [(ngModel)]="location_in.address" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let item of options_found;" [value]="item.option " (click)="onSubmit()">
            {{item.option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="textarea">
        <p class="page__section-name">Map</p>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
  <br>
  <br>

  <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="zoom" [fullscreenControl]="true"
    [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)" style="    height: 200px;
    width: 100%;">

    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.nombre, i)"
      [latitude]="m.latitude" [longitude]="m.longitude" [label]="m.nombre" [markerDraggable]="m.draggable" [iconUrl]="
                                  {
                                      url: m.url,
                                      scaledSize: {
                                          width: 30,
                                          height: 30
                                      }
                                  }" (dragEnd)="markerDragEnd(m, $event, i)">

      <agm-info-window>
        <strong>{{info}}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="save()">Save</button>
  </div>
</mat-dialog-actions>







<!--div fxLayout="row" fxLayoutGap="10px">
  <div class="page__section page__section--nowrap">
    <div class="column-grid-5">
      
      <div class="page__section">
        <div class="page__section-map">
          <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="zoom" [fullscreenControl]="true"
            [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)">

            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.nombre, i)"
              [latitude]="m.latitude" [longitude]="m.longitude" [label]="m.nombre" [markerDraggable]="m.draggable"
              [iconUrl]="
                                  {
                                      url: m.url,
                                      scaledSize: {
                                          width: 30,
                                          height: 30
                                      }
                                  }" (dragEnd)="markerDragEnd(m, $event, i)">

              <agm-info-window>
                <strong>{{info}}</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="10px">
  <div class="page__section page__section--justify-end">
    <div class="page__section-buttong">
      <button>Save</button>
    </div>
  </div>
</div-->
