<!------------------------------------OPEN HEADER------------------------------------------>
<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Emergency Contact</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <!-- <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon> -->
    <mat-icon (click)="close()" style="cursor:pointer">close</mat-icon>

  </div>
</div>
<!----------------------------------OPEN CONTENT------------------------------------------>
<mat-dialog-content class="mat-typography">

  <mat-grid-list cols="4" rowHeight="100px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Contact Name</mat-label>
          <input matInput required placeholder="Contact Name" type="text" [(ngModel)]="data.contactName" (focus)="activeName = false;">
          <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="activeName">Field is required
          </mat-hint>
        </mat-form-field>
      </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Relationship</mat-label>
          <mat-select [(ngModel)]="data.relationship" (focus)="activeRelation = false;">
            <mat-option *ngFor='let item of ca_relation' [value]='item.id'>{{item.relationship}}</mat-option>
          </mat-select>
          <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="activeRelation">Field is required
          </mat-hint>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">

      <mat-form-field style="width: 20% !important; margin-right: 5%; margin-left: -62px;">
        <mat-label>Prefix</mat-label>
        <mat-select matNativeControl [(ngModel)]="prefix" (focus)="activePrefix = false;">
          <mat-form-field appearance="outline" style="padding: 5px;">
            <mat-label>Prefix</mat-label>
            <input matInput placeholder="prefix" [(ngModel)]="typePrefix.countriesName">
          </mat-form-field>
          <mat-option *ngFor="let item of prefixCatalog | filterBy: typePrefix;" [value]="item.countriesIsdCode">
            {{ item.countriesIsdCode }} / {{ item.countriesName }}
          </mat-option>
        </mat-select>
        <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="activePrefix">Field is required
        </mat-hint>
      </mat-form-field>


      <mat-form-field style="width: 50% !important;">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number"  type="number" min="0" (focus)="activeNumber = false;" (keydown)="validaNumericos($event)" [(ngModel)]="data.phoneNumber" />
        <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="activeNumber">Field is required
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field style="width: 20% !important; margin-right: 5%; margin-left: -62px;">
        <mat-label>Prefix</mat-label>
        <mat-select matNativeControl [(ngModel)]="prefixPersonal" (focus)="active_Prefix = false">
          <mat-form-field appearance="outline" style="padding: 5px;">
            <mat-label>Prefix</mat-label>
            <input matInput placeholder="prefix" [(ngModel)]="typePrefixPersonal.countriesName">
          </mat-form-field>
          <mat-option *ngFor="let item of prefixCatalog | filterBy: typePrefixPersonal;" [value]="item.countriesIsdCode">
            {{ item.countriesIsdCode }} / {{ item.countriesName }}
          </mat-option>
        </mat-select>
        <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_Prefix">Field is required
        </mat-hint>
      </mat-form-field>


      <mat-form-field style="width: 50% !important;">
        <mat-label>Personal Phone</mat-label>
        <input matInput placeholder="Personal Phone"  type="number" min="0"
          [(ngModel)]="data.homeNumber" (focus)="active_Numberp = false;"/>
          <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_Numberp">Field is required
          </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>location</mat-label>
          <input matInput required placeholder="location" type="text" [(ngModel)]="data.location" (focus)="activeLocation = false;">
          <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="activeLocation">Field is required
          </mat-hint>
        </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
  <!--ENDS UPLOAD DOCUMENTS-->
  <!----------------------------------------------------------------------------------------->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="valida_form()">Save</button>
  </div>
</mat-dialog-actions>
