<!-----------------------------------header-------------------------------------->
<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="modal-form__title">Working Documents</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>

<!-----------------------------------content-------------------------------------->
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="160px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div style="width: 100%;">
        <div style="display: flex; justify-content: space-between;">
          <p class="subtitle">Upload Documents</p>
          <p class="subtitle">Uploaded Date: <b>{{today | date:'dd MMM yyy' }}</b></p>
        </div>
        <ngx-file-drop class="file-drop" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" [multiple]="false">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Drag and Drop or
            <p class="browser" (click)="openFileSelector()">Browse File</p>
          </ng-template>
        </ngx-file-drop>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="upload-table">
    <table class="table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody class="upload-name-style">
        <tr>
          <td class="subtitle">{{ temporalDocument.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-----------------------------------primera seccion-------------------------------------->
  <mat-grid-list cols="3" rowHeight="70px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Document Type</mat-label>
          <mat-select [(ngModel)]="documents.idDocumentType">
            <mat-option *ngFor="let item of caDocumentType" [value]="item.id"> {{item.documentType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Expiration Date</mat-label>
          <input matInput [matDatepicker]="pickertres" placeholder="Expiration Date"
            [(ngModel)]="documents.expirationDate">
          <mat-datepicker-toggle matSuffix [for]="pickertres"></mat-datepicker-toggle>
          <mat-datepicker #pickertres></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile> -->

    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_final textarea">
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput placeholder="Location" [(ngModel)]="documents.location">
        </mat-form-field>
      </div>
    </mat-grid-tile> -->

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <!--div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="documents.idStatus">
              <mat-option *ngFor="let item of caStatus" [value]="item.id"> {{item.status}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div-->
      <!-- <div class="page__section-data font-size-12 comments input_central" style="display: flex; height: 85%;">
        <div>
          <span class="text-mini gray_05">Status</span><br />
          Approved
        </div>
      </div> -->

    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Privacy</mat-label>
          <mat-select [(ngModel)]="documents.idPrivacy">
            <mat-option *ngFor="let item of caCountry" [value]="item.id"> {{item.privacy}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
