<mat-grid-list cols="5" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid">
            <p class="page__section-name">Lease Summary</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
            <mat-form-field appearance="fill">
                <mat-label>LSF Version</mat-label>
                <mat-select [(ngModel)]='lsf_service_detail_id' (selectionChange)="refresh_component();">
                    <mat-option *ngFor="let data of versions_lsf" [value]="data.idServiceDetail">{{data.catCategoryText}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-button page__section-button--big" style="left: 9px;">
            <button class="button-icon button-icon--report" (click)="lease();">
                Export LSF
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" *ngIf="!show_hide_all_">
            <span class="browser" style="cursor: pointer; font-weight: bold;" (click)="show_hide_all(true);">Show
                All</span>
        </div>
        <div class="wid" *ngIf="show_hide_all_">
            <span class="browser" style="cursor: pointer; font-weight: bold;" (click)="show_hide_all(false);">Hide
                All</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<!--------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
<!--MAQUETA Contract Details -->
<div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
    <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div style="display:flex; justify-content: space-between; width: 100%;">
                <div>
                    <p class="page__section-name">Contract Details </p>
                </div>
                <div>
                    <span class="browser" style="cursor: pointer;"
                        (click)="mostrarTarjeta.contractDetails = !mostrarTarjeta.contractDetails"
                        *ngIf="!mostrarTarjeta.contractDetails"><img src="../../../../assets/icons/arrow_down.png"
                            style="width: 22px;"></span>

                    <span class="browser" style="cursor: pointer;"
                        (click)="mostrarTarjeta.contractDetails = !mostrarTarjeta.contractDetails"
                        *ngIf="mostrarTarjeta.contractDetails"><img src="../../../../assets/icons/arrow_right.png"
                            style="width: 22px;"></span>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="mostrarTarjeta.contractDetails">
        <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
            <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Lease Start Date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Lease Start Date"
                                [(ngModel)]="data_contracts.leaseStartDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Lease End Date</mat-label>
                            <input matInput [matDatepicker]="picker_" placeholder="Lease End Date"
                                [(ngModel)]="data_contracts.leaseEndDate">
                            <mat-datepicker-toggle matSuffix [for]="picker_"></mat-datepicker-toggle>
                            <mat-datepicker #picker_></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Payments Due</mat-label>
                            <!-- <input matInput placeholder="Payments Due" [(ngModel)]='data_contracts.paymentsDue' maxlength="50"> -->
                            <mat-select [(ngModel)]='data_contracts.paymentsDue'>
                                <mat-option *ngFor="let data of payments_due" [value]="data.id">{{data.id}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="fill" class="input_final textarea">
                        <mat-label>Recurrence</mat-label>
                        <!-- <input matInput placeholder="Recurrence" [(ngModel)]="data_contracts.recurrence"> -->
                        <mat-select [(ngModel)]="data_contracts.recurrence">
                            <mat-option *ngFor="let data of recurrence_static"
                                [value]="data.id">{{data.id}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Currency</mat-label>
                            <mat-select [(ngModel)]="data_contracts.currency">
                                <mat-option *ngFor="let data of ca_currency"
                                    [value]="data.id">{{data.currency}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>List Rent Price</mat-label>
                            <span matPrefix>$ &nbsp;</span>
                            <input matInput placeholder="List Rent Price" type="number"
                                [(ngModel)]="data_contracts.listRentPrice" (change)="calc_RentCostSavings();">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Final Rent Price</mat-label>
                            <span matPrefix>$ &nbsp;</span>
                            <input matInput placeholder="Final Rent Price" type="number"
                                (change)="calc_RentCostSavings();" [(ngModel)]="data_contracts.finalRentPrice">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Rent Cost Savings</mat-label>
                            <span matPrefix>$ &nbsp;</span>
                            <input disabled matInput placeholder="Final Rent Price" type="number"
                                [(ngModel)]="data_contracts.rentcostsaving">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="4" [rowspan]="1"
                    *ngIf="data_contracts.leasesignatories == 2 || data_contracts.leasesignatories == 3">
                    <div style="width: 100%;">
                        <div>
                            <p class="page__section-name" style="font-size: 12px;">Lease Signatore Info</p>
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Lease Signatories</mat-label>
                            <mat-select [(ngModel)]="data_contracts.leasesignatories">
                                <mat-option *ngFor="let data of ca_lease_signa"
                                    [value]="data.id">{{data.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1"
                    *ngIf="data_contracts.leasesignatories == 2 || data_contracts.leasesignatories == 3">
                    <div class="input_final textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" [(ngModel)]="data_contracts.namesinatore">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1"
                    *ngIf="data_contracts.leasesignatories == 2 || data_contracts.leasesignatories == 3">
                    <div class="input_final textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" [(ngModel)]="data_contracts.emailsinatore">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1"
                    *ngIf="data_contracts.leasesignatories == 2 || data_contracts.leasesignatories == 3">
                    <div class="input_final textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Telephone</mat-label>
                            <input matInput placeholder="Telephone" [(ngModel)]="data_contracts.telsinatore">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <div style="width: 100%;">
                        <div>
                            <p class="page__section-name" style="font-size: 14px;">Property Expenses</p>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <!----------------------------------------------------------------------------------------->
            <!--START TABLE PROPERTY EXPENSES-->
            <table class="mat-elevation-z8 textarea mat-table" id="expenses">
                <tr class="mat-header-row">
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('expenses',0);">Expense <img
                            src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('expenses',1);">Amount <img
                            src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('expenses',2);">Currency
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('expenses',3);">Recurrence
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('expenses',4);">Included
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell"></th>
                </tr>
                <tr class="mat-row" *ngFor="let property of data_contracts.propertyExpenses; let i = index">
                    <td class="mat-cell">{{property.expense}}</td>
                    <td class="mat-cell">{{property.amount | currency}}</td>
                    <td class="mat-cell">{{getCurrency(property.currency)}}</td>
                    <td class="mat-cell">{{property.recurrence}}</td>
                    <td class="mat-cell">
                        <div *ngIf='property.included'>Yes</div>
                        <div *ngIf='!property.included'>No</div>
                    </td>
                    <td class="mat-cell">
                        <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editExpense(property, i)">
                        &nbsp;&nbsp;
                        <img src="assets/icons/delete.png" style="width: 20px;" (click)="deleteExpense(property)">
                    </td>
                </tr>
            </table>

            <!--CLOSE TABLE PROPERTY EXPENSES-->
            <!----------------------------------------------------------------------------------------->
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <div class="addPropperty">
                        <div class="page__section-button page__section-button--big" style="left: 6px;">
                            <button class="button-icon button-icon--more" (click)="addExpense();">
                                Add Expense
                            </button>
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <div class="page__section-buttong"
                        style="display: flex; justify-content: flex-end; flex: 0px !important;">
                        <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                            (click)="save_BD();">
                            Save Contract D.
                        </button>
                    </div>
                </mat-grid-tile>

            </mat-grid-list>
        </div>
        <!---------------------------------- PINTAR CONTRACTS PASADOS ----------------------------->
    </div>
</div>
<!--MAQUETA Payment -->
<div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px; text-align: end;">

    <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div style="display:flex; justify-content: space-between; width: 100%;">
                <div style="text-align: initial;">
                    <p class="page__section-name">Payments</p>
                </div>
                <div>
                    <span class="browser" style="cursor: pointer;" *ngIf="!mostrarTarjeta.paymenType"
                        (click)="mostrarTarjeta.paymenType = !mostrarTarjeta.paymenType">
                        <img src="../../../../assets/icons/arrow_down.png" style="width: 22px;">
                    </span>

                    <span class="browser" style="cursor: pointer;" *ngIf="mostrarTarjeta.paymenType"
                        (click)="mostrarTarjeta.paymenType = !mostrarTarjeta.paymenType">
                        <img src="../../../../assets/icons/arrow_right.png" style="width: 22px;">
                    </span>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>

    <!-- PAGOS |{{paymentHousings.length}}||{{data_group_paymnets.paymentHousings.length}}||{{data_paym_saving_historic.length}}| -->
    <div *ngIf="mostrarTarjeta.paymenType">
        <!----------------------------------------------------------------------------------------->
        <!--START TABLE PAYMENTS-->
        <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
            <table class="mat-elevation-z8 textarea mat-table" id="payments">
                <tr class="mat-header-row">

                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('payments',0);">Payment Type
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;">
                    </th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('payments',1);">Responsible
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('payments',2);">Amount <img
                            src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('payments',3);">Currency
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('payments',4);">Description
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell"></th>
                </tr>
                <tr class="mat-row" *ngFor="let item of paymentHousings; let i = index">
                    <td class="mat-cell">{{getPayment(item.paymentType)}}</td>
                    <td class="mat-cell">{{getResponsable(item.responsible)}}</td>
                    <td class="mat-cell">{{item.amount | currency}}</td>
                    <td class="mat-cell">{{getCurrency(item.currency)}}</td>
                    <td class="mat-cell">{{item.description}}</td>
                    <td class="mat-cell">
                        <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editPaymentType(item, i)">
                        &nbsp;&nbsp;
                        <img src="assets/icons/delete.png" style="width: 20px;" (click)="deletePayment(item)">
                    </td>
                </tr>
            </table>


            <!--CLOSE TABLE PAYMENTS-->
            <!----------------------------------------------------------------------------------------->
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <div class="addPropperty">
                        <div class="page__section-button page__section-button--big" style="left: 6px;">
                            <button class="button-icon button-icon--more" (click)="addPaymentType()">
                                Add Payment
                            </button>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <!----------------------------------------------------------------------------------------->
        <!--HISTORICO DE PAGOS-->
    </div>
</div>
<!--------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
<!--MAQUETA Cost Savings -->
<div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">

    <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div style="display:flex; justify-content: space-between; width: 100%;">
                <div>
                    <p class="page__section-name">Cost Savings</p>
                </div>
                <div>
                    <span class="browser" style="cursor: pointer;" *ngIf="!mostrarTarjeta.costSaving"
                        (click)="mostrarTarjeta.costSaving = !mostrarTarjeta.costSaving"><img
                            src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>

                    <span class="browser" style="cursor: pointer;" *ngIf="mostrarTarjeta.costSaving"
                        (click)="mostrarTarjeta.costSaving = !mostrarTarjeta.costSaving"><img
                            src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>

    <div *ngIf="mostrarTarjeta.costSaving">
        <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
            <!----------------------------------------------------------------------------------------->
            <!--START TABLE COST SAVINGS-->
            <table class="mat-elevation-z8 textarea mat-table" id="cost">
                <tr class="mat-header-row">
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('cost',0);">Cost Type <img
                            src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('cost',1);">Cost Savings
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;"></th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('cost',2);">Cost Savings
                        Currency
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;">
                    </th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('cost',3);">Cost Description
                        <img src="../../../../assets/icons/arrow-227-xxl.png" style="width: 14px;">
                    </th>
                    <th class="mat-header-cell" style="cursor: pointer;" (click)="sortTable('cost',4);"> </th>
                </tr>
                <tr class="mat-row" *ngFor="let item of costSavingHomes; let i = index">
                    <td class="mat-cell">{{item.costType}}</td>
                    <td class="mat-cell">{{item.costSavings | currency}}</td>
                    <td class="mat-cell">{{getCurrency(item.currency)}}</td>
                    <td class="mat-cell">{{item.costDesc}}</td>
                    <td class="mat-cell">
                        <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editCostSavings(item, i);">
                        &nbsp;&nbsp;
                        <img src="assets/icons/delete.png" style="width: 20px;" (click)="deleteCostSavings(item)">
                    </td>
                </tr>
            </table>
            <!--CLOSE TABLE PROPERTY EXPENSES-->
            <!----------------------------------------------------------------------------------------->
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <div class="addPropperty">
                        <div class="page__section-button page__section-button--big" style="left: 6px;">
                            <button class="button-icon button-icon--more" (click)="addCostSavings();">
                                Cost Savings
                            </button>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <!----------------------------------------------------------------------------------------->
        <!--HISTORICO DE PAGOS-->

    </div>
</div>
<!--------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
<!--MAQUETA Renewal Details -->
<div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">

    <mat-grid-list cols="4" rowHeight="70px">

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div style="display:flex; justify-content: space-between; width: 100%;">
          <div>
            <p class="page__section-name">Renewal Details</p>
          </div>
          <div>
            <span class="browser" style="cursor: pointer;" *ngIf="!mostrarTarjeta.renewalDetails"
              (click)="mostrarTarjeta.renewalDetails = !mostrarTarjeta.renewalDetails"><img
                src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>

            <span class="browser" style="cursor: pointer;" *ngIf="mostrarTarjeta.renewalDetails"
              (click)="mostrarTarjeta.renewalDetails = !mostrarTarjeta.renewalDetails"><img
                src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="mostrarTarjeta.renewalDetails">
      <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="textarea" style="height: 80%;">
              <p class="subtitle" style="font-size: 12px; margin: 0px;">Automatically Renewed</p>
              <mat-checkbox [(ngModel)]="data_renewal.automatically"></mat-checkbox>
            </div>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Renewal Notification Days</mat-label>
                <!-- <input matInput placeholder="enewal Notification Days" [min]="0" type="number" [(ngModel)]="data_renewal.renewalNotification"> -->
                <mat-select [(ngModel)]="data_renewal.renewalNotification">
                  <mat-option *ngFor="let data of lapsos_dias" [value]="data.id">{{data.id}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Additional Rent Increase Date</mat-label>
                <input matInput [matDatepicker]="pickerAdditional" placeholder="Additional Rent Increase Date"
                  [(ngModel)]="data_renewal.additionalRentIncreaseDate">
                <mat-datepicker-toggle matSuffix [for]="pickerAdditional"></mat-datepicker-toggle>
                <mat-datepicker #pickerAdditional></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Recurrent Increase Period</mat-label>
                <mat-select [(ngModel)]="data_renewal.recurrentIncreasePeriod">
                  <mat-option *ngFor="let data of recurrence_static" [value]="data.id">{{data.id}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Comments</mat-label>
                <input matInput placeholder="Comments" [min]="0" [(ngModel)]="data_renewal.comments">
              </mat-form-field>
            </div>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="page__section-buttong"
              style="display: flex; justify-content: flex-end; flex: 0px !important;">
              <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                (click)="saveRenewal()">
                Save Renewal D.
              </button>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
      <!----------------------------------- RENEWALS DETAILS PASADOS -------------------------------------------->
    </div>

  </div>
  <!--------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------->
  <!--MAQUETA Departure Details -->
  <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div style="display:flex; justify-content: space-between; width: 100%;">
          <div>
            <p class="page__section-name">Departure Details</p>
          </div>
          <div>
            <span class="browser" style="cursor: pointer;" *ngIf="!mostrarTarjeta.departureDetails"
              (click)="mostrarTarjeta.departureDetails = !mostrarTarjeta.departureDetails"><img
                src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>

            <span class="browser" style="cursor: pointer;" *ngIf="mostrarTarjeta.departureDetails"
              (click)="mostrarTarjeta.departureDetails = !mostrarTarjeta.departureDetails"><img
                src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="mostrarTarjeta.departureDetails">
      <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div style="height: 80%;" class="textarea">
              <p class="subtitle" style="font-size: 12px; margin: 0px;">Diplomatic Clause</p>
              <mat-checkbox [(ngModel)]="data_departure.diplomaticClause"></mat-checkbox>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Early Termination Notification Days</mat-label>
                <input matInput placeholder="Number of Days" type="number" min="0"
                  [(ngModel)]="data_departure.earlyTerminationNotification">
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div style="height: 80%;" class="textarea">
              <p class="subtitle" style="font-size: 12px; margin: 0px;">Permission to credit Security Deposit
              </p>
              <mat-checkbox [(ngModel)]="data_departure.permission"></mat-checkbox>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Penalty</mat-label>
                <mat-select [(ngModel)]="data_departure.penalty">
                  <mat-option [value]=1>Yes</mat-option>
                  <mat-option [value]=2>No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Penalty Description</mat-label>
                <input matInput placeholder="Penalty Description" [(ngModel)]="data_departure.amount">
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Security Deposit Return Days</mat-label>
                <input matInput placeholder="Security Deposit Return Days" type="number" min="0"
                  [(ngModel)]="data_departure.securityDepositReturn">
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Return Security Deposit To</mat-label>
                <mat-select [(ngModel)]="data_departure.returnSecurityDepositTo">
                  <mat-option *ngFor="let item of ca_security" [value]="item.id">{{item.responsable}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="page__section-buttong"
              style="display: flex; justify-content: flex-end; flex: 0px !important;">
              <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                (click)="saveDeparture();">
                Save Departure D.
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!----------------------------------- HISTORICO DE DEPARTURES ---------------------------------------------------->
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------->
  <!--MAQUETA Land losr details -->
  <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div style="display:flex; justify-content: space-between; width: 100%;">
          <div>
            <p class="page__section-name">Landlord Details</p>
          </div>
          <div>
            <span class="browser" style="cursor: pointer;" *ngIf="!mostrarTarjeta.landLord"
              (click)="showlandsection();"><img src="../../../../assets/icons/arrow_down.png"
                style="width: 22px;"></span>
            <span class="browser" style="cursor: pointer;" *ngIf="mostrarTarjeta.landLord"
              (click)="mostrarTarjeta.landLord = !mostrarTarjeta.landLord"><img
                src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="mostrarTarjeta.landLord">
      <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Landlord Name</mat-label>
                <input matInput placeholder="Landlord Name" [(ngModel)]='data_land.name'>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Landlord Principal E-mail</mat-label>
                <input matInput placeholder="Landlord Principal E-mail" [(ngModel)]='data_land.principalEmail'>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Landlord Secondary E-mail (If Applies)</mat-label>
                <input matInput placeholder="Landlord Secondary E-mail (If Applies)"
                  [(ngModel)]='data_land.secondaryEmail'>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Landlord Principal Phone</mat-label>
                <input matInput placeholder="Landlord Principal Phone" [(ngModel)]='data_land.principalPhone'>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Landlord Secondary Phone (If Applicable)</mat-label>
                <input matInput placeholder="Landlord Secondary Phone (If Applicable)"
                  [(ngModel)]='data_land.secundaryPhone'>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">

              <p class="subtitle" style="font-size: 12px;">
                Fiscal Invoice
              </p>
              <mat-checkbox class="example-margin" [(ngModel)]='data_land.fiscalInvoice'
                [checked]="data_land.fiscalInvoice"></mat-checkbox>

            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-button page__section-button--big" style="left: 9px;">
              <button class="button-icon button-icon--report" (click)="exp_land();">
                Export Landlord
              </button>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div style="display: flex; justify-content: space-between; width: 100%;">
              <span>
                <p class="Title" style="font-size: 13px;">
                  Payment Methods
                </p>

              </span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="textarea">
              <mat-checkbox class="example-margin" [(ngModel)]='data_land.creditCard'
                [checked]="data_land.creditCard">
                <span class="subtitle" style="font-size: 12px;">Credit Card</span>
              </mat-checkbox>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="textarea" *ngFor="let datacart of ca_creditCard">
              <mat-checkbox class="example-margin" (change)="guarda_card($event, datacart);"
                [checked]="datacart.checked" *ngIf="data_land.creditCard">
                <span class="subtitle" style="font-size: 12px;">{{datacart.creditCard}}</span>
              </mat-checkbox>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="textarea">
              <mat-checkbox class="example-margin" [(ngModel)]='data_land.cash' [checked]="data_land.cash">
                <span class="subtitle" style="font-size: 12px;">Cash</span>
              </mat-checkbox>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="textarea">
              <mat-checkbox class="example-margin" [(ngModel)]='data_land.checks' [checked]="data_land.checks">
                <span class="subtitle" style="font-size: 12px;">Checks</span>
              </mat-checkbox>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="textarea" *ngIf="data_land.checks">
              <mat-form-field appearance="fill">
                <mat-label>Pay to the Order Of</mat-label>
                <input matInput required placeholder="Pay to the Order Of" type="text" #message_payto
                  maxlength="150" [(ngModel)]='data_land.payToOrderOf'>
                <mat-hint align="end">{{message_payto.value.length}} / 150</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="textarea">
              <mat-checkbox class="example-margin" [(ngModel)]='data_land.wireTransfer'
                [checked]="data_land.wireTransfer">
                <span class="subtitle" style="font-size: 12px;">Wire Transfer</span>
              </mat-checkbox>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="page__section-buttong"
              style="display: flex; justify-content: flex-end; flex: 0px !important;">
              <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                (click)='saveLandLord();'>
                Save LD Generals
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="data_land.wireTransfer">
          <p class="page__section-name" style="font-size: 14px;">Banking Details List</p>
        </div>
        <!----------------------------------------------START TABLE BANK  DETAILS --------------------------------->
        <mat-dialog-content class="mat-typography" *ngIf="data_land.wireTransfer" style="max-height: fit-content;">
          <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 10px; "
            *ngFor="let data_land of data_land_list; let i = index">
            <mat-grid-list cols="4" rowHeight="70px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>Account Type</mat-label>
                    <mat-select disabled [(ngModel)]='data_land.accountType'>
                      <mat-option *ngFor="let item of ca_accountType" [value]="item.id">{{item.accountType}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>Account Holders Name</mat-label>
                    <input disabled matInput required placeholder="Account Holders Name" type="text"
                      #message_holdername maxlength="100" [(ngModel)]='data_land.accountHoldersName'>
                    <mat-hint align="end">{{message_holdername.value.length}} / 100</mat-hint>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>Bank Name</mat-label>
                    <input disabled matInput required placeholder="Bank Name" type="text" #message_bankname
                      maxlength="100" [(ngModel)]='data_land.bankName'>
                    <mat-hint align="end">{{message_bankname.value.length}} / 100</mat-hint>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>Account Number</mat-label>
                    <input disabled matInput required placeholder="Account Number"
                      [(ngModel)]='data_land.accountNumber'>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>CLABE</mat-label>
                    <input disabled matInput placeholder="CLABE" [(ngModel)]='data_land.clabetype'>
                    <!-- <mat-select placeholder="Type of Bank CLABE" [(ngModel)]='data_land.clabetype'>
                  <mat-option *ngFor="let data of ca_clabetype" [value]="data.clave">{{data.clave}}</mat-option>
                </mat-select> -->
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>Routing Number (ABA)</mat-label>
                    <input disabled matInput placeholder="Routing Number (ABA)"
                      [(ngModel)]='data_land.routingNumber'>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <mat-label>SWIFT / BIC Code ( If Applies)</mat-label>
                    <input disabled matInput placeholder="SWIFT / BIC Code ( If Applies)"
                      [(ngModel)]='data_land.swiftBicCode'>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_final">
                  <mat-form-field appearance="fill">
                    <!-- <mat-label>Comment</mat-label> -->
                    <mat-label>IBAN</mat-label>
                    <input disabled matInput placeholder="IBAN" type="text" #message_bankcomment maxlength="150"
                      [(ngModel)]='data_land.comment'>
                    <!-- <mat-hint align="end">{{message_bankcomment.value.length}} / 30</mat-hint> -->
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4" [rowspan]="1">
                <div class="input_final textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Comments</mat-label>
                    <input disabled matInput required placeholder="Account Comments" type="text" #message_pcomment
                      [(ngModel)]='data_land.generalComments'>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                Account # {{i+1}}
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <img src="assets/icons/pencil.png" style="width: 20px; margin-left: 70px;"
                  (click)="editBank(data_land)">
                &nbsp;&nbsp;
                <img src="assets/icons/delete.png" style="width: 20px; margin-left: 20px;"
                  (click)="deletebank(data_land)">
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-dialog-content>

        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="addPropperty">
              <div class="page__section-button page__section-button--big">
                <button class="button-icon button-icon--more" (click)="addBank();">
                  Account details
                </button>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!------------------------------------------- END TABLE BANK  DETAILS ------------------------------------------------->

      </div>
      <!----------------------------------- HISTORICO DE LANDLORDS ---------------------------------------------------->
    </div>
  </div>
  <!--TERMINA LEASE SUMMARY-->
  <!------------------------------------------------------------------------------------------------------------------------->