<mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="wid">
        <p class="page__section-name">Inspections & Repairs</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
            <mat-form-field appearance="fill">
                <mat-label>LSF Version</mat-label>
                <mat-select [(ngModel)]='lsf_service_detail_id' (selectionChange)="refresh_component();">
                    <mat-option *ngFor="let data of versions_lsf" [value]="data.idServiceDetail">{{data.catCategoryText}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="page__section-button page__section-button--big" style="left: 9px;">
        <button class="button-icon button-icon--report" (click)="inspection();">
          Export I&R
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>
  </mat-grid-list>
  <!--------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------------------->
      <!--MAQUETA Property Inspection / Move In -->
      <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 10px;">
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div style="display:flex; justify-content: space-between; width: 100%;">
              <div>
                <p class="page__section-name">Property Inspection / Move In </p>
              </div>
              <div>
                <span class="browser" style="cursor: pointer;"
                  (click)="mostrarTarjeta.move_in = !mostrarTarjeta.move_in" *ngIf="!mostrarTarjeta.move_in"><img
                    src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>

                <span class="browser" style="cursor: pointer;"
                  (click)="mostrarTarjeta.move_in = !mostrarTarjeta.move_in" *ngIf="mostrarTarjeta.move_in"><img
                    src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div style="padding: 10px;" *ngIf="mostrarTarjeta.move_in">
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central textarea"
                style="display: flex;  height: 100%;">
                <div *ngIf="data.id != 0">
                  <span class="text-mini gray_05">Creation Date</span><br />
                  {{permanentHome.createdDate | date: 'dd MMM yyyy'}}
                </div>
                <div *ngIf="data.id == 0">
                  <span class="text-mini gray_05">Creation Date</span><br />
                  {{dateNew | date: 'dd MMM yyyy'}}
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Report Date</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Report Date"
                    [(ngModel)]="data_move_in.reportDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central textarea"
                style="display: flex; height: 90%;">
                <div *ngIf="data.id != 0">
                  <span class="text-mini gray_05">Report By</span><br />
                  {{data_move_in.createdByNavigation?.name}} {{data_move_in.createdByNavigation?.lastName}}
                </div>
                <div>
                  <span class="text-mini gray_05">Report By</span><br />
                  {{user.name}} {{user.lastName}}
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Status Report</mat-label>
                  <mat-select [(ngModel)]="data_move_in.idStatus">
                    <mat-option *ngFor="let item of ca_status_report" [value]='item.id'>{{item.status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central textarea"
                style="display: flex; height: 90%;">
                <div>
                  <span class="text-mini gray_05">Address</span><br />
                  {{permanentHome.address}}
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central textarea"
                style="display: flex; height: 90%;">
                <div>
                  <span class="text-mini gray_05">Neighborhood</span><br />
                  {{permanentHome.neighborhood}}
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central textarea"
                style="display: flex; height: 90%;">
                <div>
                  <span class="text-mini gray_05">ZIP Code</span><br />
                  {{permanentHome.zip}}
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="textarea" style="margin-top: -80px;">
                <br><br>
                <p class="subtitle" style="font-size: 12px; margin: 0px;">Notes</p>
                <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                  <textarea matInput #message maxlength="500" [(ngModel)]="data_move_in.notes"></textarea>
                  <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="page__section-buttong"
                style="display: flex; justify-content: flex-start; flex: 0px !important;">
                <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                  (click)="save_PropertyReport(1)">
                  Save Generals
                </button>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div style="width: 100%;">
                <div>
                  <p class="page__section-name">Sections</p>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="mat-elevation-z5" style="padding: 20px; margin-bottom: 20px; position: relative;"
            *ngFor="let data_ of data_move_in.propertyReportSections; let r = index">
            <div class="textarea" style="text-align: end; width: 94%;">
              <span class="browser" style="cursor: pointer;" (click)="data_.show = true" *ngIf="!data_.show"><img
                  src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>
              <span class="browser" style="cursor: pointer;" (click)="data_.show = false" *ngIf="data_.show"><img
                  src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
            </div>
            <img src="assets/icons/quit.svg" class="delete" (click)='deleteMoveInOut(data_, r,1)'>
            <br>
            <mat-grid-list cols="5" rowHeight="70px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Property Section</mat-label>
                    <mat-select [(ngModel)]="data_.propertySection">
                      <mat-option *ngFor="let item of ca_propertySection" [value]='item.id'>{{item.propertySection}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Condition</mat-label>
                    <mat-select [(ngModel)]="data_.status">
                      <mat-option *ngFor="let item of ca_statuspropertySection" [value]='item.id'>{{item.status}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Report Date</mat-label>
                    <input matInput [matDatepicker]="picker_" placeholder="Report Date" [(ngModel)]="data_.reportDate">
                    <mat-datepicker-toggle matSuffix [for]="picker_"></mat-datepicker-toggle>
                    <mat-datepicker #picker_></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div class="input_central textarea" style="height: 100%;">
                  <p class="subtitle" style="font-size: 12px; margin: 0px;">Fair</p>
                  <mat-checkbox [(ngModel)]="data_.noneAction" [color]="accent"
                    (change)="actions_Change($event, data_,'fair');" [checked]="data_.noneAction"></mat-checkbox>
                </div>
                <div class="input_central textarea" style="height: 100%;">
                  <p class="subtitle" style="font-size: 12px; margin: 0px;">Repairs</p>
                  <mat-checkbox [(ngModel)]="data_.needRepair" [checked]="data_.needRepair"
                    (change)="actions_Change($event, data_,'needRepair');" [color]="warn"></mat-checkbox>
                </div>
                <div class="input_central textarea" style="height: 100%;">
                  <p class="subtitle" style="font-size: 12px; margin: 0px;">Clean</p>
                  <mat-checkbox [(ngModel)]="data_.needClean" [checked]="data_.needClean"
                    (change)="actions_Change($event, data_,'needClean');" [color]="warn"></mat-checkbox>
                </div>
                <div class="input_central textarea" style="height: 100%;">
                  <p class="subtitle" style="font-size: 12px; margin: 0px;">Replace</p>
                  <mat-checkbox [(ngModel)]="data_.needReplace" [checked]="data_.needReplace"
                    (change)="actions_Change($event, data_,'needReplace');" [color]="warn"></mat-checkbox>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <div *ngIf="data_.show">
              <mat-grid-list cols="4" rowHeight="150px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="textarea">
                    <br><br>
                    <p class="subtitle" style="font-size: 12px; margin: 0px;">Report Details</p>
                    <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                      <textarea matInput #message maxlength="500" [(ngModel)]="data_.reportDetails"></textarea>
                      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <!-------------------------------------STAR PHOTOS ---------------------------------------------------->
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div>
                    <p class="page__section-name" *ngIf="data_.propertySection > 0">
                      {{get_name_section(data_.propertySection)}} Photos</p>
                    <p class="page__section-name" *ngIf="!data_.propertySection">Photos</p>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
              </mat-grid-list>
              <ngx-file-drop style="display:none" class="file-drop" dropZoneLabel="Drop files here"
                (onFileDrop)="droppedFotos($event, r, 1)" (onFileOver)="fileOver($event, i)"
                (onFileLeave)="fileLeave($event, i)" [multiple]="false">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  Drag and Drop or
                  <p class="browser" id="doc{{r}}" (click)="openFileSelector()">Browse File</p>
                </ng-template>
              </ngx-file-drop>
              <div class="photos">
                <div class="photo" *ngFor="let it of data_.photosPropertyReportSections; let p = index">
                  <img src="assets/icons/quit.svg" class="delete" (click)="deletePhoto(r, p)" *ngIf="it.id == 0">
                  <img src="{{it.base64}}" class="img" alt="" *ngIf="it.id == 0">
                  <img src="{{_services.url_images}}{{it.photo}}" class="img" alt="" *ngIf="it.id != 0">
                  <!-- <img src="https://cdn.oldskull.net/wp-content/uploads/459636405_b8d2757a59_o.jpg" class="img" alt="" 
                    *ngIf="it.id != 0">-->
                </div>
              </div>
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="addPropperty">
                    <div class="page__section-button page__section-button--big" style="left: 6px;">
                      <button class="button-icon button-icon--more" (click)="addFotosMove(r)">
                        Add Photos
                      </button>
                    </div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <!-------------------------------------END PHOTOS ---------------------------------------------------->

              <!----------------------------------------------------------------------------------------->
              <!--START TABLE INVENTORY-->
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div style="width: 100%;">
                    <div>
                      <p class="page__section-name">Inventory</p>
                    </div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>

              <table class="mat-elevation-z8 textarea mat-table">
                <tr class="mat-header-row">
                  <th class="mat-header-cell">Item</th>
                  <th class="mat-header-cell">Description</th>
                  <th class="mat-header-cell">Quantity</th>
                  <th class="mat-header-cell">Photos</th>
                  <th class="mat-header-cell"></th>
                </tr>
                <tr class="mat-row" *ngFor="let datainv of data_.sectionInventories; let in = index">
                  <td class="mat-cell">{{get_names_items(datainv.item)}}</td>
                  <td class="mat-cell">{{datainv.description}}</td>
                  <td class="mat-cell">{{datainv.quantity}}</td>
                  <td class="mat-cell">{{datainv.photosInventories.length}}</td>
                  <td class="mat-cell">
                    <img src="assets\icons\pencil.png" style="width: 20px;"
                      (click)="editSectionInventory(datainv, in, r,data_.propertySection,1)">
                    &nbsp;&nbsp;
                    <img src="assets/icons/delete.png" style="width: 20px;"
                      (click)="deleteSectionInventory(datainv, data_.sectionInventories,1)">
                  </td>
                </tr>
              </table>
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="addPropperty">
                    <div class="page__section-button page__section-button--big" style="left: 6px;">
                      <button class="button-icon button-icon--more"
                        (click)="addInventoriModal(r,data_.propertySection, 1,data_)">
                        Add Inventory
                      </button>
                    </div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="page__section-buttong"
                    style="display: flex; justify-content: flex-start; flex: 0px !important;">
                    <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                      (click)="save_PropertyReportSection(data_)">
                      Save Section
                    </button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>

            </div>
          </div>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="addPropperty">
                <div class="page__section-button page__section-button--big" style="left: 6px;">
                  <button class="button-icon button-icon--more" (click)="addMoveInOut(data_move_in.id,1);">
                    Add Section
                  </button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div style="width: 100%;">
                <div>
                  <p class="page__section-name">Keys Inventory</p>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <table class="mat-elevation-z8 textarea mat-table">
            <tr class="mat-header-row">
              <th class="mat-header-cell">Quantity</th>
              <th class="mat-header-cell">Section</th>
              <th class="mat-header-cell">Description</th>
              <th class="mat-header-cell"></th>
            </tr>
            <tr class="mat-row" *ngFor="let inventory of data_move_in.keyInventories; let key = index">
              <td class="mat-cell">{{inventory.quantity}}</td>
              <td class="mat-cell">{{getProperty(inventory.section)}}</td>
              <td class="mat-cell">{{inventory.description}}</td>
              <td class="mat-cell">
                <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editKeyInventory(inventory, key)">
                &nbsp;&nbsp;
                <img src="assets/icons/delete.png" style="width: 20px;" (click)="deletKeyInventory(inventory,1)">
              </td>
            </tr>
          </table>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="addPropperty">
                <div class="page__section-button page__section-button--big" style="left: 6px;">
                  <button class="button-icon button-icon--more" (click)="addKeyInventory(1)">
                    Add Key
                  </button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div style="width: 100%;">
                <div>
                  <p class="page__section-name">Attendees</p>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <table class="mat-elevation-z8 textarea mat-table">
            <tr class="mat-header-row">
              <th class="mat-header-cell">Title</th>
              <th class="mat-header-cell">Name</th>
              <th class="mat-header-cell">E-mail</th>

              <th class="mat-header-cell"></th>
            </tr>
            <tr class="mat-row" *ngFor="let attend of data_move_in.attendees; let at = index">
              <td class="mat-cell">{{get_attendiees_vales(attend.att)}}</td>
              <td class="mat-cell">{{attend.name}}</td>
              <td class="mat-cell">{{attend.email}}</td>

              <td class="mat-cell">
                <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editAttend(attend, at,1)">
                &nbsp;&nbsp;
                <img src="assets/icons/delete.png" style="width: 20px;" (click)="deleteAttend(attend,1)">
              </td>
            </tr>
          </table>
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="addPropperty">
                <div class="page__section-button page__section-button--big" style="left: 6px;">
                  <button class="button-icon button-icon--more" (click)="addAttendees(1)">
                    Add Attendee
                  </button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <!------------------------------------------------FIN MOV IN--------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------->
      <!--MAQUETA Inspections & Repairs -->
      <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">

        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div style="display:flex; justify-content: space-between; width: 100%;">
              <div>
                <p class="page__section-name">Property Inspections & Repairs</p>
              </div>
              <div>
                <span class="browser" style="cursor: pointer;"
                  (click)="mostrarTarjeta.repairs = !mostrarTarjeta.repairs" *ngIf="!mostrarTarjeta.repairs"><img
                    src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>

                <span class="browser" style="cursor: pointer;"
                  (click)="mostrarTarjeta.repairs = !mostrarTarjeta.repairs" *ngIf="mostrarTarjeta.repairs"><img
                    src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>

              </div>
            </div>
          </mat-grid-tile>

        </mat-grid-list>

        <div *ngIf="mostrarTarjeta.repairs">

          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Status Report</mat-label>
                  <mat-select [(ngModel)]="permanentHome.groupIr[0].idStatus" (selectionChange)="save_ir_status();">
                    <mat-option *ngFor="let item of ca_status_report" [value]='item.id'>{{item.status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div style="width: 100%;">
                <div>
                  <p class="page__section-name">Inspections</p>
                </div>
              </div>
            </mat-grid-tile>

          </mat-grid-list>

          <div class="mat-elevation-z5" style="padding: 20px; margin-bottom: 20px; position: relative;"
            *ngFor="let item of data_inspection; let k = index">
            <div class="textarea" style="text-align: end; width: 94%;">
              <span class="browser" style="cursor: pointer;" (click)="item.show = true" *ngIf="!item.show"><img
                  src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>
              <span class="browser" style="cursor: pointer;" (click)="item.show = false" *ngIf="item.show"><img
                  src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
            </div>
            <img src="assets/icons/quit.svg" class="delete" style="background: transparent!important;"
              (click)="delete_inspection(item)">
            <mat-grid-list cols="4" rowHeight="70px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Property Section</mat-label>
                    <mat-select [(ngModel)]="item.propertySection">
                      <mat-option *ngFor="let s of ca_propertySection" [value]='s.id'>{{s.propertySection}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Inspection Type</mat-label>
                    <mat-select [(ngModel)]="item.inspectType">
                      <mat-option *ngFor="let s of ca_inspec_type" [value]='s.id'>{{s.type}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Inspection Date</mat-label>
                    <input matInput [matDatepicker]="pickertres" placeholder="Initial Inspection Date"
                      [(ngModel)]='item.initialInspectionDate'>
                    <mat-datepicker-toggle matSuffix [for]="pickertres"></mat-datepicker-toggle>
                    <mat-datepicker #pickertres></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

            </mat-grid-list>

            <div *ngIf="item.show">
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <p class="page__section-name" style="font-size: 14px;"> Attendees </p>
                </mat-grid-tile>
                <!------------------------------------START ATTENDEES INSPEC----------------------------------------------->

                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <table class="mat-elevation-z8 textarea mat-table">
                    <tr class="mat-header-row">
                      <th class="mat-header-cell">Title</th>
                      <th class="mat-header-cell">Name</th>
                      <th class="mat-header-cell">E-mail</th>

                      <th class="mat-header-cell"></th>
                    </tr>
                    <tr class="mat-row" *ngFor="let attend of item.attendeeInspecs; let at = index">
                      <td class="mat-cell">{{get_attendiees_vales(attend.att)}}</td>
                      <td class="mat-cell">{{attend.name}}</td>
                      <td class="mat-cell">{{attend.email}}</td>

                      <td class="mat-cell">
                        <img src="assets\icons\pencil.png" style="width: 20px;" (click)="editAttendInspec(attend, at)">
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <!------------------------------------END ATTENEDES INSPEC--------------------------------------------------->
              </mat-grid-list>

              <!-------------------------------------STAR PHOTOS ---------------------------------------------------->
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="addPropperty">
                    <div class="page__section-button page__section-button--big">
                      <button class="button-icon button-icon--more" (click)="addAttendeesInspec(item)">
                        Add Attendee
                      </button>
                    </div>
                  </div>
                </mat-grid-tile>
                <br>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div>
                    <p class="page__section-name" style="font-size: 14px;">Photos</p>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
              </mat-grid-list>
              <ngx-file-drop style="display:none" class="file-drop" dropZoneLabel="Drop files here"
                (onFileDrop)="droppedFotosInspec($event, k, item)" (onFileOver)="fileOver($event, i)"
                (onFileLeave)="fileLeave($event, i)" [multiple]="false">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  Drag and Drop or
                  <p class="browser" id="doc_i{{k}}" (click)="openFileSelector()">Browse File</p>
                </ng-template>
              </ngx-file-drop>
              <div class="photos">
                <div class="photo" *ngFor="let it of item.photosInspecs; let p = index">
                  <img src="assets/icons/quit.svg" class="delete" (click)="deletePhoto_ins(k, p)">
                  <img src="{{it.base64}}" class="img" alt="" *ngIf="it.id == 0">
                  <img src="{{_services.url_images}}{{it.photo}}" class="img" alt="" *ngIf="it.id != 0">
                  <!--<img src="https://cdn.oldskull.net/wp-content/uploads/459636405_b8d2757a59_o.jpg" class="img" alt=""
                  *ngIf="it.id != 0">-->
                </div>
              </div>
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="addPropperty">
                    <div class="page__section-button page__section-button--big">
                      <button class="button-icon button-icon--more" (click)="addFotosMoveInspec(k)">
                        Add Photos
                      </button>
                    </div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="textarea">
                    <p class="subtitle" style="font-size: 12px; margin: 0px;">Inspection Details</p>
                    <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                      <textarea matInput #messager maxlength="500" [(ngModel)]="item.inspecDetails"></textarea>
                      <mat-hint align="end">{{messager.value.length}} / 500</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="page__section-buttong"
                    style="display: flex; justify-content: flex-start; flex: 0px !important;">
                    <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                      (click)="update_ispection(item)">
                      Update Inspection
                    </button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <!-------------------------------------END PHOTOS ---------------------------------------------------->
            </div>
          </div>

          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="addPropperty">
                <div class="page__section-button page__section-button--big">
                  <button class="button-icon button-icon--more" (click)='addInspectionDate("1")'>
                    Add Inspection
                  </button>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div style="width: 100%;">
                <div>
                  <p class="page__section-name">Repairs</p>
                </div>
              </div>
            </mat-grid-tile>

          </mat-grid-list>

          <div class="mat-elevation-z5" style="padding: 20px; margin-bottom: 20px; position: relative;"
            *ngFor="let item of data_repairs; let i = index">
            <div class="textarea" style="text-align: end; width: 94%;">
              <span class="browser" style="cursor: pointer;" (click)="item.show = true" *ngIf="!item.show"><img
                  src="../../../../assets/icons/arrow_down.png" style="width: 22px;"></span>
              <span class="browser" style="cursor: pointer;" (click)="item.show = false" *ngIf="item.show"><img
                  src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
            </div>
            <img src="assets/icons/quit.svg" class="delete" style="background: transparent!important;"
              (click)="delete_obj_repair(item)">

            <mat-grid-list cols="4" rowHeight="70px">

              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Repair Type</mat-label>
                    <mat-select [(ngModel)]="item.repairType">
                      <mat-option *ngFor='let data of ca_repair' [value]='data.id'>{{data.repairType}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Supplier Partner</mat-label>
                    <mat-select [(ngModel)]="item.supplierPartner" (ngModelChange)="_supplier();">
                      <mat-option *ngFor="let data of SupplierCompany_repairs" [value]="data.id"> {{data.comercialName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Repair Start Date</mat-label>
                    <input matInput [matDatepicker]="pickertres_Repair" placeholder="Repair Start Date"
                      [(ngModel)]="item.repairStartDate">
                    <mat-datepicker-toggle matSuffix [for]="pickertres_Repair"></mat-datepicker-toggle>
                    <mat-datepicker #pickertres_Repair></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="input_central textarea">
                  <mat-form-field appearance="fill">
                    <mat-label>Repair End Date</mat-label>
                    <input matInput [matDatepicker]="pickertres_RepairEnd" placeholder="Repair End Date"
                      [(ngModel)]="item.repairEndDate">
                    <mat-datepicker-toggle matSuffix [for]="pickertres_RepairEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickertres_RepairEnd></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>

            </mat-grid-list>
            <div *ngIf="item.show">
              <mat-grid-list cols="4" rowHeight="130px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_central textarea">
                    <mat-form-field appearance="fill">
                      <mat-label>Total Days</mat-label>
                      <input matInput placeholder="Total Days" type="number" min="0" [(ngModel)]="item.totalDays">
                    </mat-form-field>
                  </div>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_central textarea">
                    <mat-form-field appearance="fill">
                      <mat-label>Total Cost of Repair</mat-label>
                      <span matPrefix>$ &nbsp;</span>
                      <input matInput placeholder="Total Cost of Repair" type="number" min="0"
                        [(ngModel)]="item.totalCostRepair">
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_central textarea">
                    <mat-form-field appearance="fill">
                      <mat-label>Currency</mat-label>
                      <mat-select [(ngModel)]="item.currency">
                        <mat-option *ngFor="let data of ca_currency" [value]="data.id">{{data.currency}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_central textarea">
                    <mat-form-field appearance="fill">
                      <mat-label>Payment Responsibility</mat-label>
                      <mat-select [(ngModel)]="item.paymentResponsibility">
                        <mat-option *ngFor="let data of ca_resppayrep"
                          [value]="data.id">{{data.responsable}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="4" rowHeight="130px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="textarea">
                    <br><br>
                    <p>Comments</p>
                    <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                      <textarea matInput #message maxlength="500" [(ngModel)]="item.comments"></textarea>
                      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div style="width: 100%;">
                    <div>
                      <p class="page__section-name">Upload Documents</p>
                    </div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>

              <div>
                <mat-grid-list cols="1">
                  <div class="page__section margin-top-min">
                    <div *ngIf="item.documentRepairs.length != 0" class="page__section">
                      <div class="page__section-input page__section-input--6_1">
                        <span class="documents__index documents__index--task">
                          Document Name
                        </span>
                      </div>
                      <div class="page__section-input page__section-input--6_1">
                        <span class="documents__index documents__index--task">

                        </span>
                      </div>
                      <div class="page__section-input page__section-input--6_1">
                        <span class="documents__index documents__index--task">

                        </span>
                      </div>
                      <div class="page__section-input page__section-input--6_1">
                        <span class="documents__index documents__index--task">

                        </span>
                      </div>
                      <div class="page__section-input page__section-input--6_1">
                        <span class="documents__index documents__index--task">

                        </span>
                      </div>
                      <div class="page__section-input page__section-input--6_1">
                        <span class="documents__index documents__index--task">

                        </span>
                      </div>
                    </div>

                    <div class="page__section documents__ascard"
                      *ngFor="let doc of item.documentRepairs; let j = index">
                      <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
                        style="background: transparent!important;" (click)="deleteDocument_DB_inspec(i, j, doc, item)">
                      <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete"
                        style="background: transparent!important; margin-right: 25px;" *ngIf="doc.id != 0"
                        (click)="openRepairsFileOnWindow(doc.fileRequest)">
                      <div class="page__section-input page__section-input--6_2 documents__ascard--task">
                        {{(doc.fileName.length>30) ? (doc.fileName | slice:0:30)+'..': doc.fileName}}
                      </div>
                      <div class="page__section-input page__section-input--6_1 documents__ascard--task">

                      </div>
                      <div class="page__section-input page__section-input--6_2 documents__ascard--task">
                        {{doc.createdDate | date: "MM/dd/yyyy"}}
                      </div>
                      <div class="page__section-input page__section-input--6_1 documents__ascard--task">

                      </div>
                      <div class="page__section-input page__section-input--6_1 documents__ascard--task">

                      </div>
                      <div class="page__section-input page__section-input--6_1 documents__ascard--task">

                      </div>
                    </div>

                  </div>
                </mat-grid-list>
              </div>

              <ngx-file-drop class="file-drop" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, i)"
                (onFileOver)="fileOver($event, i)" (onFileLeave)="fileLeave($event, i)" [multiple]="false"
                [ngClass]="{'hide': item.documentRepairs.length > 0}">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  Drag and Drop or
                  <p class="browser" id="doc{{i}}" (click)="openFileSelector()">Browse File</p>
                </ng-template>
              </ngx-file-drop>

              <div *ngIf="item.documentRepairs.length > 0">
                <mat-grid-list cols="4" rowHeight="70px">
                  <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <div class="addPropperty">
                      <div class="page__section-button page__section-button--big"
                        style="flex: 0 1 180px !important; left: 6px !important;">
                        <button class="button-icon button-icon--more" (click)='addDocument_1(i)'>
                          Add Document
                        </button>
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
              <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <div class="page__section-buttong"
                    style="display: flex; justify-content: flex-start; flex: 0px !important;">
                    <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                      (click)="update_repair(item)">
                      Update Repair
                    </button>
                  </div>
                </mat-grid-tile>

              </mat-grid-list>
            </div>
          </div>

          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="addPropperty">
                <div class="page__section-button page__section-button--big">
                  <button class="button-icon button-icon--more" (click)='addRepairs()'>
                    Add Repair
                  </button>
                </div>
              </div>
            </mat-grid-tile>

          </mat-grid-list>
        </div>
      </div>
      <!------------------------------------------------------------------------------------------------------------------------->