<div *ngIf="show">
  <!-----------------------------------header-------------------------------------->
  <div fxLayout="row">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="primary_title"></h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <!-----------------------------------content-------------------------------------->
  <mat-dialog-content class="mat-typography">

    <mat-grid-list cols="4" rowHeight="70px">

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="textarea" style="height: 100%;">
          <h3 class="page__section-name" style="font-size: 24px; margin: 0px; font-weight: 400; align-items: center;">
            Request Invoice</h3>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill" *ngxPermissionsOnly="['Finance']">
            <mat-label>Due Date</mat-label>
            <input matInput required [matDatepicker]="pickertres" [(ngModel)]="data_registro.requestInvoice.invoiceObjectGeneral.serviceInvoices[0].dueDate">
            <mat-datepicker-toggle matSuffix [for]="pickertres"></mat-datepicker-toggle>
            <mat-datepicker #pickertres></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea" *ngxPermissionsOnly="['Finance']">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="data_registro.requestInvoice.invoiceObjectGeneral.serviceInvoices[0].status">
              <mat-option *ngFor="let item of ca_status" [value]="item.id">{{item.status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="textarea">
          <p class="page__section-name">Supplier Information</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Supplier Partner</span><br />
            {{data_registro.requestInvoice.supplierPartner}}
          </div>
        </div>
        <img src="/assets/icons/perfil.svg" alt="" style="position: absolute; right: 20px;">
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Consultant</span><br />
            {{data_registro.requestInvoice.consultant}}
          </div>
        </div>
        <img src="/assets/icons/consultant.svg" alt="" style="position: absolute; right: 20px;">
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Country</span><br />
            {{data_registro.requestInvoice.country}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">City</span><br />
            {{data_registro.requestInvoice.city}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Partner</span><br />
            {{data_registro.requestInvoice.partner}}
          </div>
        </div>
        <img src="/assets/icons/perfil.svg" alt="" style="position: absolute; right: 20px;">
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Client</span><br />
            {{data_registro.requestInvoice.client}}
          </div>
        </div>
        <img src="/assets/icons/consultant.svg" alt="" style="position: absolute; right: 20px;">
      </mat-grid-tile>


      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="textarea">
          <h3 class="page__section-name" style="font-size: 16px; margin: 0px;">Summary</h3>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Total</span><br />
            {{data_registro.requestInvoice.total | currency}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central">
          <div>
            <span class="text-mini gray_05">Currency</span><br />
            {{data_registro.requestInvoice.currency}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

    </mat-grid-list>

    <div class="textarea margin_table">
      <p class="subtitledos">Invoice Detail</p>
    </div>

    <div class="textarea margin_table">
      <mat-slide-toggle [(ngModel)]="invoiceDetail"></mat-slide-toggle>
    </div>


    <div *ngIf="invoiceDetail">
      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="textarea">
            <div>
              <p class="page__section-name">Services</p>
            </div>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <table class="mat-elevation-z8 textarea mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Service Line</th>
          <th class="mat-header-cell">Work Order</th>
          <th class="mat-header-cell">Service / Service ID</th>
          <th class="mat-header-cell">Amount To Invoice</th>
          <th class="mat-header-cell">Hours To Invoice</th>
        </tr>
        <tr class="mat-row" *ngFor="let item of data_registro.requestInvoice.services">
          <td class="mat-cell">{{item.serviceLine}}</td>
          <td class="mat-cell">{{item.workOrder}}</td>
          <td class="mat-cell">{{item.serviceID[0]}}</td>
          <td class="mat-cell">{{item.amountToInvoice}}</td>
          <td class="mat-cell">
            <div class="table-row__check" *ngIf="item.hoursToInvocie == 'true'">
              <img src="assets/table-icons/check.png" *ngIf="item.hoursToInvocie == 'true'" />
            </div>

            <div class="table-row__check" *ngIf="item.hoursToInvocie == 'false'">
              <img src="assets/table-icons/uncheck.png" *ngIf="!item.hoursToInvocie == 'false'" />
            </div>

            <div class="table-row__check" *ngIf="item.hoursToInvocie != 'true' && item.hoursToInvocie != 'false'">
              {{item.hoursToInvocie}}
            </div>
          </td>
        </tr>
      </table>
    </div>

    <br>

    <div class="textarea margin_table">
      <p class="subtitledos">Additional Expenses</p>
    </div>

    <div class="textarea margin_table">
      <mat-slide-toggle [(ngModel)]="additionalDetail"></mat-slide-toggle>
    </div>

    <br>

    <div *ngIf="additionalDetail">

      <table class="mat-elevation-z8 textarea mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Requested</th>
          <th class="mat-header-cell">Concept</th>
          <th class="mat-header-cell">Amount</th>
          <th class="mat-header-cell">Currency</th>
        </tr>
        <tr class="mat-row" *ngFor="let item of data_registro.requestInvoice.additionalExpense">
          <td class="mat-cell">
            <div>
              <img src="assets/table-icons/check.png" *ngIf="item.requested" width="15px" />
              <img src="assets/table-icons/uncheck.png" *ngIf="!item.requested" width="15px" />
            </div>
          </td>
          <td class="mat-cell">{{item.concept}}</td>
          <td class="mat-cell">{{item.amount}}</td>
          <td class="mat-cell">{{item.currency}}</td>
        </tr>
      </table>
    </div>

    <br>

    <div *ngxPermissionsOnly="['Supplier']">
      <div class="textarea margin_table">
        <p class="subtitledos">Payment Info</p>
      </div>

      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="input_central textarea">
            <mat-form-field appearance="fill">
              <mat-label [ngClass]="{valid: active_method}">Payment Method</mat-label>
              <mat-select matNativeControl (focus)="active_method = false" required
                [(ngModel)]="data_registro.requestInvoice.invoiceObjectGeneral.methodPayment">
                <mat-option *ngFor="let item of ca_paymentMetohod" [value]="item.id">{{item.paymentMethods}}
                </mat-option>
              </mat-select>
              <mat-error>Field is required</mat-error>
              <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_method">Field is required</mat-hint>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <br>

      <div *ngIf="data_registro.requestInvoice.invoiceObjectGeneral.methodPayment == 2">
        <table class="mat-elevation-z8 textarea mat-table">
          <tr class="mat-header-row">
            <th class="mat-header-cell"></th>
            <th class="mat-header-cell">Account Type</th>
            <th class="mat-header-cell">Account Holder’s Name</th>
            <th class="mat-header-cell">Bank Name</th>
            <th class="mat-header-cell">Account Number / CLABE</th>
            <th class="mat-header-cell">International Payment Acceptance</th>
            <th class="mat-header-cell"></th>
          </tr>
          <tr class="mat-row" *ngFor="let data of data_registro.paymentMethods.wireTransfer">
            <td class="mat-cell">
              <mat-checkbox></mat-checkbox>
            </td>
            <td class="mat-cell">{{data.accountType}}</td>
            <td class="mat-cell">{{data.accountHoldersName}}</td>
            <td class="mat-cell">{{data.bankName}}</td>
            <td class="mat-cell">{{data.accountNumber}}</td>
            <td class="mat-cell">
              <div class="table-row__check">
                <img src="assets/table-icons/check.png" *ngIf="data.internationalPaymentAcceptance" />
                <img src="assets/table-icons/uncheck.png" *ngIf="!data.internationalPaymentAcceptance" />
              </div>
            </td>
            <td class="mat-cell">
              <img src="assets\icons\pencil.png" style="width: 20px;">
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="data_registro.requestInvoice.invoiceObjectGeneral.methodPayment == 1">
        <div class="textarea" *ngFor="let data of data_registro.paymentMethods.creditCards">
          <p>{{data.creditCard}}</p>
        </div>
      </div>

      <div *ngIf="data_registro.requestInvoice.invoiceObjectGeneral.methodPayment == 3">
        <div class="textarea" style="display:flex; align-items: center; width: 90px; justify-content: space-between;">
          <img src="assets/table-icons/check.png" *ngIf="data_registro.paymentMethods.ifCheck" width="20px" />
          <img src="assets/table-icons/uncheck.png" *ngIf="!data_registro.paymentMethods.ifCheck" width="20px" />
          <span>Checks</span>
        </div>
        <br>
        <div>
          {{data_registro.paymentMethods.payToOrderOf}}
        </div>
      </div>

      <div *ngIf="data_registro.requestInvoice.invoiceObjectGeneral.methodPayment == 4">
        <div class="textarea" style="display:flex; align-items: center; width: 90px; justify-content: space-between;">
          <img src="assets/table-icons/check.png" *ngIf="data_registro.paymentMethods.ifCash" width="20px" />
          <img src="assets/table-icons/uncheck.png" *ngIf="!data_registro.paymentMethods.ifCash" width="20px" />
          <span>Cash</span>
        </div>
        <br>
        <div>
          {{data_registro.paymentMethods.ifCashComment}}
        </div>
      </div>

      <br>
      <br>

      <!-------------------------------------------------------------------------------------------------------->
      <!--CONSULTANT INVOICES-->
      <div class="textarea margin_table">
        <p class="subtitledos">Consultant Invoices</p>
      </div>
      <br>
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label [ngClass]="{valid: active_invoice}">Invoice Number</mat-label>
            <input matInput placeholder="Invoice Number" (focus)="active_invoice = false"
              [(ngModel)]="data_registro.requestInvoice.invoiceObjectGeneral.inoviceNo">
            <mat-error>Field is required</mat-error>
            <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_invoice">Field is required</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        <mat-grid-list cols="1">
          <div class="page__section margin-top-min">
            <div class="page__section-name"></div>
            <div class="page__section"
              *ngIf="temporalDocument.length > 0 || data_registro.requestInvoice.document.length > 0">
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">
                  Document Type
                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">
                  Uploaded Date
                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
            </div>

            <div *ngFor="let data of temporalDocument; let i = index" class="textarea">
              <div class="page__section documents__ascard" *ngIf="data.type == 1">
                <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
                  style="background: transparent!important;" (click)="deleteDocument(i)">
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{getDocument(data.documentType)}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{data.createdDate | date: 'dd MMM yyyy'}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
              </div>
            </div>
            <div *ngFor="let data of data_registro.requestInvoice.document; let i = index" class="textarea">
              <div class="page__section documents__ascard" ngIf="data.type == 1">
                <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
                  style="background: transparent!important;">
                <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete"
                  style="background: transparent!important; margin-right: 25px;"
                  (click)="showDocumentDialogDetails(data)">
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{getDocument(data.documentType)}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{data.uploadedDate | date: 'dd MMM yyyy'}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
              </div>
            </div>
          </div>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="addPropperty">
              <div class="page__section-button page__section-button--big"
                style="flex: 0 1 180px !important; left: 6px !important;">
                <button class="button-icon button-icon--more" (click)="addDocument(1)">
                  Add New Invoice
                </button>
              </div>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
    <!--ENDS UPLOAD DOCUMENTS-->
    <!--TERMINA SECCION CONSULTANT-->
    <!-------------------------------------------------------------------------------------------------------->
    <!--FINANCE INVOICES-->
    <div *ngxPermissionsOnly="['Finance']">
      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="textarea" style="display: flex; height: 100%;">
            <div style="flex-basis: 50%;height: 100%; ">
              <p class="page__section-name">Finance Section*</p>
            </div>
            <div style="flex-basis: 50%; height: 100%; text-align: end; font-size: 10px;">
              <div style="flex-basis: 50%;height: 100%; ">
                <p class="page__section-name" style="font-size: 10px !important;">*Only Finance can edit</p>
              </div>
            </div>
          </div>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label [ngClass]="{valid: active_payment}">Payment Number</mat-label>
            <input matInput placeholder="Payment Number" (focus)="active_payment = false" required
              [(ngModel)]="data_registro.requestInvoice.paymentNumber">
            <mat-error>Field is required</mat-error>
            <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_payment">Field is required</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>

      </mat-grid-list>
      <!-------------------------------------------------------------------------------------->
      <!--SECCION PARA DOCUMENTOS-->
      <div>
        <mat-grid-list cols="1">
          <div class="page__section margin-top-min">
            <div class="page__section-name"></div>
            <div class="page__section"
              *ngIf="temporalDocument.length > 0 || data_registro.requestInvoice.document.length > 0">
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">
                  Document Type
                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">
                  Uploaded Date
                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task"></span>
              </div>
            </div>

            <div *ngFor="let data of temporalDocument; let i = index" class="textarea">
              <div class="page__section documents__ascard" *ngIf="data.type == 2">
                <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
                  style="background: transparent!important;" (click)="deleteDocument(i)">
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{getDocument(data.documentType)}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{data.createdDate | date: 'dd MMM yyyy'}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
              </div>
            </div>

            <div *ngFor="let data of data_registro.requestInvoice.document; let i = index" class="textarea">
              <div class="page__section documents__ascard" *ngIf="data.type == 2">
                <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
                  style="background: transparent!important;">
                <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete"
                  style="background: transparent!important; margin-right: 25px;">
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{getDocument(data.documentType)}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  {{data.uploadedDate | date: 'dd MMM yyyy'}}
                </div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
                <div class="page__section-input page__section-input--6_1 documents__ascard--task"></div>
              </div>
            </div>
          </div>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="addPropperty">
              <div class="page__section-button page__section-button--big"
                style="flex: 0 1 180px !important; left: 6px !important;">
                <button class="button-icon button-icon--more" (click)="addDocument(2)">
                  Add New Invoice
                </button>
              </div>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
    <!-------------------------------------------------------------------------------------->
    <!--COMENTARIOS-->
    <mat-grid-list cols="10" rowHeight="80px">
      <mat-grid-tile [colspan]="10" [rowspan]="1">
        <div class="textarea">
          <p class="page__section-name">Comments</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="comments" *ngFor="let data of data_registro.requestInvoice.commentInvoices; let i = index">
      <mat-grid-list cols="10" rowHeight="80px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div>
            <img class="avatar" src="{{_services.url_images}}{{data.photo}}" alt="" *ngIf="data.photo != null">
            <div class="avatar" style="background: rgba(0, 0, 0, 0.2);" *ngIf="data.photo === null"></div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Name</span><br />

            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Title</span><br />
              {{data.title}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Date</span><br />
              {{data.createdDate | date:'dd MMM yyy'}}
            </div>

            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="160px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="textarea">
            <br><br>
            <p *ngIf="i == 0">Comment</p>
            <p *ngIf="i > 0">Reply</p>
            <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
              <textarea matInput (change)="data.reply = $event.target.value" #message maxlength="500"
                [disabled]="data.id > 0">{{data.comment}}</textarea>
              <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="comments" *ngFor="let data of data_put.commentInvoices; let i = index">
      <mat-grid-list cols="10" rowHeight="80px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div>
            <img class="avatar" src="{{_services.url_images}}{{data.user.avatar}}" alt=""
              *ngIf="data.user.avatar != null">
            <div class="avatar" style="background: rgba(0, 0, 0, 0.2);" *ngIf="data.user.avatar === null"></div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Name</span><br />
              {{data.user.name}} {{data.user.lastName}} {{data.user.motherLastName}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Title</span><br />
              {{data.user.userType.type}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Date</span><br />
              {{data.createdDate | date:'dd MMM yyy'}}
            </div>

            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="160px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="textarea">
            <br><br>
            <p *ngIf="i == 0">Comment</p>
            <p *ngIf="i > 0">Reply</p>
            <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
              <textarea matInput (change)="data.comment = $event.target.value" #message maxlength="500"
                [disabled]="data.id > 0">{{data.comment}}</textarea>
              <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty" *ngIf="permission_write || permission_edit">
          <div class="page__section-button page__section-button--big" style="left: 6px;">
            <button class="button-icon button-icon--more" (click)="addReply()">
              Add Comment
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!--TERMINA SECCION COMENTARIOS-->
    <!-------------------------------------------------------------------------------------->
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="page__section-buttong" *ngIf="permission_write || permission_edit">
      <button (click)="valida_campos();">Save</button>
    </div>
  </mat-dialog-actions>
</div>
