<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <h2 mat-dialog-title class="modal-form__title">
            Escalation levels
        </h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon (click)="hideModal()" style="cursor:pointer">close</mat-icon>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div fxLayout="row" fxLayoutGap="10px">
        <div class="page__title">
            Level 1
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div class="page__title margin-top-min">
            Level 2
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div class="page__title margin-top-min">
            Level 3
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div class="page__title margin-top-min">
            Level 4
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div class="page__title margin-top-min">
            Level 5
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aut 
        reiciendis suscipit, sapiente hic odio eaque illo sunt perferendis eius 
        error nam deserunt recusandae saepe ducimus est animi, natus accusamus!
    </div>
</mat-dialog-content>