<!------------------------------------OPEN HEADER------------------------------------------>
<div fxLayout="row" fxLayoutGap="10px" fxLayoutGap="10px">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Departure</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography" *ngIf="vista == true">
  <!-----------------------------primera seccion-------------------------->
  <mat-grid-list cols="5" rowHeight="70px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
        <div>
          <span class="text-mini gray_05">Autho</span><br />
          {{ departure.authoDate | date:'dd/MMM/yyy' }}
        </div>
        <div style="text-align:end; width: auto !important;">
          <mat-icon class="calendar">calendar_today</mat-icon>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
        <div *ngIf="departure.authoAcceptanceDate != '0001-01-01T00:00:00'">
          <span class="text-mini gray_05">Acceptance</span><br />
          {{ departure.authoAcceptanceDate | date:'dd/MMM/yyy' }}
        </div>
        <div *ngIf="departure.authoAcceptanceDate == '0001-01-01T00:00:00'">
          <span class="text-mini gray_05">Acceptance</span><br />
        </div>
        <div style="text-align:end; width: auto !important;">
          <mat-icon class="calendar">calendar_today</mat-icon>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="height: 70%;" *ngIf="departure.coordination">
        <p class="subtitle" style="font-size: 8px; margin: 0;">Coordination</p>
        <mat-checkbox [disabled] class="example-margin textarea" [(ngModel)]="departure.coordination">
        </mat-checkbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <!-- <div class="addPropperty" *ngIf="!hide_complete && !hide_by_permissions">
        <div class="page__section-button page__section-button--big" >
          <button *ngIf="show_completed" class="button-icon button-icon--follow" (click)="change_button()">
            Complete
          </button>
          <button *ngIf="show_progress" class="button-icon button-icon--flag" (click)="change_button()">
            Start
          </button>
        </div>
      </div> -->
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <!-- <div class="input_final">
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="departure.statusId" [disabled]="disabled_by_permissions">
            <mat-option selected disabled value="">Status</mat-option>
            <mat-option *ngFor="let data of ca_estatus" [value]="data.id">{{data.status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
        <div>
          <span class="text-mini gray_05">Status</span><br />
          <span style="background: none;
      border: none;
      color: blue;
      text-decoration: underline; cursor: pointer;" (click)="change_status_detail()">
            {{_texto_status}}</span>
        </div>
      </div>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
        <div>
          <span class="text-mini gray_05">Work Order</span><br />
          {{ wo_ }}
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
        <div>
          <span class="text-mini gray_05">Service #</span><br />
          {{ sr_ }}
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central">
        <div class="page__section-data font-size-12 comments input_final" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Completion</span><br />
            {{ departure.serviceCompletionDate | date:'dd MMM yyy' }}
          </div>
          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="wid">
        <p class="page__section-name">Assistance With</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="70px">
    <div class="wid">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" style="height: 80%;">
          <mat-checkbox [(ngModel)]="departure.bankAccountClosing" class="example-margin"
            (change)="marcar_opcion(data, event);">
            <span class="subtitle" style="font-size: 12px;">Bank Account Closing</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="departure.bankAccountClosing">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="departure.bankAccountClosingDate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" style="height: 80%;">
          <mat-checkbox [(ngModel)]="departure.clubMembershipCancellation" class="example-margin"
            (change)="marcar_opcion(data, event);">
            <span class="subtitle" style="font-size: 12px;">Club Membership Cancellation</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="departure.clubMembershipCancellation">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="departure.clubMembershipCancellationDate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" style="height: 80%;">
          <mat-checkbox [(ngModel)]="departure.utilityDisconnection" class="example-margin"
            (change)="marcar_opcion(data, event);">
            <span class="subtitle" style="font-size: 12px;">Utility Disconnection</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="departure.utilityDisconnection">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="departure.utilityDisconnectionDate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" style="height: 80%;">
          <mat-checkbox [(ngModel)]="departure.other" class="example-margin" (change)="marcar_opcion(data, event);">
            <span class="subtitle" style="font-size: 12px;">Other</span>
          </mat-checkbox>
        </div>

      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" style="height: 80%;" *ngIf="departure.other">
          <mat-form-field appearance="fill">
            <mat-label>If Other Specify</mat-label>
            <input matInput placeholder="If Other Specify" [(ngModel)]="departure.otherText">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="departure.other">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="departure.otherDate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <!-- inicio seccion de inputs  -->
  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="wid">
        <p class="page__section-name">Departure Details</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central wid">
        <mat-form-field appearance="fill">
          <mat-label>Estimated Departure</mat-label>
          <input [min]="today" matInput [matDatepicker]="picker11" placeholder="Estimated Departure Date"
            [(ngModel)]="departure.estimatedDepartureDate">
          <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
          <mat-datepicker #picker11></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central wid">
        <mat-form-field appearance="fill">
          <mat-label>Actual Departure</mat-label>
          <input [min]="today" matInput [matDatepicker]="picker12" placeholder="Actual Departure Date"
            [(ngModel)]="departure.actualDepartureDate">
          <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
          <mat-datepicker #picker12></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central wid">
        <mat-form-field appearance="fill">
          <mat-label>Lease Termination</mat-label>
          <input [min]="today" matInput [matDatepicker]="picker13" placeholder="Lease Termin"
            [(ngModel)]="departure.leaseTermin">
          <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
          <mat-datepicker #picker13></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central wid">
        <mat-form-field appearance="fill">
          <mat-label>Pick-up Date of Household goods</mat-label>
          <input [min]="today" matInput [matDatepicker]="picker14" placeholder="Pick-up Date of Household goods"
            [(ngModel)]="departure.pickupDate">
          <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
          <mat-datepicker #picker14></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="height: 80%;" class="textarea">
        <p class="subtitle" style="font-size: 12px; margin: 0px;">Permission to Deduct From Security Deposit</p>
        <mat-checkbox [(ngModel)]="departure.permissionCreditSecurityDeposit"></mat-checkbox>
      </div>
    </mat-grid-tile> -->

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central wid">
        <mat-form-field appearance="fill">
          <mat-label>Dep. Notification to Landlord</mat-label>
          <input matInput [matDatepicker]="_pickerAdditional1_" placeholder="Departure Notification to Landlord"
            [(ngModel)]="departure.departureNotificationLandlord">
          <mat-datepicker-toggle matSuffix [for]="_pickerAdditional1_"></mat-datepicker-toggle>
          <mat-datepicker #_pickerAdditional1_></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central wid">
        <mat-form-field appearance="fill">
          <mat-label>Return Security Deposit to:</mat-label>
          <mat-select [(ngModel)]="departure.returnSecurityDepositTo">
            <mat-option *ngFor="let item of ca_security" [value]="item.id"> {{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>



  <!-- fin seccion de inputs -->

  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <div class="wid">
            <p class="page__section-name">Permanent Home</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">

      <div class="page__section-button page__section-button--big">
          <button class="button-icon button-icon--more" (click)="openhousinglist();">
              Propertys List
          </button>
      </div>
  </mat-grid-tile>
</mat-grid-list>
<!----------------------------------------------------------------------------------------->
<!---------------------------- INICIO PERMANENT HOME -------------------------------------->
<!----------------------------------------------------------------------------------------->

<div style="padding: 20px;" class="mat-elevation-z5" *ngIf="permanentHome .id > 0">
    <mat-grid-list cols="5" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="4">
            <div class="page__sectionConsultant page__section-inputs no-padding-tb">
                <div class="page__sectionConsultant page__section-inputs no-padding-tb">
                    <div class="page__sectionConsultant page__section-input--x no-padding-tb">

                        <div class="input__image">
                            <label for="ass_prof_photo_input" class="input__image-label">
                                <div class="input__image-label--cardConsultant">
                                    <img *ngIf="permanentHome.propertyType == 2"
                                        [class.display-none]="no_main_photo" src="assets/house1.jpg"
                                        id='ass_prof_photo' />
                                    <img *ngIf="permanentHome.propertyType == 1"
                                        [class.display-none]="no_main_photo" src="assets/apartment.jpg"
                                        id='ass_prof_photo1' />
                                    <img *ngIf="permanentHome.propertyType == 0  || !permanentHome.propertyType"
                                        [class.display-none]="no_main_photo" src="assets/house1.jpg"
                                        id='ass_prof_photo' />
                                </div>
                                <span class="input__image-label--cardSpan" (click)="editHousing(permanentHome)">
                                    Edit Property
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">Address</span><br />
                    {{permanentHome.address}}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">Neighborhood</span><br />
                    {{permanentHome.neighborhood}}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">Property Type</span><br />
                    {{getProperty_(permanentHome.propertyType)}}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">Price</span><br />
                    {{permanentHome.price | currency}}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">Beds</span><br />
                    {{permanentHome.bedrooms}}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">Baths</span><br />
                    {{permanentHome.bathrooms}}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div>
                    <span class="text-mini gray_05">URL</span><br />
                    <a class="browser" style="font-size: 11px" *ngIf="permanentHome.webSite != null"
                        [attr.href]="permanentHome.webSite" target="_blank">
                        {{permanentHome.webSite.substring(0, 20)}}...
                    </a>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="2">

            <div class="page__section">
                <div class="dash dash--80">

                    <div class="dash__cell dash__cell--25" (click)="lsfselect()" style="margin-left: 5px;">
                        <div class="dash__card dash__card--up cursor-pointer">
                            <span class="dash__card--flag index-aqua" style="background-color: #3A2337;"></span>
                            <div class="dash__card-sTitl" style="font-size: 14px;">Lease Summary</div>
                            <img src="../../../assets/icons/lease.png" class="dash__card-sIcon" style="width: 25px;" />
                            <!--  <div class="dash__card-sMini">
                            <span>{{counts?.arrivals}}</span> 
                          </div>-->
                        </div>
                    </div>
                    <div class="dash__cell dash__cell--25" (click)="irfselect()">
                        <div class="dash__card dash__card--up cursor-pointer">
                            <span class="dash__card--flag index-yellow" style="background-color: #3A2337;"></span>
                            <div class="dash__card-sTitl" style="font-size: 14px;">Inspections</div>
                            <img src="../../../assets/icons/inspection.png" class="dash__card-sIcon" />
                            <!--<div class="dash__card-sMini">
                             <span>{{counts?.arrivals}}</span> 
                          </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>
<!----------------------------------------------------------------------------------------->
<!---------------------------- FIN PERMANENT HOME ----------------------------------------->
<!----------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------->

        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!--------------------------- START SERVICE DETAIL BUTTONS  -------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->

        <br>
        <mat-grid-list cols="4" rowHeight="70px" *ngIf="permanentHome != undefined">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <div class="wid">
                    <p class="page__section-name">Service Details</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <app-card-service-detaill *ngIf="this.isVisible" [datos]="datos"></app-card-service-detaill>


        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!--------------------------- END SERVICE DETAIL BUTTONS  -------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->

</mat-dialog-content>
<!----------------------------------------------------------------------->
<!--OPTIONS MODAL-->
<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="save()">Save Departure</button>
  </div>
</mat-dialog-actions>