<div *ngIf="show && area_orientation">
  <!------------------------------------OPEN HEADER------------------------------------------>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
       <h2 mat-dialog-title class="primary_title">{{data.data.service_name || data.serviceName }}</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" style="height: calc(100% - 96px);max-height: unset">
    <!-----------------------------------primera seccion-------------------------------------->
    <mat-grid-list cols="5" rowHeight="70px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho</span><br />
            <span *ngIf="area_orientation">{{area_orientation.authoDate | date:'dd MMM yyy'}}</span>
          </div>

          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Acceptance</span><br />
            <span *ngIf="area_orientation">{{area_orientation.authoDate | date:'dd MMM yyy'}}</span>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="area_orientation">
        <div style="height: 70%;" *ngIf="area_orientation.coordination">
          <p class="subtitle" style="font-size: 8px; margin: 0;">Coordination</p>
          <mat-checkbox [disabled] class="example-margin textarea" [(ngModel)]="area_orientation.coordination">
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Status</span><br />
            <span style="background: none;
        border: none;
        color: blue;
        text-decoration: underline; cursor: pointer;" (click)="change_status_detail()">
              {{_texto_status}}</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Work Order</span><br />
            {{ wo_ }}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Service #</span><br />
            {{ sr_ }}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
      <!-- si el estatus esta en complete la fecha no se puede editar -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central">
          <div class="page__section-data font-size-12 comments input_final" style="display: flex;"
            *ngIf="area_orientation">
            <div>
              <span class="text-mini gray_05">Completion</span><br />
              {{ area_orientation.serviceCompletionDate | date:'dd MMM yyy' }}
            </div>
            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
    <div>
      <p class="page__section-name" style="width: 100%;">Area Tour</p>
    </div>

    <mat-grid-list cols="4" rowHeight="70px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <mat-checkbox [disabled]="disabled_by_permissions" (change)="marcar_opcion('supermarks', $event);"
            class="example-margin" [(ngModel)]="area_orientation.supermarks">
            <span class="subtitle" style="font-size: 12px;"> Supermarkets </span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="area_orientation.supermarks">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="area_orientation.supermarksdate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <mat-checkbox [disabled]="disabled_by_permissions" (change)="marcar_opcion('shoppingSocialAreas', $event);"
            class="example-margin" [(ngModel)]="area_orientation.shoppingSocialAreas">
            <span class="subtitle" style="font-size: 12px;">Shopping ¬ Social Areas</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="area_orientation.shoppingSocialAreas">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="area_orientation.shoppingSocialAreasdate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <mat-checkbox [disabled]="disabled_by_permissions" (change)="marcar_opcion('parks', $event);"
            class="example-margin" [(ngModel)]="area_orientation.parks">
            <span class="subtitle" style="font-size: 12px;"> Parks </span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="area_orientation.parks">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="area_orientation.parksdate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <mat-checkbox [disabled]="disabled_by_permissions"
            (change)="marcar_opcion('extracurricularActivities', $event);" class="example-margin"
            [(ngModel)]="area_orientation.extracurricularActivities">
            <span class="subtitle" style="font-size: 12px;"> Extracurricular Activities</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="area_orientation.extracurricularActivities">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="area_orientation.extracurricularActivitiesdate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <mat-checkbox [disabled]="disabled_by_permissions" (change)="marcar_opcion('emergencyHealth', $event);"
            class="example-margin" [(ngModel)]="area_orientation.emergencyHealth">
            <span class="subtitle" style="font-size: 12px;">Emergency and health facilities</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="area_orientation.emergencyHealth">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="area_orientation.emergencyHealthdate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <mat-checkbox [disabled]="disabled_by_permissions" (change)="marcar_opcion('other', $event);"
            class="example-margin" [(ngModel)]="area_orientation.other">
            <span class="subtitle" style="font-size: 12px;">Other</span>
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid" *ngIf="area_orientation.other">
          <mat-form-field appearance="fill">
            <mat-label>Completion</mat-label>
            <input [min]="today" matInput [matDatepicker]="picker4" placeholder="Completion Date"
              [(ngModel)]="area_orientation.otherdate">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="wid" style="height: 80%;" *ngIf="area_orientation.other">
          <mat-form-field appearance="fill">
            <mat-label>If Other Specify</mat-label>
            <input matInput placeholder="If Other Specify" [(ngModel)]="area_orientation.othertext">
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="75px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Houses</p>
          <mat-slide-toggle [checked]="area_orientation.housing.length > 0 ? true : false" (change)="displayPanelHosudig($event)">
          </mat-slide-toggle>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!---------------------------------------------------------------------->
    <!---------------------------------------------------------------------->
    <!--SECION PARA OCULTAR SECCION HOUSING-->
    <div *ngIf="area_orientation.housing  > 0">
      <!----------------------- INICIO BOTONERA ACCIONES HL------------------------------------>

      <mat-grid-list cols="5" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="wid">
            <p class="page__section-name">Housing List</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div *ngIf="dataSourceHousing.length > 0" class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--send" *ngIf="hl_to_send.length > 0" (click)="sent_houses_list();">
              ({{hl_to_send.length}}) Send
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--home" (click)="HousingSpecs()">
              Housing Specs
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div *ngIf="dataSourceHousing.length > 0" class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--report" (click)="exporter.exportTable('xls')">
              Export HL
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">

          <div class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--more" (click)="HomeDetailsnew()">
              Property
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <!----------------------- FIN BOTONERA DE ACCIONES HL ------------------------------------------>

      <!---------------------------TABLA HOUSING------------------------------>
      <table matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSourceHousing"
        class="mat-elevation-z8 textarea" id="exportReport">

        <ng-container matColumnDef="Send">
          <th mat-header-cell *matHeaderCellDef> Send </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.wassended" [disabled]="element.status != 'Pending'"
            (change)="onChangeDemo($event, element)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="Property Type">
          <th mat-header-cell *matHeaderCellDef> Property Type </th>
          <td mat-cell *matCellDef="let element"> {{element.propertyType}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">
            {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="Neighborhood">
          <th mat-header-cell *matHeaderCellDef> Neighborhood </th>
          <td mat-cell *matCellDef="let element">
            {{element.neighborhood}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency }} </td>
        </ng-container>
        <ng-container matColumnDef="Currency">
          <th mat-header-cell *matHeaderCellDef> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>
        <ng-container matColumnDef="Housing Status">
          <th mat-header-cell *matHeaderCellDef> Housing Status </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.status == 'Permanent Property'" style="font-weight: bolder;">{{element.status}}</span>
            <span *ngIf="element.status != 'Permanent Property'">{{element.status}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <img src="assets/icons/pencil.png" style="width: 20px;" (click)="editHousing(element)">
              &nbsp;&nbsp;
              <img src="assets/icons/delete.png" style="width: 20px;" (click)="validatedeleteHousing(element)">
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsHousing"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHousing;"></tr>
      </table>


      <br>
    </div>
    <!--TABLE HOUSING CLOSE-->
    <!--END SECTION HOUSING-->
    <!---------------------------------------------------------------------->
    <!---------------------------------------------------------------------->
    <mat-grid-list cols="4" rowHeight="75px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name" style="width: 100%;">Schools</p>
          <mat-slide-toggle [checked]="area_orientation.schooling.length > 0 ? true : false"
            (change)="displayPanelSchooling($event)"></mat-slide-toggle>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
    <!---------------------------------------------------------------------------------------------------->
    <div *ngIf="area_orientation.schooling > 0">
      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="wid">
            <p class="page__section-name">Schools List</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div *ngIf="dataSourceSchool.length > 0" class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--report" (click)="exportersc.exportTable('xls')">
              Export SL
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="addPropperty">
            <div class="page__section-button page__section-button--big" >
              <button  class="button-icon button-icon--send" (click)="sent_schooling_list();" *ngIf="sl_to_send.length > 0">
                ({{sl_to_send.length}}) Send Schools
              </button>
             </div>

            <div class="page__section-button page__section-button--big">
              <button (click)="addSchool()" class="button-icon button-icon--more">
                School
              </button>
            </div>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
      <!--TABLE SCHOOLS LIST-->
      <table mat-table matTableExporter #exportersc="matTableExporter" [dataSource]="dataSourceSchool"
        class="mat-elevation-z8 textarea">

        <!-- Position Column -->
        <ng-container matColumnDef="Send">
          <th mat-header-cell *matHeaderCellDef>Send</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.sendSchool" (change)="setSchool($event.checked, element, i)" [disabled]="element.sendSchool" >
            </mat-checkbox>    
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="School No.">
          <th mat-header-cell *matHeaderCellDef>School No</th>
          <td mat-cell *matCellDef="let element"> {{element.schoolNo}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="School Name">
          <th mat-header-cell *matHeaderCellDef>School Name</th>
          <td mat-cell *matCellDef="let element">{{element.schoolName}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Dependent">
          <th mat-header-cell *matHeaderCellDef> Dependent </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Schooling Status">
          <th mat-header-cell *matHeaderCellDef> Schooling Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <img src="assets/icons/pencil.png" style="width: 20px;" (click)="editSchool(element)">
              &nbsp;&nbsp;
            <img src="assets/icons/delete.png" style="width: 20px;" (click)="deleteSchoollist(element)">            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSchool"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSchool;"></tr>
      </table>

      <br><br>

      <!--START CARD SCHOOLNG-->
      <div *ngFor="let data of area_orientation.schoolings; let i = index">
        <div class="mat-elevation-z8 textarea">
          <!----------------------------------------------------------------------------------------->
          <mat-grid-list cols="4" rowHeight="50px">
    
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="wid">
                <p class="page__section-name" style="margin: 0 0 0 20px; width: 100%;">Child {{1+i}}</p>
              </div>
            </mat-grid-tile>
            <div align="end">
              <img src="assets/icons/quit.svg" class="delete" (click)="deleteChild(i, data)">
            </div>
          </mat-grid-list>
          <!---------------------------------------------------------------------------------------------------->
          <!--START CARD CHILD 1-->
          <mat-list>
            <div mat-subheader>Child Information</div>
            <mat-divider></mat-divider>
            <mat-list-item style="height: auto !important; padding-top: 10px;">
              <!-- <img *ngIf="data.photo.split('api-test-premier/')[1] != ''" src="{{data.photo}}" matListAvatar alt="">
              <img *ngIf="data.photo.split('api-test-premier/')[1] == ''" src="assets/images/users/avatar.png" matListAvatar alt=""> -->
              <img src="assets/images/users/avatar.png" matListAvatar alt=""> 
              <div mat-line>
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Name (as show on passport)</p>
                    <p class="title" style="font-size:12px;">{{data.name}}</p>
                  </div>
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Gender</p>
                    <p class="title" style="font-size:12px;">
                      <span *ngIf="data.sex == 1">Female</span>
                      <span *ngIf="data.sex == 2">Male</span>
                    </p>
                  </div>
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Date of Birth</p>
                    <p class="title" style="font-size:12px;">{{data.birth | date:'dd MMM yyy'}}</p>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Age</p>
                    <p class="title" style="font-size:12px;">{{data.age}}</p>
                  </div>
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Languages Spoken</p>
                    <p class="title" style="font-size:12px;" *ngFor="let language of data.languageDependentInformations">
                     {{language.name}}
                    </p>
                  </div>
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Nationality</p>
                    <p class="title" style="font-size:12px;">
                      {{data.nationality}}
                    </p>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div fxFlex="30">
                    <p class="subtitle" style="font-size:10px;">Current Grade</p>
                    <p class="title" style="font-size:12px;">
                      {{data.grade}}
                    </p>
                  </div>
                  <div fxFlex="30">
                    
                  </div>
                  <div fxFlex="30">
                   
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div>
                    <p class="subtitle" style="font-size:10px;">Additional Comments</p>
                    <p class="title" style="font-size:12px;">{{data.aditionalComments}}</p>
                  </div>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
          <mat-card>
    
            <!--START CARD CHILD 1 CHOSEN-->
            <mat-grid-list cols="4" rowHeight="70px">
              <mat-grid-tile [colspan]="4" [rowspan]="1">
                <div class="wid">
                  <p class="page__section-name" style="width: 100%; font-size: 14px;">
                    Chosen School/Child {{i + 1}}  <!--Child {{data.numberChild}} / Chosen School -->
                  </p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
    
            <div>
              <div class="page__section-button page__section-button--big">
                <button class="button-icon button-icon--more" (click)="addPayment(data.id)">
                  Add Payment
                </button>
              </div>
              <br>
              <!-- <table mat-table [dataSource]="dataSourcePayment[i]?.paymentSchoolingInformations" class="mat-elevation-z8 textarea">
    
                <ng-container matColumnDef="Payment">
                  <th mat-header-cell *matHeaderCellDef>School Expenses Payment</th>
                  <td mat-cell *matCellDef="let element; let i = index;" class="browser" (click)="editPayment(element)"> 
                   {{element.schoolExpensesPaymentNavigation?.schoolExpensesPayment}}  
                  </td>
                 
                </ng-container>
            
                <ng-container matColumnDef="Responsible">
                  <th mat-header-cell *matHeaderCellDef>Responsible</th>
                  <td mat-cell *matCellDef="let element"> {{element.responsibleNavigation?.responsable}} </td>
                </ng-container>
            
            
                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.amount}} 
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="Currency">
                  <th mat-header-cell *matHeaderCellDef> Currency </th>
                  <td mat-cell *matCellDef="let element"> {{element.currencyNavigation?.currency}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Recurrence">
                  <th mat-header-cell *matHeaderCellDef> Recurrence </th>
                  <td mat-cell *matCellDef="let element"> {{element.recurrenceNavigation?.name}} </td>
                </ng-container>
      
                <ng-container matColumnDef="Detail">
                  <th mat-header-cell *matHeaderCellDef> Detail </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
            
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                    <div>
                      <img src="assets/icons/delete.png" style="width: 20px;" (click)="deletePayment(element)">
                    </div>
                  </td>
                </ng-container>          
            
                <ng-container matColumnDef="Schooling Status">
                  <th mat-header-cell *matHeaderCellDef> Schooling Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status == 'School Selected'" style="font-weight: bolder;">
                      {{element.status}}
                    </span>
                    <span *ngIf="element.status != 'School Selected'">
                      {{element.status}}
                    </span>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPayment"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPayment;"></tr>
              </table> -->
            </div>
    
          </mat-card>
          <!--CLOSE CARD-->
          <!---------------------------------------------------------------------------------------------------->
    
          <!---------------------------------------------------------------------------------------------------->
    
    
        </div>
      </div>
    
      <!--CLOSE CARD-->
      <!---------------------------------------------------------------------------------------------------->
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="addPropperty">
            <div class="page__section-button page__section-button--big" >
              <button class="button-icon button-icon--more"  (click)="addChild();">
                Add Child
              </button>
            </div>
          </div> 
        </mat-grid-tile>

      </mat-grid-list>
      <!----------------------------------------------------------------------------------------->
    </div>

    <br>
    <!-- <mat-grid-list cols="4" rowHeight="70px" *ngIf="permanentHome != undefined">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Service Details</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list> -->
    
    <app-card-service-detaill *ngIf="this.isVisible" [datos]="datos"></app-card-service-detaill>


    <!---------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------->
    <!--------------------------- END SERVICE DETAIL BUTTONS  -------------------------------->
    <!---------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------->

  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <button (click)="save()">Save</button>
    </div>
  </mat-dialog-actions>
</div>