<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" style="float:left;">
        <h2 mat-dialog-title class="primary_title" style="float:left;">Property Inspections</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
</div>

<mat-dialog-content class="mat-typography">
    <div fxLayout="row" fxLayoutGap="10px" class="margin-bottom-m">
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">

            Please select an option or
            <span style="font-weight: bolder; color: #9d3292; 
            text-decoration: underline; cursor: pointer;" (click)="exportIR(1);">Export</span>
            the information
            <br>
        </div>
    </div>
</mat-dialog-content>
<mat-grid-list cols="2" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
            <mat-form-field appearance="fill">
                <mat-label style="font-size:medium;">Property Inspections Version</mat-label>
                <mat-select [(ngModel)]='ir_service_detail_id' (selectionChange)="GetStatusIR();">
                    <mat-option *ngFor="let data of versions_ir" [value]="data.idServiceDetail">{{data.catCategoryText}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content class="mat-typography">
    <div class="page__section">

        <div class="dash dash--80" style=" width: 100%;" *ngIf="resultado_estatus">
            <div *ngIf="ir_tarjeta" class="dash__cell dash__cell--25" style=" width: 33%; margin-bottom: 5px;" (click)="validate_move_in_out(resultado_estatus.groupIr.status, 3);">
                <div class="dash__card dash__card--up cursor-pointer">
                    <span class="dash__card--flag index-orange" *ngIf="resultado_estatus.groupIr.status == 1 || !resultado_estatus.groupIr.status"></span>
                    <span class="dash__card--flag index-yellow" *ngIf="resultado_estatus.groupIr.status == 2"></span>
                    <span class="dash__card--flag index-lemon" *ngIf="resultado_estatus.groupIr.status == 3"></span>
                    <div class="dash__card-sTitl">Inspections & Repairs</div>
                    <i class="material-icons dash__card-sIcon" style="color: orange" *ngIf="resultado_estatus.groupIr.status == 1 || !resultado_estatus.groupIr.status">access_time_filled</i>
                    <i class="material-icons dash__card-sIcon" style="color: yellow" *ngIf="resultado_estatus.groupIr.status == 2">play_circle_filled</i>
                    <i class="material-icons dash__card-sIcon" style="color: #2ab42a" *ngIf="resultado_estatus.groupIr.status == 3">check_circle</i>
                    <span class="dash__card-sTitls">{{resultado_estatus.groupIr.statusText }}</span>
                </div>
            </div>

            <div *ngIf="moin_tarjeta" class="dash__cell dash__cell--25" style=" width: 33%; margin-bottom: 5px;" (click)="validate_move_in_out(resultado_estatus.propertyReports[0].status, 1);">
                <div class="dash__card dash__card--up cursor-pointer">
                    <span class="dash__card--flag index-orange" *ngIf="resultado_estatus.propertyReports[0].status == 1 || !resultado_estatus.propertyReports[1].status"></span>
                    <span class="dash__card--flag index-yellow" *ngIf="resultado_estatus.propertyReports[0].status == 2"></span>
                    <span class="dash__card--flag index-lemon" *ngIf="resultado_estatus.propertyReports[0].status == 3"></span>
                    <div class="dash__card-sTitl">Move in</div>
                    <i class="material-icons dash__card-sIcon" style="color: orange" *ngIf="resultado_estatus.propertyReports[0].status == 1 || !resultado_estatus.propertyReports[0].status">access_time_filled</i>
                    <i class="material-icons dash__card-sIcon" style="color: yellow" *ngIf="resultado_estatus.propertyReports[0].status == 2">play_circle_filled</i>
                    <i class="material-icons dash__card-sIcon" style="color: #2ab42a" *ngIf="resultado_estatus.propertyReports[0].status == 3">check_circle</i>
                    <span class="dash__card-sTitls">{{resultado_estatus.propertyReports[0].statusText }}</span>
                </div>
            </div>
            <div *ngIf="moout_tarjeta" class="dash__cell dash__cell--25" style=" width: 33%; margin-bottom: 5px;" (click)="validate_move_in_out(resultado_estatus.propertyReports[1].status, 2);">
                <div class="dash__card dash__card--up cursor-pointer">
                    <span class="dash__card--flag index-orange" *ngIf="resultado_estatus.propertyReports[1].status == 1 || !resultado_estatus.propertyReports[1].status"></span>
                    <span class="dash__card--flag index-yellow" *ngIf="resultado_estatus.propertyReports[1].status == 2"></span>
                    <span class="dash__card--flag index-lemon" *ngIf="resultado_estatus.propertyReports[1].status == 3"></span>
                    <div class="dash__card-sTitl">Move Out</div>
                    <i class="material-icons dash__card-sIcon" style="color: orange" *ngIf="resultado_estatus.propertyReports[1].status == 1 || !resultado_estatus.propertyReports[1].status">access_time_filled</i>
                    <i class="material-icons dash__card-sIcon" style="color: yellow" *ngIf="resultado_estatus.propertyReports[1].status == 2">play_circle_filled</i>
                    <i class="material-icons dash__card-sIcon" style="color: #2ab42a" *ngIf="resultado_estatus.propertyReports[1].status == 3">check_circle</i>
                    <span class="dash__card-sTitls">{{resultado_estatus.propertyReports[1].statusText }}</span>
                </div>
            </div>
            

        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">

    <div class="page__section-buttong" style="flex: 0 1 100px;">
        <button (click)="no()" style="background-color: #f9f9f9;color: #9d3292;">Cancel</button>
    </div>
    <!-- &nbsp;&nbsp;&nbsp;
    <div class="page__section-buttong" style="flex: 0 1 100px;">
        <button  (click)="export()">Export</button>
    </div>  -->
</mat-dialog-actions>