<div *ngIf="show">
  <!--Inicio header-->
  <div fxLayout="row">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="primary_title">{{data.data.service_name || data.serviceName }}</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <!--Fin header-->

  <!--inicio body-->
  <mat-dialog-content class="mat-typography">
    <mat-grid-list cols="5" rowHeight="70px">

      <!--inicio Autho-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data wid font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho</span><br />
            {{ this.authoDate | date:'dd MMM yyy' }}

          </div>
          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>
      <!--Fin Autho-->

      <!--inicio Autho Date-->
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class=" widpage__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho Acceptance</span><br />
            {{ this.authoAcceptanceDate | date:'dd MMM yyy' }}

          </div>
          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>
      <!--fin Autho Date-->

      <!--inicio Satus-->
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="input_final wid">
          <div style="text-align: center;">
            <span class="text-mini gray_05">Status</span><br />
            <span style="background: none;
                        border: none;
                        color: blue;
                        text-decoration: underline; cursor: pointer;" (click)="change_status_detail()">
              {{statusText}}
            </span>
          </div>
        </div>
      </mat-grid-tile>
      <!--fin Satus-->

      <!--inicio Work order-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Work Order</span><br />
            {{data.data.numberWorkOrder}}
          </div>
        </div>
      </mat-grid-tile>
      <!--fin Work order-->

      <!--inicio Service ID-->
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Service ID</span><br />
            {{servideId}}
          </div>
        </div>
      </mat-grid-tile>
      <!--fin Service ID-->

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <!--inicio Completion-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class=" widpage__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Completion</span><br />
            {{serviceCompletionDate | date:'dd MMM yyy'}}
          </div>
          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>
      <!--fin Completion-->
      <!--Iniio Country-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div><!--- *ngIf="this.data.data.country"-->
            <span class="text-mini gray_05">Country</span><br />
            {{country_name}}
          </div>
        </div>
      </mat-grid-tile>
      <!--Fin Country-->

      <!--Inicio City-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div><!--*ngIf="this.data.data.location"-->
            <span class="text-mini gray_05">City</span><br />
            {{location}}
          </div>
        </div>
      </mat-grid-tile>
      <!--Fin City-->
    </mat-grid-list>
    <!--Inicio de Service Request-->
    <mat-grid-list cols="4" rowHeight="70px">

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Service Request</p>
        </div>
      </mat-grid-tile>
      <!--Inicio Total Time Alloted-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Total Time Alloted</mat-label>
            <input matInput required placeholder="Total Time Alloted" [(ngModel)]="dataRentalForniture.totalTimeAllowed"
              type="number" min="0">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Total Time Alloted-->

      <!--Inicio Period-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="display: flex; justify-content: space-around;" class="input_central wid">
          <mat-form-field appearance="fill" style="width: 49% !important;">
            <mat-label>Period</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.totalTimeAllowedId">
              <mat-option *ngFor="let item of ca_duracion" [value]="item.id">
                {{item.duration}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Period-->

      <!--Inicio Budget-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Budget</mat-label>
            <input matInput required placeholder="Budget" [(ngModel)]="dataRentalForniture.budget" type="number"
              min="0">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Budget-->

      <!--Inicio Currency-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="display: flex; justify-content: space-around;" class="input_central wid">
          <mat-form-field appearance="fill" style="width: 49% !important;">
            <mat-label>Currency</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.currency">
              <mat-option *ngFor="let item of ca_currency" [value]="item.id">
                {{item.currency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Currency-->

      <!--Inicio Beds-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Beds</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.beds">
              <mat-option *ngFor="let item of getListNumber()" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Beds-->

      <!--Inicio Baths-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="display: flex; justify-content: space-around;" class="input_central wid">
          <mat-form-field appearance="fill" style="width: 49% !important;">
            <mat-label>Baths</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.baths">
              <mat-option *ngFor="let item of getListNumber()" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Baths-->

      <!--Inicio Family Members-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Family Members</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.familyMembers">
              <mat-option *ngFor="let item of getListNumber()" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Family Members-->

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <!--Inicio Property Address-->
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Property Address</mat-label>
            <textarea matInput #message maxlength="500">
              {{dataRentalForniture.propertyAddress}}
          </textarea>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Property Address-->

    </mat-grid-list>
    <!--Fin de Service Request-->

    <!--Inicio de Fornitule Details-->
    <mat-grid-list cols="4" rowHeight="70px">

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Fornitule Details</p>
        </div>
      </mat-grid-tile>

      <!--inicio Supplier Partners-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="display: flex; justify-content: space-around;" class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Supplier Partners</mat-label>
            <mat-select (ngModelChange)='getContactSupplier(dataRentalForniture.supplierPartner)'
              [(ngModel)]="dataRentalForniture.supplierPartner">
              <mat-option *ngFor="let item of supplier_get" [value]="item.id">
                {{item.legalName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Supplier Partners-->

      <!--inicio Contact-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="display: flex; justify-content: space-around;" class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Contact</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.mainContact">
              <mat-option *ngFor="let item of contactSupplier" [value]="item.id">{{item.contactName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Contact-->

      <!--inicio Delivery Date-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Delivery Date</mat-label>
            <input matInput [min]="minDate" required [matDatepicker]="pickerDelivery_Date"
              [(ngModel)]="dataRentalForniture.deliveredDate">
            <mat-datepicker-toggle matSuffix [for]="pickerDelivery_Date"></mat-datepicker-toggle>
            <mat-datepicker #pickerDelivery_Date></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Delivery Date-->

      <!--inicio Scheduled Pick-Up Date-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Scheduled Pick-Up Date</mat-label>
            <input matInput [min]="minDate" required [matDatepicker]="pickerScheduled_Pick_Up_Date"
              [(ngModel)]="dataRentalForniture.scheduledPickUpDate">
            <mat-datepicker-toggle matSuffix [for]="pickerScheduled_Pick_Up_Date"></mat-datepicker-toggle>
            <mat-datepicker #pickerScheduled_Pick_Up_Date></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Scheduled Pick-Up Date-->

      <!--inicio Total Days-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Total Days</mat-label>
            <input matInput required placeholder="Total Days" [(ngModel)]="dataRentalForniture.totalDays" type="number"
              min="0">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Total Days-->

      <!--inicio Security Deposit-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Security Deposit</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.securityDeposit">
              <mat-option [value]="1">Yes</mat-option>
              <mat-option [value]="2">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Security Deposit-->

      <!--inicio Payments Due-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Payments Due</mat-label>
            <input matInput required placeholder="Day of the month" [(ngModel)]="dataRentalForniture.paymentDue"
              type="number" min="0">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Payments Due-->

      <!--inicio Return Security Deposit to-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Return Security Deposit to</mat-label>
            <mat-select [(ngModel)]="dataRentalForniture.returnSecurityDeposit">
              <mat-option *ngFor="let item of ca_responsible" [value]="item.id">
                {{item.responsable}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <!--Fin Return Security Deposit to-->
    </mat-grid-list>
    <!--Fin de Fornitule Details-->

    <!--Inicio de Extensions-->
    <div class="page__section margin-tb-min">
      <div class="modal-form__subtitle">
        Extensions
      </div>
      <br>
      <div class="page__section margin-top-min" [class.display-none]="!viewtableExtension">
        <table mat-table [dataSource]="extensionformations" matSort class="mat-elevation-z8 margin_table">
          <ng-container matColumnDef="final">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="finalDate"> Final Date </th>
            <td mat-cell *matCellDef="let element"> {{element.finalDate| date: 'MMM/dd/yyyy' }}
          </ng-container>
          <ng-container matColumnDef="days">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="totalDays">Extra Days </th>
            <td mat-cell *matCellDef="let element"> {{element.totalDays}}
          </ng-container>
          <ng-container matColumnDef="coments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="comment">Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}}
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <img src="/assets/icons/pencil.png" style="width: 20px;"
                (click)="dialogTimeExtension(element)"><!--(click)="dialogOfficeInformation(element, i)" -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="extension"></tr>
          <tr mat-row *matRowDef="let row; columns: extension;"></tr>
        </table>
      </div>
      <div class="page__section" [class.display-none]="!viewtableExtension">
        <mat-paginator #extensionPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
      <div class="page__section margin-tb-min">
        <div class="page__section-name"></div>
        <div class="page__section-button">
          <button class="button-icon button-icon--adder" (click)="dialogTimeExtension('')">
            Add Extensions
          </button>
        </div>
      </div>
    </div>
    <!--Fin de Extensions-->

    <!--Inicio de Related Payments-->
    <div class="page__section margin-tb-min">
      <div class="modal-form__subtitle">
        Related Payments
      </div>
      <!--Inicio tabla Related-->
      <div class="page__section margin-top-min" [class.display-none]="!viewtableRelated">
        <table mat-table [dataSource]="relatedformations" matSort class="mat-elevation-z8 margin_table">
          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="description">Payment</th>
            <td mat-cell *matCellDef="let element"> {{element.description}}
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="totalDays">Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}}
          </ng-container>
          <ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="responsible">Responsible</th>
            <td mat-cell *matCellDef="let element"> {{getNameResponsible(element.responsible)}}
          </ng-container>
          <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="currency">Currency</th>
            <td mat-cell *matCellDef="let element"> {{getNameCurrency(element.currency)}}
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <img src="/assets/icons/pencil.png" style="width: 20px;" (click)="dialogPaymentType(element)">
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="related"></tr>
          <tr mat-row *matRowDef="let row; columns: related;"></tr>
        </table>
      </div>
      <div class="page__section" [class.display-none]="!viewtableRelated">
        <mat-paginator #relatedPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
      <!--Fin tabla Related-->
      <div class="page__section margin-tb-min">
        <div class="page__section-name"></div>
        <div class="page__section-button">
          <button (click)="dialogPaymentType('')" style="white-space: nowrap;" class="button-icon button-icon--adder">
            Add Related Payments
          </button>
        </div>
      </div>
    </div>
    <!--Fin de Related Payments-->

    <!--Inicio de Payments Methods-->
    <div class="page__section margin-tb-min">
      <div class="modal-form__subtitle">
        Payments Methods
      </div>
    </div>
 <!--Fin tabla  Payments Methods-->
    <div class="page__section margin-tb-min">
      <div class="page__section-name"></div>
      <div class="page__section-button">
        <button (click)="addPaymentsMethods()"style="white-space: nowrap;" class="button-icon button-icon--adder">
          Add Payments Methods
        </button>
      </div>
    </div>
    <!--Fin de Payments Methods-->
    <div class="page__section margin-tb-min">
      <div class="modal-form__subtitle">
        General Options
      </div>
      </div>
    <app-card-service-detaill *ngIf="this.isVisible" [datos]="cardsList"></app-card-service-detaill>
    <br><br>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <button>Save</button>
    </div>
  </mat-dialog-actions>
  <!--Fin body-->
</div>
