ul {
  list-style-type: none;
  margin: 14px 5px 14px -42px;
}
.Title-filter{
  width: 283px;
  height: 17px;
  font-family: Lato;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}
.check {
  line-height: 29px;
}

.Rectangle {
  width: 262px;
  height: 341px;
  margin: 23px 8px 24px 18px;
  padding: 24px 0 6px 60px;
  border-radius: 4px;
  border: solid 1px #dbdbdb;
}
