.avatar {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.btnr {
  border-radius: 20px;
  font-size: 12px;
  background-color: white;
  border: none;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.14);
  color: #9D3292;
  font-weight: 600;
  height: 25px;
  padding: 5px 40px 5px 11px;
  cursor: pointer;
}

.btnr--pencil {
  background: url("/assets/icons/pencil.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}

.btnr--add {
  background: url("/assets/icons/more.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
}

.flex-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 89%;
}

.flex-img div {
  text-align: center;
}

.input_final {
  padding: 0 0 0 13px;
}

.conten-detail {
  padding-top: 4px;
  height: fit-content;
  padding-bottom: 4px;

}
