<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Banking Detail</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<mat-dialog-content class="conten-detail">
  <div class="mat-elevation-z5" style="padding-top: 10px;">
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Type</mat-label>
            <mat-select disabled [(ngModel)]="data.accountType">
              <mat-option *ngFor="let item of ca_accountType" [value]="item.id">{{item.accountType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Holders Name</mat-label>
            <input [(ngModel)]="data.accountHoldersName" disabled matInput required placeholder="Account Holders Name"
              type="text" #message_holdername maxlength="100">
            <mat-hint align="end">{{message_holdername.value.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Name</mat-label>
            <input [(ngModel)]="data.bankAddress" disabled matInput required placeholder="Bank Name" type="text"
              #message_bankname maxlength="100">
            <mat-hint align="end">{{message_bankname.value.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input [(ngModel)]="data.accountNumber" disabled matInput required placeholder="Account Number">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>CLABE</mat-label>
            <input [(ngModel)]="data.clabe" disabled matInput placeholder="CLABE">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Routing Number (ABA)</mat-label>
            <input [(ngModel)]="data.routingNumber" disabled matInput placeholder="Routing Number (ABA)">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>SWIFT / BIC Code ( If Applies)</mat-label>
            <input [(ngModel)]="data.swiftBicCode" disabled matInput placeholder="SWIFT / BIC Code ( If Applies)">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>IBAN</mat-label>
            <input [(ngModel)]="data.iban" disabled matInput placeholder="IBAN" type="text" #message_bankcomment
              maxlength="150">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="input_final textarea">
          <mat-form-field appearance="fill">
            <mat-label>Comments</mat-label>
            <input [(ngModel)]="data.comments" disabled matInput required placeholder="Account Comments" type="text"
              #message_pcomment>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-dialog-content>
