<div class="main-wrapper padding-general-x">
  <div class="page">
    <div class="page__path subtitle">Operations / Report</div>
    <div class="page__title title">
      Life Cicles
    </div>
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input [(ngModel)]="search"  matInput placeholder="Search" type="text" (keyup)="applyFilter($event)"/>
            <mat-icon matSuffix style="color:#9d3292">search</mat-icon>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" >
        <div class="page__section-butuonc" id="lifeCicles" style="margin-top: -30px;">
          <button class="button-icon button-icon--more" (click)="addCicles(0)">
            Add Cicle
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- table lifeCicles -->
    <div class="page__section">
      <table mat-table [dataSource]="dataCicles"  #sortcicles='matSort' matSort class="mat-elevation-z8 textarea">
        <!-- Life Cicle -->
        <ng-container matColumnDef="Life Cicle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Life Cicle"> Life Cicle </th>
          <td mat-cell *matCellDef="let cicle"> {{cicle.lifeCircle1}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let cicle">
            <img src="assets\icons\pencil.png" style="width: 18px; cursor: pointer;"  (click)="addCicles(cicle.id)">
            <!-- (click)="editPayment(cicle)" -->
            <span>&nbsp;</span>
              <img src="assets\icons\delete.png" style="width: 18px; cursor: pointer;" (click)="deleteCicles(cicle.id)" >
              <!-- (click)="deletePaymentConcept(element)" -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsCicles"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCicles;"></tr>
      </table>
    </div>
    <div class="page__section text-center paginator margin-top-mini" style="margin-top: 20px;">
      <mat-paginator #pagcicles [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
