.font{
  font-size: 20px;
  color: gray;
}
.chat-container {
  padding: 5px;
  display: flex;
  //align-items: center;
  margin-top: -50px;
  //height: 500px;

  .contacts {
    margin-top: 50px;
    flex-basis: 40%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        // object-fit: cover;

      }
    }

    .recients {
      //max-height: 230px;
      overflow-y: scroll;
      max-height: 510px;

      .user_chats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          // object-fit: cover;

        }

        .dot {
          width: 10px;
          height: 10px;
          background: #00dc81;
          border-radius: 100%;
        }

        .red {
          background: #ff5858;
        }
      }
    }

  }

  .chats {
    padding: 90px 0px 20px 60px;
    width: 100%;

    mat-card {
      border-radius: 15px;
      margin: auto;
      box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12) !important;

      mat-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          display: flex;
          align-items: center;

          mat-icon {
            color: #9d3292;
          }

          .avatar {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            // object-fit: cover;

          }
        }
      }

      mat-card-content {
        background: #f9f9f9;
        height: 320px;
        /* max-height: 200px; */
        overflow-y: scroll;

        .to {
          width: 100%;
          display: flex;
          justify-content: flex-start;

          .messages-senders {
            background: rgba(148, 148, 148, 0.1);
          }
        }

        .from {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          .messages-senders {
            background: #dbe5ff;
          }
        }

        .messages-senders {
          flex-basis: 60%;
          padding: 10px;
          border-radius: 10px;
          margin: 10px 0 20px 0;
          position: relative;

          .header {
            width: 100%;
            display: flex;
            align-items: center;

            span {
              //margin-left: 10px;
            }

            img {
              border-radius: 100%;
              width: 30px;
              height: 30px;
              // object-fit: cover;

            }
          }

          .time {
            position: absolute;
            bottom: -20px;
            right: 0;
            color: rgba(0,0,0,0.5);
            font-size: 10px;
          }
        }
      }
    }

    mat-card-actions {
      padding: 0;

      .texting {
        margin: 0 20px;

        .icons {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        }

        .icon-send {
          display: flex;
          align-items: center;
          justify-content: space-around;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

.active_convertation{
    background-color: #4435a6;
    color: #ffffff;
}
 .unread{
    background-color: #9d3292 ;
    color: white;
  }


/* --------------------------
  SVG Styles
--------------------------- */

#upload * {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.a {
  -webkit-animation: fillChange 1 2s cubic-bezier(0.42, 0, 0.58, 1);
  animation: fillChange 1 2s cubic-bezier(0.42, 0, 0.58, 1);
}

.background {
  -webkit-animation: scaleAnimation 1 2s cubic-bezier(0.42, 0, 0.58, 1);
  animation: scaleAnimation 1 2s cubic-bezier(0.42, 0, 0.58, 1);

}

.arrow {
  -webkit-animation: arrowAnimation 2 1s;
  animation: arrowAnimation 2 1s;
}

.progressLoader {
  -webkit-animation: progressLoader 1s;
  animation: progressLoader 1s;

}

.arrow,
.progressLoader {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.dribbble {
  position: fixed;
  display: block;
  right: 30px;
  bottom: 30px;

  img {
      display: block;
      height: 25px;
  }


}

.flex__{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.bisics{
  flex-basis: 50%;
}

.sending{
  display: flex;
  justify-content: center;
}

.avatares {
  width: 100%;
  border-radius: 100%;
  padding-top: 100%;
  /// 1:1 Aspect Ratio 
  position: relative;
  /* If you want text inside of it */
  /*width: 100%;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  */

  .content {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 100%;
      transform: translateX(0);
      overflow: hidden;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);


      .img {
          /*height: 100%;
          width: 100%;
          border-radius: 100%;*/
          max-height: 100%;
          max-width: 100%;
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
      }

  }

 
}
