<div *ngIf="show">
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="modal-form__title">
        Legal Review / Consultation
      </h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon (click)="hideModal()" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">

    <mat-grid-list cols="4" rowHeight="80px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Autho Date</span><br />
          {{ legal_model.authoDate | date:'dd MMM yyy' }}
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Autho Acceptance Date</span><br />
          {{ legal_model.authoAcceptanceDate | date:'dd MMM yyy' }}
          <span class="color-transparent" *ngIf="legal_model.authoAcceptanceDate == ''">No Data</span>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select matNativeControl [(ngModel)]="legal_model.statusId">
              <mat-option selected disabled value="">Status</mat-option>
              <mat-option *ngFor="let item of status_catalogue;" [value]="item.id">
                {{ item.status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Deliver To</span><br />
          {{ readDeliverTo( legal_model.applicantId ) }}
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Name</span><br />
          {{ legal_model.applicantName }}
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <div class="page__section-data font-size-12 comments input_final" style="display: flex;">
            <div class="wid">
              <span class="text-mini gray_05">Completion Date</span><br />
              {{ legal_model.serviceCompletionDate | date:'dd MMM yyy' }}
            </div>
            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Completion Date</mat-label>
            <input matInput [matDatepicker]="serv_date" [(ngModel)]="legal_model.serviceCompletionDate" />
            <mat-datepicker-toggle matSuffix [for]="serv_date"></mat-datepicker-toggle>
            <mat-datepicker #serv_date></mat-datepicker>
          </mat-form-field> -->
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Host Country</span><br />
          {{ data.sr_hcountry }}
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field class="example-full-width">
            <mat-label>Billable Hours</mat-label>
            <input [disabled]="user_data.role.id == 3"  matInput placeholder="Billable Hours" type="number" [(ngModel)]="legal_model.billiableHours" />
          </mat-form-field>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="1">
      <div class="page__section margin-top-min">
        <div class="subtitledos">
          Service Documents
        </div>
        <div *ngIf="legal_model.documentLegalReviews.length != 0 || document.length != 0"
          class="page__section">
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Document Type
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Uploaded Date
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Issue Date
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Expiration Date
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Issuing Authority
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Country of Origin
            </span>
          </div>
        </div>
        <div class="page__section documents__ascard"
          *ngFor="let item of legal_model.documentLegalReviews; let i = index">
          <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important;" [disabled]="user_data.role.id == 3" (click)="removeDocument(i, item.id)" style="right: 40px;">
          <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important;" (click)="showDocumentDialogDetails(item,1)">
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getDocumentTypeName(item.documentType)}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.createdDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.issueDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.expirationDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.issuingAuthority}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getCountryOriginName(item.countryOrigin)}}
          </div>
        </div>

        <div class="page__section documents__ascard" *ngFor="let item of document; let i = index">
          <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important;" (click)="removeDocument(i, item.id)" style="right: 40px;">
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getDocumentTypeName(item.documentType)}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.createdDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.issueDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.expirationDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.issuingAuthority}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getCountryOriginName(item.countryOrigin)}}
          </div>
        </div>
      </div>
    </mat-grid-list>


    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty">
          <div class="page__section-button page__section-button--big"
            style="flex: 0 1 180px !important; left: 6px !important;">
            <button (click)="AddDocument()" [disabled]="user_data.role.id == 3" class="button-icon button-icon--more">
              Add New Document
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="40px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="subtitledos">Requested Payments</p>
        </div>
      </mat-grid-tile>

      <!--mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="rp_header">
          <span>Sub Total: {{payments_table_data.ammountSubTotal | currency}}</span>
          <span>Management Fee: {{payments_table_data.managementFeeSubTotal | currency}}</span>
          <span>Wire Fee: {{payments_table_data.wireFeeSubTotal | currency}}</span>
          <span>Advance Fee: {{payments_table_data.advanceFeeSubTotal | currency}}</span>
        </div>
      </mat-grid-tile-->
    </mat-grid-list>
    <mat-grid-list cols="1">
      <table mat-table [dataSource]="payments_table_data.payments" class="mat-elevation-z8 textarea"
        style="width: 100%;">

        <ng-container matColumnDef="cam_0">
          <th mat-header-cell *matHeaderCellDef> Payment </th>
          <td mat-cell *matCellDef="let element">

          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cam_1">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{ element.ammount }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cam_2">
          <th mat-header-cell *matHeaderCellDef> Management Fee </th>
          <td mat-cell *matCellDef="let element"> {{element.managementFee}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cam_3">
          <th mat-header-cell *matHeaderCellDef> Wire Fee </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{element.wireFee}}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cam_4">
          <th mat-header-cell *matHeaderCellDef> Advance Fee </th>
          <td mat-cell *matCellDef="let element"> {{element.advenceFee}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cam_5">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">  </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cam_6">
          <th mat-header-cell *matHeaderCellDef> Recurrence </th>
          <td mat-cell *matCellDef="let element"> {{element.recurrence}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="cam_7">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <img [disabled]="user_data.role.id == 3" src="assets\icons\pencil.png" style="width: 18px; cursor: pointer;" (click)="requestPayment(element)">
            <span>&nbsp;</span>
            <img [disabled]="user_data.role.id == 3" src="assets\icons\delete.png" style="width: 18px; cursor: pointer;" (click)="deletePaymentConcept(element)">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="payments_table_fields"></tr>
        <tr mat-row *matRowDef="let row; columns: payments_table_fields;" [ngClass]="{'urgent': row.urgent}"></tr>
      </table>
    </mat-grid-list>
    <br>
    <mat-grid-list cols="1">
      <div class="page__section margin-top-mini margin-bottom-mini">
        <div class="page__section-name">
          <div>
            <div class="acot">
              <div class="dot"></div>&nbsp;Urgent
            </div>
            <!--span class="browser">TOTAL: {{payments_table_data.ammountSubTotal +
            payments_table_data.managementFeeSubTotal +
            payments_table_data.wireFeeSubTotal +
            payments_table_data.advanceFeeSubTotal | currency}}</span-->
          </div>
        </div>
        <div class="page__section-button page__section-button--big">
          <button class="button-icon button-icon--money" [disabled]="user_data.role.id == 3" (click)="requestPayment()">
            Request Payment
          </button>
        </div>
      </div>
    </mat-grid-list>


    <!-- mat-grid-list cols="1" *ngIf="!is_any_payment">
    <span class="font-purple-dark">
      Any Payment has been requested.
    </span>
  </mat-grid-list -->
    <!-- start coment -->
    <mat-grid-list cols="10" rowHeight="70px">
      <mat-grid-tile [colspan]="10" [rowspan]="1">
        <div class="wid">
          <p class="subtitledos">Comments</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="comments" *ngFor="let item of legal_model.commentLegalReviews; let i = index">
      <mat-grid-list cols="10" rowHeight="80px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="pageAvatarServicio__section pageAvatarServicio__section-inputs no-padding-tbAvatarServicio">
            <div class="pageAvatarServicio__section pageAvatarServicio__section-inputs no-padding-tbAvatarServicio">
              <div class="pageAvatarServicio__section pageAvatarServicio__section-input--x no-padding-tbAvatarServicio">
                <div class="inputAvatarServicio__image">
                  <div class="inputAvatarServicio__image-label--card cursor-pointer">
                    <img [src]="_services.url_images+item.user.avatar" *ngIf="item.user.avatar != null">
                    <div class="avatar" style="background: rgba(0, 0, 0, 0.2);" *ngIf="item.user.avatar === null"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div>
            <img class="avatar" src="{{_services.url_images}}{{item.user.avatar}}" alt=""
              *ngIf="item.user.avatar != null">
            <div class="avatar" style="background: rgba(0, 0, 0, 0.2);" *ngIf="item.user.avatar === null"></div>
          </div> -->
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12">
            <span class="text-mini gray_05">Name</span><br />
            {{item.user.name}} {{item.user.lastName}} {{item.user.motherLastName}}
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12">
            <span class="text-mini gray_05">Title</span><br />
            <span> {{item.user.role.role}} </span>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Date</span><br />
              {{item.createdDate | date:'dd MMM yyy'}}
            </div>
            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="160px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="textarea">
            <br><br>
            <p *ngIf="i == 0">Comment</p>
            <p *ngIf="i > 0">Reply</p>
            <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
              <textarea matInput (change)="item.reply = $event.target.value" #message maxlength="500"
                [disabled]="item.id > 0">{{item.reply}}</textarea>
              <mat-hint align="end">{{message.value.length || 0}} / 500</mat-hint>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
   <!-- end commet -->
   <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="addPropperty">
        <div class="page__section-button page__section-button--big" style="left: 6px;">
          <button (click)="addReply()" class="button-icon button-icon--more"
            *ngIf="legal_model.commentLegalReviews.length > 0" [disabled]="user_data.role.id == 3">
            Add {{cr}}
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

    <mat-grid-list cols="1">
      <div class="page__section margin-top-min">
        <div class="subtitledos">
          Reminder
        </div>
        <div class="page__section">
          <div *ngFor="let reminder of legal_model.reminderLegalReviews, index as index;"
            class="page__section page__section--card page__section--card--cuadra margin-tb-mini">
            <button class="page__section--card-closeButton" (click)="deleteReminderSelected( reminder, index )">x
            </button>
            <div class="page__section page__section-inputs page__section--nowrap">
              <div class="page__section-input page__section-input--2">
                <div class="input_central">
                  <mat-form-field appearance="fill">
                    <mat-label>Reminder Date</mat-label>
                    <input matInput [disabled]="user_data.role.id == 3" [matDatepicker]="service_line_reminder" [min]="yesterday_today" [(ngModel)]="reminder.reminderDate" />
                    <mat-datepicker-toggle matSuffix [for]="service_line_reminder"></mat-datepicker-toggle>
                    <mat-datepicker #service_line_reminder></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="page__section-input page__section-input--8">
                <mat-form-field appearance="fill">
                  <mat-label>Reminder Comments</mat-label>
                  <input matInput [disabled]="user_data.role.id == 3" placeholder="Service Line" type="text" [(ngModel)]="reminder.reminderComments" #a
                    maxlength="500">
                  <mat-hint align="end">{{a.value.length || 0}} / 500</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-list>

    <!-- mat-grid-list cols="1" *ngIf="legal_model.reminderLegalReviews.length == 0">
    <span class="font-purple-dark">
      Any Reminder has been added.
    </span>
  </mat-grid-list -->

    <mat-grid-list cols="1">
      <div class="page__section margin-top-mini margin-bottom-m">
        <div class="page__section-name"></div>
        <div class="page__section-button">
          <button class="button-icon button-icon--more" [disabled]="user_data.role.id == 3" (click)="addNewReminder()">
            Add Reminder
          </button>
        </div>
      </div>
    </mat-grid-list>

     <!--  Service Client Documents -->
     <mat-grid-list cols="1" *ngIf="serviceScope">
      <div class="page__section margin-top-min">
        <div class="subtitledos">
          Scope Client Service
        </div>
        <br><br>

        <div *ngIf="serviceScope.documentcountries?.length != 0" class="page__section">
          <div class="page__section-input page__section-input--6_1-local">
            <span class="documents__index documents__index--task">
              Document Type
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1-local">
            <span class="documents__index documents__index--task">
              Status
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1-local">
            <span class="documents__index documents__index--task">
              Privacy
            </span>
          </div>

        </div>
        <div class="page__section documents__ascard" *ngFor="let item of serviceScope.documentcountries">
          <!-- (click)="DeleteOnline(item.id)" -->
          <img src="./assets/icons/export.png" class="page__section--card-closeButton delete"
          style="background: transparent!important;"  style="right: 40px;"  (click)="openFileOnWindow(item.fileRequest)">
          <!-- <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important;" (click)="showDocumentDialogDetails(item,1)"> -->
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            {{item.documentType}}
          </div>
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            {{item.status}}
          </div>
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            {{item.privacy}}
          </div>
        </div>
      </div>
    </mat-grid-list>
    <!-- Scope Client Service -->
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="subtitledos">Client Service Scope</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1" *ngIf="serviceScope">
        <div class="textarea">
          <p [innerHTML]="serviceScope.scopeDescription"></p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br><br>



  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <button (click)="updateLegalReview()">Save</button>
    </div>
  </mat-dialog-actions>
</div>
