mat-card{
    padding: 15px!important;
    margin: 15px 0 15px 0!important;
}

.addPropperty{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div{
    width: 100%;
}

.page__section-button--big {
    flex: 0 1 140px;
}

th.mat-header-cell {
    text-align: center !important;
}

.avatar{
    border-radius: 100%;
    height: 55px;
}