<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="modal-form__title">
      Map
    </h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon (click)="hideModal()" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field appearance="fill">
          <mat-label>Service Line</mat-label>
          <mat-select matNativeControl
                      [(ngModel)]="mapit_model.serviceLine"
                      (selectionChange)="getSupplier()">
            <mat-option selected disabled value="">Service Line</mat-option>
            <mat-option *ngFor="let item of serviceline_catalogue" [value]="item.id">
              {{ item.serviceLine }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Service Line</span><br />
        {{ mapit_model.serviceLineName }}
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field appearance="fill">
          <mat-label>Supplier Partner</mat-label>
          <mat-select matNativeControl
                      [disabled]="!able_select_sup"
                      [(ngModel)]="mapit_model.supplierPartner">
            <mat-option selected disabled value="">Supplier Partner</mat-option>
            <mat-option *ngFor="let item of supplier_catalogue;" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Supplier Partner</span><br />
        {{ mapit_model.supplierPartnerName }}
      </div>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput
                 [matDatepicker]="auto_date"
                 [(ngModel)]="mapit_model.startDate" />
          <mat-datepicker-toggle matSuffix [for]="auto_date"></mat-datepicker-toggle>
          <mat-datepicker #auto_date></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Start Date</span><br />
        {{ mapit_model.startDate | date:'dd/MMM/yyy' }}
      </div>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100"></div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100"></div>
  </div>
  <!--div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field class="example-full-width">
          <mat-label>Driver Name</mat-label>
          <input matInput
                 placeholder="Driver Name"
                 type="text"
                 [(ngModel)]="mapit_model.driverName" />
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Driver Name</span><br />
        {{ mapit_model.driverName }}
      </div>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field class="example-full-width">
          <mat-label>Driver Contact</mat-label>
          <input matInput
                 placeholder="Driver Contact"
                 type="text"
                 [(ngModel)]="mapit_model.driverContact" />
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Driver Contact</span><br />
        {{ mapit_model.driverContact }}
      </div>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field class="example-full-width">
          <mat-label>Vehicle</mat-label>
          <input matInput
                 placeholder="Vehicle"
                 type="text"
                 [(ngModel)]="mapit_model.vehicle" />
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Vehicle</span><br />
        {{ mapit_model.vehicle }}
      </div>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
      <div class="input_central" *ngIf="is_new_mapit">
        <mat-form-field class="example-full-width">
          <mat-label>Plate Number</mat-label>
          <input matInput
                 placeholder="Plate Number"
                 type="text"
                 [(ngModel)]="mapit_model.plateNumber" />
        </mat-form-field>
      </div>
      <div class="page__section-data font-size-12" *ngIf="!is_new_mapit">
        <span class="text-mini gray_05">Vehicle</span><br />
        {{ mapit_model.plateNumber }}
      </div>
    </div>
  </div-->
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="page__title">
      Locations
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="page__section">
      <table mat-table mat-sort
             [dataSource]="table_location_data"
             style="flex: 1 0 100%; box-shadow: 0 0 2px 2px rgba(0,0,0,.1);">

        <!-- Position Column -->
        <ng-container matColumnDef="cam_0">
          <th mat-header-cell *matHeaderCellDef class="text-center">Location Type</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ getDataFromLocationType( element.locationType ) }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="cam_1">
          <th mat-header-cell *matHeaderCellDef class="text-center">Service</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ getDataFromService( element.service ) }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="cam_2">
          <th mat-header-cell *matHeaderCellDef class="text-center">Location Name</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.locationName }}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="cam_3">
          <th mat-header-cell *matHeaderCellDef class="text-center">Address</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.address }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="location_colums"></tr>
        <tr mat-row *matRowDef="let row; columns: location_colums;"></tr>
      </table>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="page__section margin-tb-min">
      <div class="page__section-name no-padding"></div>
      <div class="page__section-button">
        <button *ngIf="!show_location_form"
                (click)="showLocationForm()"
                class="button-icon button-icon--adder">
          Add Location
        </button>
      </div>
    </div>
  </div>
  <div class="margin-bottom-min" [class.display-none]="!show_location_form">
    <div class="page__section page__section--card">
      <button 
        (click)="showLocationForm()"
        class="page__section--card-closeButton">
      </button>
      <div class="page__section page__section-inputs">
        <div class="page__section-input page__section-input--33">
          <mat-form-field appearance="fill" class="input_central">
            <mat-label>Location Type</mat-label>
            <mat-select 
              matNativeControl
              [(ngModel)]="location_in.locationType"
              (selectionChange)="getSupplier()">
              <mat-option disabled selected value="">Location Type</mat-option>
              <mat-option *ngFor="let item of locationtype_catalogue.value;" [value]="item.id">
                {{ item.locationType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="page__section-input page__section-input--33">
          <mat-form-field appearance="fill" class="input_central">
            <mat-label>Service</mat-label>
            <mat-select matNativeControl
                        [disabled]="!able_select_sup"
                        [(ngModel)]="location_in.service">
              <mat-option disabled selected value="">Service</mat-option>
              <mat-option *ngFor="let item of service_catalogue.value" [value]="item.id">
                {{ item.category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="page__section-input page__section-input--33">
          <mat-form-field class="input_final">
            <mat-label>Location Name</mat-label>
            <input matInput
                   placeholder="Location Name"
                   type="text"
                   [(ngModel)]="location_in.locationName" />
          </mat-form-field>
        </div>
        <div class="page__section-input page__section-input--x position-relative overflow-visible">
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <!--<input type="search" placeholder="Buscar en el mapa" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">-->
            <input 
              matInput
              #addressInput
              placeholder="Address"
              ngx-google-places-autocomplete
              #placesRef="ngx-places"
              (onAddressChange)="onSubmit()"
              (keydown)="createAutoCompleteData( $event )"
              type="search"
              [(ngModel)]="location_in.address" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let item of options_found;" [value]="item.option " (click)="onSubmit()">
                  {{item.option }}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
          <!--div class="mapit__options" [class.display-none]="options_found.length == 0 ">
            <div class="mapit__options-option" 
              *ngFor="let item of options_found;"
              [class.mapit__options-option--active]="item.option == location_in.address" (click)="location_in.address = item.option;">
              <span>{{ item.option }}</span>
            </div>
          </div-->
        </div>
      </div>
      <div class="page__section margin-top-min page__section--justify-end">
        <div class="page__section-buttong">
          <button (click)="addNewLocation()">
            Add Location
          </button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="page__section page__section--nowrap">
      <div class="column-grid-5">
        <div class="page__section">
          <div class="page__title">
            Map
          </div>
        </div>
        <div class="page__section">
          <div class="page__section-map">
            <!--<div #mapContainer id="map"></div>-->
            <agm-map [latitude]="latitud"
                     [longitude]="longitud"
                     [zoom]="zoom"
                     [fullscreenControl]="true"
                     [disableDefaultUI]="false"
                     [zoomControl]="true"
                     (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of markers; let i = index"
                          (markerClick)="clickedMarker(m.nombre, i)"
                          [latitude]="m.latitude"
                          [longitude]="m.longitude"
                          [label]="m.nombre"
                          [markerDraggable]="m.draggable"
                          [iconUrl]="
                                {
                                    url: m.url,
                                    scaledSize: {
                                        width: 30,
                                        height: 30
                                    }
                                }"
                          (dragEnd)="markerDragEnd(m, $event, i)">

                          <agm-info-window>
                            <strong>{{info}}</strong>
                          </agm-info-window>
                <!--<agm-info-window>
                  <strong>InfoWindow content</strong>
                </agm-info-window>-->

              </agm-marker>

              <!--<agm-circle [latitude]="markers[0].latitud" [longitude]="markers[0].longitud"
                          [radius]="400"
                          [fillColor]="'#37F53A'"
                          [circleDraggable]="true"
                          [editable]="true">
              </agm-circle>-->
              <!--agm-kml-layer [url]="'http://ec2-52-90-248-131.compute-1.amazonaws.com/kml_mrvc/vc_1.kml'"> </agm-kml-layer-->

            </agm-map>
          </div>
        </div>
      </div>
      <div class="column-grid-5">
        <div class="mapit__comment">
          <p class="mapit__comment-lbl">Comments</p>
          <textarea class="mapit__comment-txt"
                    [(ngModel)]="mapit_model.comments"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="page__section page__section--justify-end">
      <div class="page__section-buttong">
        <button *ngIf="is_new_mapit" (click)="createMapit()">Save</button>
        <button *ngIf="!is_new_mapit" (click)="updateMapit()">Save</button>
      </div>
    </div>
  </div>
</mat-dialog-content>


