<div *ngIf="show">
  <!------------------------------------OPEN HEADER------------------------------------------>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
       <h2 mat-dialog-title class="primary_title">{{data.data.service_name || data.serviceName }}</h2>

    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <!-----primera seccion ---->
    <mat-grid-list cols="5" rowHeight="70px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho</span><br />
            {{dataOther.authoDate | date:'dd MMM yyy'}}
          </div>
          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <!-- <div *ngIf="data.acceptance != '0001-01-01T00:00:00'"> -->
            <span class="text-mini gray_05">Autho Acceptance</span><br />
            {{dataOther.authoAcceptanceDate | date:'dd MMM yyy'}}
          </div>

          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central" style="width: 100%; height: 100%;">
          <mat-checkbox class="example-margin textarea" [(ngModel)]="dataOther.coordination" disabled>
            Coordination
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="addPropperty" *ngIf="!hide_complete && !hide_by_permissions"> 
          <div class="page__section-button page__section-button--big" style="left: 6px;">
            <button *ngIf="show_completed" class="button-icon button-icon--follow" (click)="change_button()">
              Complete
            </button>
            <button *ngIf="show_progress" class="button-icon button-icon--flag" (click)="change_button()">
              Start
            </button>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="dataOther.statusId" [disabled]="disabled_by_permissions">
              <mat-option *ngFor="let data of catalog_status" [value]="data.id">{{data.status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <!--**************** -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Deliver To</span><br />
            {{data.data.deliveredTo}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Name</span><br />
            <span *ngIf="dataDeliver">{{dataDeliver.name}}</span>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Work Order</span><br />
            {{ wo_ }}
          </div> 
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Service #</span><br />
            {{ sr_ }}
          </div> 
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <div class="page__section-data font-size-12 comments input_final" style="display: flex;">
            <div class="wid">
              <span class="text-mini gray_05">Completion</span><br />
              {{ dataOther.serviceCompletionDate | date:'dd MMM yyy' }}
            </div>
            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Completion Date</mat-label>
            <input [(ngModel)]="dataOther.serviceCompletionDate" matInput [matDatepicker]="pickertres" placeholder="Service Completion Date">
            <mat-datepicker-toggle matSuffix [for]="pickertres"></mat-datepicker-toggle>
            <mat-datepicker #pickertres></mat-datepicker>
          </mat-form-field> -->
        </div>
      </mat-grid-tile>

      <!-- **************** -->

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Country</span><br />
            {{data.data.country}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12" style="display: flex;">
          <div>
            <span class="text-mini gray_05">City</span><br />
            {{data.data.location}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="130px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="textarea">
          <br><br>
          <!-- <p *ngIf="i == 0">Comment</p>
          <p *ngIf="i > 0">Reply</p> -->
          <mat-label>Description</mat-label>
          <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
            <!-- <textarea matInput (change)="data.reply = $event.target.value" [disabled]="data.id > 0" #message
              maxlength="500">{{data.reply}}</textarea> -->
            <textarea matInput [disabled]="user.role.id == 3"  #message [(ngModel)]="dataOther.description"
              maxlength="500"> </textarea>
            <!-- <mat-hint align="end">{{message.value.length}} / 500</mat-hint> -->
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br><br>

    <app-card-service-detaill *ngIf="this.isVisible" [datos]="datos"></app-card-service-detaill>
 
    <br><br>


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <button (click)="save()">Save</button>
    </div>
  </mat-dialog-actions>
</div>
