<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="modal-form__title">Change Password</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span>
        <span style="font-weight:bold;">Password must have: </span>
        <br>
        <br>1) At least 8 characters
        <br>2) At least one upper-case letter
        <br>3) At least one number.
        <br>
        <br> Example:<b> Admin123</b></span>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile> -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea" *ngIf="data.role != 3">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput required placeholder="Password" [(ngModel)]="data.password"
            (keyup)="validarPass()">
          <mat-error>Field is required</mat-error>
          <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_password">{{hintMessen}}</mat-hint>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea" *ngIf="data.role != 3">
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput required placeholder="Password" [(ngModel)]="password2"
            (keyup)="validarPass()">
          <mat-error>Field is required</mat-error>
          <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_password2">{{hintMessen2}}</mat-hint>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div id="resultado"></div>
    </mat-grid-tile> -->
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button [disabled]="passCorrect === false" (click)="validarForm()">Save</button>
  </div>
</mat-dialog-actions>