<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Additional Expenses</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography">

  <mat-grid-list cols="3" rowHeight="60px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label>Concept</mat-label>
        <input matInput [(ngModel)]="data.concept" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [(ngModel)]="data.amount" />
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_final textarea">
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select [(ngModel)]="data.currency">
            <mat-option *ngFor="let item of ca_currency" [value]="item.id"> {{item.currency}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
