
  .wrapper{
    padding: 0;
    text-align:center;
  }
  .wrapper h2{
    padding-bottom: 20px;
  }
  .wrapper #file-input{
    display:none;
  }
  
  .wrapper label[for='file-input'] *{
    vertical-align:middle;
    cursor:pointer;
  }
  
  .wrapper label[for='file-input'] span{
    margin-left: 10px
  }
  
  .wrapper i.remove{
    vertical-align:middle;
    margin-left: 5px;
    cursor:pointer;
    display:none;
  }

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.example-card {
    max-width: 400px;
    max-height: 400px;
    text-align: center;
  }
  
  .example-header-image {
    background-size: cover;
  }