<div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap="10px">

    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="modal-form__title">{{data.data.service_name || data.serviceName  }}</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">

    <mat-grid-list cols="5" rowHeight="80px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Autho</span><br />
          {{settlingin.authoDate | date: 'dd MMM yyyy'}}
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12">
          <span class="text-mini gray_05">Autho Acceptance</span><br />
          {{settlingin.authoAcceptanceDate | date: 'dd MMM yyyy'}}
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="height: 70%;" *ngIf="settlingin.coordination">
          <p class="subtitle" style="font-size: 8px; margin: 0;">Coordination</p>
          <mat-checkbox [disabled] class="example-margin textarea" [(ngModel)]="settlingin.coordination">
          </mat-checkbox>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <!-- <div class="addPropperty" *ngIf="!hide_complete && !hide_by_permissions"> 
          <div class="page__section-button page__section-button--big" style="left: 6px;">
            <button *ngIf="show_completed" class="button-icon button-icon--follow" (click)="change_button()">
              Complete
            </button>
            <button *ngIf="show_progress" class="button-icon button-icon--flag" (click)="change_button()">
              Start
            </button>
          </div>
        </div> -->
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <!-- <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select matNativeControl [(ngModel)]="settlingin.statusId" [disabled]="disabled_by_permissions">
              <mat-option selected disabled value="">Status</mat-option>
              <mat-option *ngFor="let item of cestatus;" [value]="item.id">
                {{ item.status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Status</span><br />
            <span style="background: none;
        border: none;
        color: blue;
        text-decoration: underline; cursor: pointer;" (click)="change_status_detail()">
              {{_texto_status}}</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Work Order</span><br />
            {{ wo_ }}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Service #</span><br />
            {{ sr_ }}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

      <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <div>
            <span class="text-mini gray_05">Completion</span><br />
            {{ settlingin.serviceCompletionDate | date:'dd/MMM/yyy' }}
          </div>
        </div>
      </mat-grid-tile> -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central">
          <div class="page__section-data font-size-12 comments input_final" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Completion</span><br />
              {{ settlingin.serviceCompletionDate | date:'dd MMM yyy' }}
            </div>
            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="wid">
              <p class="page__section-name">Permanent Home</p>
          </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
  
        <div class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--more" (click)="openhousinglist();">
                Propertys List
            </button>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!----------------------------------------------------------------------------------------->
  <!---------------------------- INICIO PERMANENT HOME -------------------------------------->
  <!----------------------------------------------------------------------------------------->
  
  <div style="padding: 20px;" class="mat-elevation-z5" *ngIf="permanentHome.id > 0">
      <mat-grid-list cols="5" rowHeight="70px">
          <mat-grid-tile [colspan]="1" [rowspan]="4">
              <div class="page__sectionConsultant page__section-inputs no-padding-tb">
                  <div class="page__sectionConsultant page__section-inputs no-padding-tb">
                      <div class="page__sectionConsultant page__section-input--x no-padding-tb">
  
                          <div class="input__image">
                              <label for="ass_prof_photo_input" class="input__image-label">
                                  <div class="input__image-label--cardConsultant">
                                      <img *ngIf="permanentHome.propertyType == 2"
                                          [class.display-none]="no_main_photo" src="assets/house1.jpg"
                                          id='ass_prof_photo' />
                                      <img *ngIf="permanentHome.propertyType == 1"
                                          [class.display-none]="no_main_photo" src="assets/apartment.jpg"
                                          id='ass_prof_photo1' />
                                      <img *ngIf="permanentHome.propertyType == 0  || !permanentHome.propertyType"
                                          [class.display-none]="no_main_photo" src="assets/house1.jpg"
                                          id='ass_prof_photo' />
                                  </div>
                                  <span class="input__image-label--cardSpan" (click)="editHousing(permanentHome)">
                                      Edit Property
                                  </span>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
  
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">Address</span><br />
                      {{permanentHome.address}}
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">Neighborhood</span><br />
                      {{permanentHome.neighborhood}}
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">Property Type</span><br />
                      {{getProperty_(permanentHome.propertyType)}}
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">Price</span><br />
                      {{permanentHome.price | currency}}
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">Beds</span><br />
                      {{permanentHome.bedrooms}}
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">Baths</span><br />
                      {{permanentHome.bathrooms}}
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                  <div>
                      <span class="text-mini gray_05">URL</span><br />
                      <a class="browser" style="font-size: 15px; text-decoration: underline; font-weight: bolder;" *ngIf="permanentHome.webSite != null"
                          [attr.href]="permanentHome.webSite" target="_blank">
                          {{permanentHome.webSite.substring(0, 55)}}
                      </a>
                  </div>
              </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="4" [rowspan]="2">
  
              <div class="page__section">
                  <div class="dash dash--80">
  
                      <div class="dash__cell dash__cell--25" (click)="lsfselect()" style="margin-left: 5px;">
                          <div class="dash__card dash__card--up cursor-pointer">
                              <span class="dash__card--flag index-aqua" style="background-color: #3A2337;"></span>
                              <div class="dash__card-sTitl" style="font-size: 14px;">Lease Summary</div>
                              <img src="../../../assets/icons/lease.png" class="dash__card-sIcon" style="width: 25px;" />
                              <!--  <div class="dash__card-sMini">
                              <span>{{counts?.arrivals}}</span> 
                            </div>-->
                          </div>
                      </div>
                      <div class="dash__cell dash__cell--25" (click)="irfselect()">
                          <div class="dash__card dash__card--up cursor-pointer">
                              <span class="dash__card--flag index-yellow" style="background-color: #3A2337;"></span>
                              <div class="dash__card-sTitl" style="font-size: 14px;">Inspections</div>
                              <img src="../../../assets/icons/inspection.png" class="dash__card-sIcon" />
                              <!--<div class="dash__card-sMini">
                               <span>{{counts?.arrivals}}</span> 
                            </div>-->
                          </div>
                      </div>
  
                  </div>
              </div>
          </mat-grid-tile>
      </mat-grid-list>
  
  </div>
  <!----------------------------------------------------------------------------------------->
  <!---------------------------- FIN PERMANENT HOME ----------------------------------------->
  <!----------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------->


        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!--------------------------- START SERVICE DETAIL BUTTONS  -------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->

        <br>
        <mat-grid-list cols="4" rowHeight="70px" *ngIf="permanentHome != undefined">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <div class="wid">
                    <p class="page__section-name">Service Details</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <app-card-service-detaill *ngIf="this.isVisible" [datos]="datos"></app-card-service-detaill>


        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!--------------------------- END SERVICE DETAIL BUTTONS  -------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------->

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <button (click)='save()'>Save Lease R.</button>
    </div>
  </mat-dialog-actions>
</div>