<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="modal-form__title">Country</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon (click)="hideModal()" style="cursor:pointer">close</mat-icon>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div class="page__section">
        <div class="page__title text-normal font-18">
            Lorem Ipsum
        </div>
    </div>
    <div class="page__section">
        <figure class="page__section-imgSlider">
            <span class="page__section-imgSlider--prev"></span>
            <img class="page__section-imgSlider--img" src="https://www.xtrafondos.com/descargar.php?id=3377&resolucion=5120x2880" />
            <span class="page__section-imgSlider--next"></span>
        </figure>
    </div>
    <div class="page__section">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempora quos assumenda harum 
        error earum maxime molestiae sequi facere quo aut, praesentium perferendis accusamus, 
        quaerat quis enim consequuntur nisi modi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempora quos assumenda harum 
        error earum maxime molestiae sequi facere quo aut, praesentium perferendis accusamus, 
        quaerat quis enim consequuntur nisi modi?
    </div>
    <div class="page__section page__section-imgSlider-marks-container">
        <div class="page__section-imgSlider-marks">
            <span class="page__section-imgSlider-marks-dot page__section-imgSlider-marks-dot--on"></span>
            <span class="page__section-imgSlider-marks-dot page__section-imgSlider-marks-dot--off"></span>
            <span class="page__section-imgSlider-marks-dot page__section-imgSlider-marks-dot--off"></span>
            <span class="page__section-imgSlider-marks-dot page__section-imgSlider-marks-dot--off"></span>
            <span class="page__section-imgSlider-marks-dot page__section-imgSlider-marks-dot--off"></span>
        </div>
    </div>
</mat-dialog-content>