<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Contract & Pricing Info</h2>
  </div>
  <div
    fxFlex.gt-lg="10"
    fxFlex.gt-md="10"
    fxFlex.gt-xs="100"
    fxFlex="100"
    align="end"
  >
    <mat-icon [mat-dialog-close]="true" style="cursor: pointer">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_serviceLine }">
          Service Line
        </mat-label>
        <mat-select
        matNativeControl
        multiple
        [disabled]="disabled"
        (focus)="active_serviceLine = false"
        required
        [(ngModel)]="data.idServiceLine" (ngModelChange)="changeModel()">
        <mat-option *ngFor="let item of caServiceLine" [value]="item.id">{{
          item.serviceLine
        }}</mat-option>
      </mat-select>
      <mat-error>Field is required</mat-error>
      <mat-hint
        style="color: #e91e63; font-size: 12px"
        *ngIf="active_serviceLine"
        >Field is required</mat-hint
      >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_contractType }"
          >Contract Type</mat-label
        >
        <mat-select
          matNativeControl
          [(ngModel)]="data.idPricingSchedule"
          (focus)="active_contractType = false"
          required
          [disabled]="disabled"
          (ngModelChange)="namepricing()"
        >
          <mat-option
            *ngFor="let item of caPrecingSchedule"
            [value]="item.id"
            >{{ item.pricingSchedule1 }}</mat-option
          >
        </mat-select>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_idPricingSchedule"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_contractName }"
          >Contract Name</mat-label
        >
        <input matInput placeholder="Contract Name" (focus)="active_contractName = false"
        required
        [disabled]="disabled"
        [(ngModel)]="data.contractName"/>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_contractName"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_contractEffectiveDate }">
          Contract Effective Date
        </mat-label>
        <input
          matInput
          [disabled]="disabled"
          [matDatepicker]="picker"
          (focus)="active_contractEffectiveDate = false"
          required
          [(ngModel)]="data.contractEffectiveDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_contractEffectiveDate"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_contractExpirationDate }"
          >Contract Expiration Date</mat-label
        >
        <input
          matInput
          [min]="minDate"
          [matDatepicker]="pickers"
          [(ngModel)]="data.contractExpirationDate"
          (ngModelChange)="history = true; compareDates();"
          (focus)="active_contractExpirationDate = false"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickers"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_contractExpirationDate"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_referralFee }"
          >Referral Fee</mat-label
        >
        <input type="number" matInput placeholder="Referral Fee" (focus)="active_referralFee = false"
        required
        [disabled]="disabled"
        [(ngModel)]="data.referralFee"/>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_referralFee"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_idReferralFeeType }"
          >Referral Payment Type</mat-label
        >
        <mat-select
          matNativeControl
          [disabled]="disabled"
          (focus)="active_idReferralFeeType = false"
          required
          [(ngModel)]="data.idReferralPaymentType"
        >
          <mat-option *ngFor="let item of caReferralPaymentType" [value]="item.id">{{
            item.description
          }}</mat-option>
        </mat-select>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_idReferralFeeType"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_idPaymentRecurrence }"
          >Referral Payment Recurrence</mat-label
        >
        <mat-select
          (focus)="active_idPaymentRecurrence = false"
          required
          [disabled]="disabled"
          matNativeControl
          [(ngModel)]="data.idPaymentRecurrence"
          (ngModelChange)="namepaymentRecurrence()"
        >
          <mat-option *ngFor="let item of caDuration" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_idPaymentRecurrence"
          >Field is required</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field appearance="fill" class="input_central">
      <mat-label [ngClass]="{ valid: active_IdServicePaymentRecurrence }"
        >Service Payment Recurrence</mat-label
      >
      <input type="number" matInput placeholder="Number of days" (focus)="active_IdServicePaymentRecurrence = false"
      required
      [disabled]="disabled"
      [(ngModel)]="data.idServicePaymentRecurrence"/>
      <mat-error>Field is required</mat-error>
      <mat-hint
        style="color: #e91e63; font-size: 12px"
        *ngIf="active_IdServicePaymentRecurrence"
        >Field is required</mat-hint
      >
<!-- 
      <mat-select
        (focus)="active_IdServicePaymentRecurrence = false"
        required
        matNativeControl
        [(ngModel)]="data.idServicePaymentRecurrence"
        (ngModelChange)="namepaymentRecurrence()"
      >
        <mat-option *ngFor="let item of caServicePaymentRecurrence" [value]="item.id">{{
          item.description
        }}</mat-option>
      </mat-select> -->
      <mat-error>Field is required</mat-error>
      <mat-hint
        style="color: #e91e63; font-size: 12px"
        *ngIf="active_IdServicePaymentRecurrence"
        >Field is required</mat-hint
      >
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill" class="input_central">
        <mat-label [ngClass]="{ valid: active_IdThirdPartyPaymentRecurrence }"
          >Third Party Payment Recurrence</mat-label
        >
        <input type="number" matInput placeholder="Number of days" [disabled]="disabled" (focus)="active_IdThirdPartyPaymentRecurrence = false"
        required
        [(ngModel)]="data.idThirdPartyPaymentRecurrence"/>
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_IdThirdPartyPaymentRecurrence"
          >Field is required</mat-hint
        >
        <!-- <mat-select
          (focus)="active_IdThirdPartyPaymentRecurrence = false"
          required
          matNativeControl
          [(ngModel)]="data.idThirdPartyPaymentRecurrence"
          (ngModelChange)="namepaymentRecurrence()"
        >
          <mat-option *ngFor="let item of caThirdPartyPaymentRecurrence" [value]="item.id">{{
            item.description
          }}</mat-option>
        </mat-select> -->
        <mat-error>Field is required</mat-error>
        <mat-hint
          style="color: #e91e63; font-size: 12px"
          *ngIf="active_IdThirdPartyPaymentRecurrence"
          >Field is required</mat-hint
        >
      </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-form-field>
      <mat-label
        >Billing Instructions</mat-label
      >
      <textarea
        matInput
        [disabled]="disabled"
        #input
        maxlength="500"
        placeholder="Billing Instructions"
        type="text"
        [(ngModel)]="data.billingInstruction"
      ></textarea>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field>
        <mat-label
          >Description</mat-label
        >
        <textarea
          matInput
          [disabled]="disabled"
          #input
          maxlength="500"
          placeholder="Description"
          type="text"
          (focus)="active_description = false"
          [(ngModel)]="data.description"
        ></textarea>
        <mat-hint align="end">{{ input.value?.length || 0 }}/500</mat-hint>
       
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1">
    <div class="page__section margin-top-min">
      <div class="page__section-name">Documents</div>
      <div class="page__section">
        <div class="page__section-input page__section-input--25">
          <span class="documents__index documents__index--task">
            Document Type
          </span>
        </div>
        <div class="page__section-input page__section-input--25">
          <span class="documents__index documents__index--task">
            Uploaded Date
          </span>
        </div>
        <div class="page__section-input page__section-input--25">
          <span class="documents__index documents__index--task">
            Document Name
          </span>
        </div>
        <div class="page__section-input page__section-input--25">
          <span class="documents__index documents__index--task">
            Description
          </span>
        </div>
      </div>

      <div
        class="page__section documents__ascard"
        *ngFor="let item of data.documentGeneralContractPricingInfos">
        <img
          src="assets/icons/quit.svg"
          class="page__section--card-closeButton delete"
          style="background: transparent !important"
          *ngIf="permission_delete" (click)="deleteDocument(item.id);"/>
        <div
          class="page__section-input page__section-input--25 documents__ascard--task">
          <a href="{{_services.url_images}}{{item.fileRequest}}" target="_blank">
            {{ getDocument(item.idDocumentType) }}
          </a>          
        </div>
        <div
          class="page__section-input page__section-input--25 documents__ascard--task"
        >
          {{ item.updateDate | date : "dd MMM yyy" }}
        </div>
        <div
          class="page__section-input page__section-input--25 documents__ascard--task"
        >
          {{ item.documentName }}
        </div>
        <div
          class="page__section-input page__section-input--25 documents__ascard--task"
        >
          {{ item.description }}
        </div>
      </div>
    </div>
  </mat-grid-list>

  <div class="textarea margin_table" style="text-align: end">
    <button
      class="btnr btnr--add"
      (click)="DialogDocumentsLeadClientComponent(null)"
      matRipple
      matRippleColor="rgba(157, 50, 146, 0.5)"
      *ngIf="(permission_write || permission_edit) && !disabled"
    >
      Add New Document
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div
    class="page__section-buttong"
    *ngIf="(permission_write || permission_edit) && !disabled"
  >
    <button (click)="save()">{{(history && data.action != 'new') ? 'Create new contract' : 'Save'}}</button>
  </div>
</mat-dialog-actions>
