<!------------------------------------OPEN HEADER------------------------------------------>
<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Wire Transfer</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<!----------------------------------OPEN CONTENT------------------------------------------>
<mat-dialog-content class="mat-typography" style="height: calc(100% - 96px);max-height: unset">

  <mat-grid-list cols="4" rowHeight="100px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Account Category</mat-label>
          <mat-select [(ngModel)]="accountCategory" (ngModelChange)="changeAccountCategory()" multiple>
            <mat-option *ngFor="let item of ca_accountCat" [value]="item.id">
              {{item.name}}</mat-option>
          </mat-select>
          <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_accountCategory">Field is required</mat-hint>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="mat-elevation-z5">
    <!--Inicio Banking Details Beneficiary-->
    <mat-grid-list cols="4" rowHeight="70px" *ngIf="accountCategory?.includes(1)">
      <mat-grid-tile style="left: -42px;" [colspan]="4" [rowspan]="1">
        <div class="input_final">
          Banking Details Beneficiary
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Name</mat-label>
            <input matInput [(ngModel)]="data.accountNameBeneficiary" required>
            <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_accountName">Field is required</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Tax ID</mat-label>
            <input matInput [(ngModel)]="data.taxId" required>
            <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_taxId">Field is
              required</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput [(ngModel)]="data.accountNumberBeneficiary" type="number" min="0" required>
            <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_accountNumberBeneficiary">Field is
              required</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select [(ngModel)]="data.idCurrency" required>
              <mat-option *ngFor="let item of ca_currency" [value]="item.id">
                {{item.currency}}</mat-option>
            </mat-select>
            <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_idCurrency">Field is required</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Type</mat-label>
            <mat-select [(ngModel)]="data.idAccountType" required>
              <mat-option *ngFor="let item of ca_countType" [value]="item.id">
                {{item.accountType}}</mat-option>
            </mat-select>
            <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_idAccountType">Field is required</mat-hint>

          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Name</mat-label>
            <input matInput [(ngModel)]="data.bankNameBeneficiary" required>
            <mat-hint style="color: #e91e63; font-size: 12px" *ngIf="valid_bankNameBeneficiary">Field is
              required</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="2" [rowspan]="1">
        <div style="width: 86%;" class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Address (Type Address including City and Country)</mat-label>
            <input matInput [(ngModel)]="data.bankAddressBeneficiary" #bankAddressBeneficiary maxlength="150"
              placeholder="Type Address including City and Country">
            <mat-hint align="end">{{bankAddressBeneficiary.value.length}} / 150</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Branch</mat-label>
            <input matInput [(ngModel)]="data.bankBranch">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Phone Number</mat-label>
            <input type="number" min="0" matInput [(ngModel)]="data.bankPhone">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>CLABE/CBU/CCI</mat-label>
            <input matInput [(ngModel)]="data.clabe" type="number" min="0">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>IBAN</mat-label>
            <input matInput [(ngModel)]="data.iban" type="number" min="0">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>SWIFT / BIC Code ( If Applies)</mat-label>
            <input matInput placeholder="SWIFT / BIC Code ( If Applies)" [(ngModel)]="data.swiftBeneficiary"
             ><!-- type="number" min="0"-->
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <p class="subtitle" style="font-size: 12px;">W8/W9</p>
          <mat-checkbox class="example-margin" [(ngModel)]="data.w8W9"></mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Wire Fee Approx</mat-label>
            <span matPrefix>$ &nbsp;</span>
            <input matInput placeholder="Wire Fee Approx" type="number" min="0" [(ngModel)]="data.wireFeeApprox">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <p class="subtitle" style="font-size: 12px;">International Payment Acceptance</p>
          <mat-checkbox class="example-margin" [(ngModel)]="data.internationalPaymentAcceptance"></mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div style="width: 86%;" class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Additional Instructions</mat-label>
            <input [(ngModel)]="data.adiitionalInstruccion" matInput #message_bankaddress maxlength="250">
            <mat-hint align="end">{{message_bankaddress.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!--Fin Banking Details Beneficiary-->

    <!--Inicio Banking Details Intermediary-->
    <mat-grid-list cols="4" rowHeight="70px" *ngIf="accountCategory?.includes(2)">
      <mat-grid-tile style="left: -42px;" [colspan]="4" [rowspan]="1">
        <div class="input_final">
          Banking Details Intermediary
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Name</mat-label>
            <input matInput [(ngModel)]="data.bankNameIntermediary">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="2" [rowspan]="1">
        <div style="width: 86%;" class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Bank Address (Type Address including City and Country)</mat-label>
            <input matInput placeholder="Type Address including City and Country" type="text" #message_bankaddress
              maxlength="150" [(ngModel)]="data.bankAddressIntermediary"
              placeholder="Type Address including City and Country">
            <mat-hint align="end">{{message_bankaddress.value.length}} / 150</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>SWIFT / BIC Code ( If Applies)</mat-label>
            <input matInput placeholder="SWIFT / BIC Code ( If Applies)" [(ngModel)]="data.swiftIntermediary">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput [(ngModel)]="data.accountNumberIntermediary">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="left: -42px;" [colspan]="1" [rowspan]="1">
        <div class="input_final">
          <mat-form-field appearance="fill">
            <mat-label>Account Name</mat-label>
            <input matInput [(ngModel)]="data.accountNameIntermediary">
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!--Fin Banking Details Intermediary-->
  </div>
  <!--ENDS UPLOAD DOCUMENTS-->
  <!----------------------------------------------------------------------------------------->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="validForm();">Save</button>
  </div>
</mat-dialog-actions>
