  <div *ngIf="data.appointmentId == 0">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <h2 mat-dialog-title class="modal-form__title">New Appointment</h2>
      </div>
      <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------->

    <mat-dialog-content class="mat-typography">

      <div class="mat-elevation-z5" style="margin: 15px 0 15px 0; padding: 15px;"
        *ngFor="let item of appointment; let i = index">

        <mat-grid-list cols="9" rowHeight="70px">

          <!--mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="item.status">
                  <mat-option [value]="true">Active</mat-option>
                  <mat-option [value]="false">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile-->

          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
              <div class="textarea">
                <span class="text-mini gray_05">Status</span><br />
                 <p>Active</p>
              </div>
            </div>
          </mat-grid-tile>

          <!--mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Work Order</mat-label>
                <mat-select [(ngModel)]="item.workOrder">
                  <mat-option *ngFor="let data of data_work" [value]="data.id">{{data.numberWorkOrder}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile-->

          <mat-grid-tile [colspan]="3 " [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput required [matDatepicker]="picker"  [min]="date" (dateChange)="getDay(i,$event)" [(ngModel)]="item.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3 " [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Start time</mat-label>
                <input matTimepicker #t2="matTimepicker" #time2="ngModel" [minDate]="_minValue" [maxDate]="_maxValue"
                  id="timepicker-example-2" mode="12h" ngModel placeholder="Please select time..." name="time-2">
                <mat-icon matSuffix (click)="t2.showDialog()">access_time</mat-icon>
                <mat-error *ngIf="time2.touched && time2.invalid">Invalid Date</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>To</mat-label>
                <mat-select [(ngModel)]="item.to" (ngModelChange)="getavailabitily(i)" [disabled]='item.date == null'>
                  <mat-option *ngFor="let data of ca_supplier" [value]="data.userId">{{data.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <!-- <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile> -->
          <mat-grid-tile [colspan]="3" [rowspan]="1" *ngIf="isConsultant">
            <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
              <div class="textarea" style="cursor: pointer;">
                <span class="text-mini gray_05">Availability Consultant</span><br />
                 <p [matMenuTriggerFor]="menu" style="color: #9d3292;">Check Availability</p>
              </div>
            </div>
          </mat-grid-tile>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of available">{{item.title}} - {{item.dia}} - {{item.startTime}} - {{item.endTime}}</button>
            <button mat-menu-item *ngFor="let item of NoAvailable">{{item.title}} - {{item.dia}}. {{item.startTime}} - {{item.endTime}}</button>
          </mat-menu>

          <mat-grid-tile [colspan]="3" [rowspan]="1" *ngIf="isConsultant">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Start Time</mat-label>
                <mat-select [(ngModel)]="item.startTime">
                  <mat-option *ngFor="let data of tiempo" [value]="data">{{data}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="3" [rowspan]="1" *ngIf="isConsultant">
            <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>End Time</mat-label>
                  <mat-select [(ngModel)]="item.endTime">
                    <mat-option *ngFor="let data of tiempo" [value]="data">{{data}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="3" [rowspan]="1" *ngIf="!isConsultant">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Start Time</mat-label>
                <input matInput required placeholder="Start Time" type="time" [(ngModel)]="item.startTime">
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="3" [rowspan]="1" *ngIf="!isConsultant">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>End Time</mat-label>
                <input matInput required placeholder="End Time" type="time" [(ngModel)]="item.endTime">
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
        </mat-grid-list>
        <!------------------------------------------------------------------------------------------------>
        <!--SERVICIOS ITERADOS-->

        <mat-grid-list cols="3" rowHeight="70px">
          <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let data of item.services; let j = index">
            <div class="textarea">
              <mat-checkbox (change)="pushCheckbox(i, j, $event , data)">
                <span style="font-size: 12px;"> {{data.serviceNumber}} </span>
              </mat-checkbox>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <!------------------------------------------------------------------------------------------------>
        <mat-grid-list cols="9" rowHeight="30px">
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="textarea">
              <p class="subtitle">Upload Documents</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>


        <mat-grid-list cols="4" rowHeight="150px">
          <mat-grid-tile [colspan]="4" [rowspan]="1">

            <ngx-file-drop class="file-drop textarea" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, i)"
              (onFileOver)="fileOver($event, i)" (onFileLeave)="fileLeave($event, i)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Drag and Drop or
                <p class="browser" (click)="openFileSelector()">Browse File</p>
              </ng-template>
            </ngx-file-drop>

          </mat-grid-tile>
        </mat-grid-list>


        <mat-grid-list cols="1">
          <div class="page__section margin-top-min">
            <div *ngIf="item.documentAppointments.length != 0" class="page__section">
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">
                  Document Name
                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">

                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">

                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">

                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">

                </span>
              </div>
              <div class="page__section-input page__section-input--6_1">
                <span class="documents__index documents__index--task">
                  Upload date
                </span>
              </div>
            </div>

            <div class="page__section documents__ascard" *ngFor="let element of item.documentAppointments; let k = index">
              <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
                style="background: transparent!important;" (click)="deleteDocument(i,k)">
              <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                {{element.fileName}}
              </div>
              <div class="page__section-input page__section-input--6_1 documents__ascard--task">

              </div>
              <div class="page__section-input page__section-input--6_1 documents__ascard--task">

              </div>
              <div class="page__section-input page__section-input--6_1 documents__ascard--task">

              </div>
              <div class="page__section-input page__section-input--6_1 documents__ascard--task">

              </div>
              <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                {{element.createdDate | date: 'dd MMM yyy'}}
              </div>
            </div>
          </div>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="textarea">
              <p class="subtitle">Notification Message</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="120px">
          <mat-form-field appearance="outline" style="width: 100% !important">
            <textarea matInput [(ngModel)]="item.description" #message maxlength="500"></textarea>
            <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
          </mat-form-field>
        </mat-grid-list>

      </div>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="addPropperty textarea">
            <div class="page__section-button page__section-button--big" style="left: 6px;">
              <button class="button-icon button-icon--more" (click)="addAppointment()">
                Add Appointment
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom:15px">
      <div class="page__section-buttong">
        <button (click)="save()">Create Appointment</button>
      </div>
    </mat-dialog-actions>
  </div>
  <!--END INSERT APPOINNTMENT-->
  <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

























  <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--START UPDATE APPOINTMENT-->
  <div *ngIf="data.appointmentId != 0">
    <!---------------------------------------------------------------------------------------->
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <h2 mat-dialog-title class="modal-form__title">Appointment</h2>
      </div>
      <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
      </div>
    </div>
    <!---------------------------------------------------------------------------------------->
    <mat-dialog-content class="mat-typography">
      <div *ngFor="let item of appointment; let i = index">
        <div class="mat-elevation-z5" style="margin: 15px 0 15px 0; padding: 15px;">
          <mat-grid-list cols="4" rowHeight="70px">


            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div class="textarea">
                  <span class="text-mini gray_05">Status</span><br />
                   <p *ngIf="item.status">Active</p>
                   <p *ngIf="!item.status">Inactive</p>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div class="textarea">
                  <span class="text-mini gray_05">Work Order</span><br />
                  {{item.services[0].serviceNumber}}
                </div>
              </div>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div class="textarea">
                  <span class="text-mini gray_05">Date</span><br />
                  {{item.date | date: 'dd MMM yyy'}}
                </div>

                <div style="text-align:end; width: auto !important;">
                  <mat-icon class="calendar">calendar_today</mat-icon>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
                <div class="textarea">
                  <span class="text-mini gray_05">To</span><br />
                  {{data.supplier}}
                </div>
              </div>
            </mat-grid-tile>



            <!--mat-grid-tile [colspan]="1" [rowspan]="1">
              <div style="display: flex;" class="input_central comments textarea">
                <div>
                  <p class="subtitle">Start Time</p>
                  <p class="title">{{item.startTime}}</p>
                </div>

                <div style="text-align:end; width: auto !important;">
                  <mat-icon class="calendar">schedule</mat-icon>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div style="display: flex;" class="input_central comments textarea">
                <div>
                  <p class="subtitle">End Time</p>
                  <p class="title">{{item.endTime}}</p>
                </div>

                <div style="text-align:end; width: auto !important;">
                  <mat-icon class="calendar">schedule</mat-icon>
                </div>
              </div>
            </mat-grid-tile-->
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Start Time</mat-label>
                  <input matInput required placeholder="Start Time" type="time" [(ngModel)]="item.startTime">
                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>End Time</mat-label>
                  <input matInput required placeholder="End Time" type="time" [(ngModel)]="item.endTime">
                </mat-form-field>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <!------------------------------------------------------------------------------------------------>
          <!--SERVICIOS ITERADOS-->

          <mat-grid-list cols="3" rowHeight="70px">
            <div *ngFor="let checks of item.services">
              <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="checks.serviceNumber != null">
                <div class="textarea">
                  <mat-checkbox [checked]="true" [disabled]="true">
                    <span style="font-size: 12px;"> {{checks.serviceNumber}} </span>
                  </mat-checkbox>
                </div>
              </mat-grid-tile>
            </div>
          </mat-grid-list>

          <!------------------------------------------------------------------------------------------------>
          <!--START DOCUMENTOS-->
          <div *ngIf="item.documentAppointments.length > 0">
            <mat-grid-list cols="1">
              <div class="page__section margin-top-min">
                <div class="subtitledos">
                  Service Documents
                </div>
                <div class="page__section">
                  <div class="page__section-input page__section-input--6_1">
                    <span class="documents__index documents__index--task">
                      Document Type
                    </span>
                  </div>

                  <div class="page__section-input page__section-input--6_1">
                    <span class="documents__index documents__index--task">
                      created Date
                    </span>
                  </div>

                  <div class="page__section-input page__section-input--6_1">
                    <span class="documents__index documents__index--task">

                    </span>
                  </div>

                  <div class="page__section-input page__section-input--6_1" style="text-align: end;">
                    <span class="documents__index documents__index--task" style="text-align: end;">
                    </span>
                  </div>
                </div>
                <div class="page__section documents__ascard" *ngFor="let doc of item.documentAppointments">
                  <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                    {{doc.fileName}}
                  </div>

                  <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                    {{doc.createdDate | date: 'dd MMM yyy'}}
                  </div>

                  <div class="page__section-input page__section-input--6_1 documents__ascard--task">
                  </div>

                  <div class="page__section-input page__section-input--6_1 documents__ascard--task" style="text-align: end; padding-right: 40px;">
                    <a target="_blank" [href]="image_path + doc.fileRequest">
                      <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete" style="background: transparent!important; margin-right: 25px;" >
                    </a>
                  </div>
                </div>
              </div>
            </mat-grid-list>
          </div>
          <!--FINAL DOCUMENTOS-->
          <!----------------------------------------------------------------------------------------------------------------------------->
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="addPropperty textarea">
                <div class="page__section-button page__section-button--big" style="left: 6px;">
                  <button class="button-icon button-icon--more" (click)="addDocument()">
                    Add New Document
                  </button>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="textarea">
                <p class="Section-Name">Notification Message</p>
              </div>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="textarea">
                <br>
                <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                  <textarea matInput [disabled]="true">{{item.description}}</textarea>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div class="page__section-buttong" style="margin-bottom:15px;">
          <button style="width: 30%;" *ngIf="item.start == false && item.ended == false" (click)="startAppoitment(item)">Start</button>
          <button style="width: 30%;" *ngIf="item.start == true && item.ended == false" (click)="endAppoitment(item)">End</button>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <div class="page__section-buttong">
        <button (click)="update()">Update Appointment</button>
      </div>
    </mat-dialog-actions>


    <div style="display: none;">
      <ngx-file-drop class="file-drop textarea" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, 0)"
        (onFileOver)="fileOver($event, 0)" (onFileLeave)="fileLeave($event, 0)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Drag and Drop or
          <p class="browser" id='documento' (click)="openFileSelector()">Browse File</p>
        </ng-template>
      </ngx-file-drop>
  </div>
