<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" style="float:left;">
        <h2 mat-dialog-title class="primary_title" style="float:left;"> Section Inspection

            <span style="font-size: medium; color: darkmagenta; font-style: normal; font-weight: normal;">
                - Move In
            </span>
        </h2>

    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
</div>

<mat-dialog-content class="mat-typography">
    <div class="" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
        <div *ngIf="section">
            <mat-grid-list cols="5" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Property Section</mat-label>
                            <mat-select [(ngModel)]="section.propertySection">
                                <mat-option *ngFor="let item of ca_propertySection"
                                    [value]='item.id'>{{item.propertySection}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Condition</mat-label>
                            <mat-select [(ngModel)]="section.status">
                                <mat-option *ngFor="let item of ca_statuspropertySection"
                                    [value]='item.id'>{{item.status}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_central textarea">
                        <mat-form-field appearance="fill">
                            <mat-label>Report Date</mat-label>
                            <input matInput [matDatepicker]="picker_" placeholder="Report Date"
                                [(ngModel)]="section.reportDate">
                            <mat-datepicker-toggle matSuffix [for]="picker_"></mat-datepicker-toggle>
                            <mat-datepicker #picker_></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <div class="input_central textarea" style="height: 100%;">
                        <p class="subtitle" style="font-size: 12px; margin: 0px;">Ready</p>
                        <mat-checkbox [(ngModel)]="section.noneAction"
                            (change)="actions_Change($event, section,'fair');"
                            [checked]="section.noneAction"></mat-checkbox>
                    </div>
                    <div class="input_central textarea" style="height: 100%;">
                        <p class="subtitle" style="font-size: 12px; margin: 0px;">Repairs</p>
                        <mat-checkbox [(ngModel)]="section.needRepair" [checked]="section.needRepair"
                            (change)="actions_Change($event, section,'needRepair');"></mat-checkbox>
                    </div>
                    <div class="input_central textarea" style="height: 100%;">
                        <p class="subtitle" style="font-size: 12px; margin: 0px;">Clean</p>
                        <mat-checkbox [(ngModel)]="section.needClean" [checked]="section.needClean"
                            (change)="actions_Change($event, section,'needClean');"></mat-checkbox>
                    </div>
                    <div class="input_central textarea" style="height: 100%;">
                        <p class="subtitle" style="font-size: 12px; margin: 0px;">Replace</p>
                        <mat-checkbox [(ngModel)]="section.needReplace" [checked]="section.needReplace"
                            (change)="actions_Change($event, section,'needReplace');"></mat-checkbox>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <div>
                <mat-grid-list cols="4" rowHeight="150px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="textarea">
                            <br><br>
                            <p class="subtitle" style="font-size: 12px; margin: 0px;">Additional Section Details</p>
                            <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                                <textarea matInput #message maxlength="500"
                                    [(ngModel)]="section.reportDetails"></textarea>
                                <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
               <!--  <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="page__section-buttong"
                          style="display: flex; justify-content: flex-end; flex: 0px !important;">
                          <button class="button-icon" style="background-color: #9d3292; color: white; width: 200px;"
                            (click)="save_section(this.section)">
                            Save Generals
                          </button>
                        </div>
                      </mat-grid-tile>
                </mat-grid-list> -->
                <!-------------------------------------STAR PHOTOS ---------------------------------------------------->
                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <div>
                            <p class="page__section-name" *ngIf="section.propertySection > 0">
                                {{get_name_section(section.propertySection)}} Photos</p>
                            <p class="page__section-name" *ngIf="!section.propertySection">Photos</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
                </mat-grid-list>
                <ngx-file-drop style="display:none" class="file-drop" dropZoneLabel="Drop files here"
                    (onFileDrop)="droppedFotos($event)" (onFileOver)="fileOver($event)"
                    (onFileLeave)="fileLeave($event)" [multiple]="false">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        Drag and Drop or
                        <p class="browser" id="doc{{section.id}}" (click)="openFileSelector()">Browse File</p>
                    </ng-template>
                </ngx-file-drop>
                <div class="photos">
                    <div class="photo" *ngFor="let it of section.photosPropertyReportSections; let p = index">
                        <img src="assets/icons/quit.svg" class="delete" (click)="deletePhoto(section,p, it.id)" >
                        <img src="{{it.base64}}" class="img" alt="" *ngIf="it.id == 0">
                        <img src="{{_services.url_images}}{{it.photo}}" class="img" alt="" *ngIf="it.id != 0">

                    </div>
                </div>
                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="addPropperty">
                            <div class="page__section-button page__section-button--big" >
                                <button class="button-icon button-icon--more" (click)="addFotosMove(section.id)">
                                    Add Photos
                                </button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-------------------------------------END PHOTOS ---------------------------------------------------->

                <!----------------------------------------------------------------------------------------->
                <!--START TABLE INVENTORY-->
                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div style="width: 100%;">
                            <div>
                                <p class="page__section-name">Inventory</p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <table class="mat-elevation-z8 textarea mat-table">
                    <tr class="mat-header-row">
                        <th class="mat-header-cell">Item</th>
                        <th class="mat-header-cell">Description</th>
                        <th class="mat-header-cell">Quantity</th>
                        <th class="mat-header-cell">Photos</th>
                        <th class="mat-header-cell"></th>
                    </tr>
                    <tr class="mat-row" *ngFor="let datainv of section.sectionInventories; let in = index">
                        <td class="mat-cell">{{get_names_items(datainv.item)}}</td>
                        <td class="mat-cell">{{datainv.description}}</td>
                        <td class="mat-cell">{{datainv.quantity}}</td>
                        <td class="mat-cell">{{datainv.photosInventories.length}}</td>
                        <td class="mat-cell">
                            <img src="assets\icons\pencil.png" style="width: 20px;"
                                (click)="editSectionInventory(datainv,section.propertySection)">
                            &nbsp;&nbsp;
                            <img src="assets/icons/delete.png" style="width: 20px;"
                                (click)="deleteSectionInventory(datainv, section.sectionInventories,1)">
                        </td>
                    </tr>
                </table>
                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="addPropperty">
                            <div class="page__section-button page__section-button--big" >
                                <button class="button-icon button-icon--more" (click)="addInventoriModal(section)">
                                    Add Inventory
                                </button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>


            </div>

        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <div class="page__section-buttong" style="flex: 0 1 100px;">
        <button *ngIf="data.edicion" (click)="save_section(this.section)">Save Section</button>
    </div>
</mat-dialog-actions>