<!-----------------------------------header-------------------------------------->
<div fxLayout="row">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <h2 mat-dialog-title class="modal-form__title">Service Comments</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
        <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
</div>

<!-- ///////////////////////////////  Service comments //////////////////////////////////-->
<mat-dialog-content>

    <div class="comments" *ngFor="let data of _comments.commentServiceDetails; let i = index">
        <mat-grid-list cols="10" rowHeight="70px">

            <mat-grid-tile [colspan]="1" [rowspan]="1">

                <div class="pageAvatarServicio__section pageAvatarServicio__section-inputs no-padding-tbAvatarServicio">
                    <div
                        class="pageAvatarServicio__section pageAvatarServicio__section-inputs no-padding-tbAvatarServicio">
                        <div
                            class="pageAvatarServicio__section pageAvatarServicio__section-input--x no-padding-tbAvatarServicio">
                            <div class="inputAvatarServicio__image">
                                <div class="inputAvatarServicio__image-label--card" style="width: 45px; height: 45px;">
                                    <img [src]="_services.url_images+ data.user.avatar" *ngIf="data.user != null">
                                    <!-- <div class="avatar" style="background: rgba(0, 0, 0, 0.2);"  *ngIf="data.user.avatar === null"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1" *ngIf="data.user != null">

                <div class="page__section-data font-size-12" style="display: flex;">
                    <div>
                        <span class="text-mini gray_05">Name </span><br />
                        {{data.user.name}} {{data.user.lastName}} {{data.user.motherLastName}}
                       
                    </div>
                </div>

            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1" *ngIf="data.user != null">

                <div class="page__section-data font-size-12" style="display: flex;">
                    <div>
                        <span class="text-mini gray_05">Title</span><br />
                        {{data.user.role.role}}
                    </div>
                </div>

            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div class="page__section-data font-size-12" style="display: flex;">
                    <div>
                        <span class="text-mini gray_05">Date</span><br />
                        {{data.createdDate | date:'dd MMM yyy'}}
                    </div>

                    <div style="text-align:end; width: auto !important;">
                        <mat-icon class="calendar">calendar_today</mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <div class="textarea">
                    <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
                        <textarea matInput *ngIf="data.user" (change)="data.reply = $event.target.value" [disabled]="data.id > 0" #message
                            maxlength="500">{{data.reply}}</textarea>
                        <mat-hint align="end">{{data.reply.length}} / 500</mat-hint>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="page__section-buttong">
        <button (click)="addDocument()">Add Comment</button>

    </div>

</mat-dialog-actions>