<div *ngIf="show">
  <!-----------------------------------header-------------------------------------->
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="primaty_title">Home Finding</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>

  <!-----------------------------------content-------------------------------------->
  <mat-dialog-content class="mat-typography">
    <mat-grid-list cols="5" rowHeight="70px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho</span><br />
            {{home_finding.authoDate | date:'dd MMM yyy'}}
          </div>

          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div *ngIf="home_finding.authoAcceptanceDate != '0001-01-01T00:00:00'">
            <span class="text-mini gray_05">Acceptance</span><br />
            {{home_finding.authoDate | date:'dd MMM yyy'}}
          </div>

          <div *ngIf="home_finding.authoAcceptanceDate == '0001-01-01T00:00:00'">
            <span class="text-mini gray_05"> Acceptance</span><br />

          </div>

          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="height: 70%;" *ngIf="home_finding.coordination">
          <p class="subtitle" style="font-size: 8px; margin: 0;">Coordination</p>
          <mat-checkbox disabled class="example-margin" [(ngModel)]="home_finding.coordination"></mat-checkbox>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Status</span><br />
            <span style="background: none;
        border: none;
        color: blue;
        text-decoration: underline; cursor: pointer;" (click)="change_status_detail()">
              {{_texto_status}}</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Work Order</span><br />
            {{ wo_ }}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Service #</span><br />
              {{ sr_ }}
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Completion Date</span><br />
              {{ home_finding.serviceCompletionDate | date:'dd MMM yyy'}}
            </div>
            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="70px">
      <mat-grid-tile [colspan]="5" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Client Lease Process</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Lease Guarantee</mat-label>
            <mat-select [(ngModel)]="home_finding.leaseGuarentee">
              <mat-option *ngFor="let data of leaseGuarentee" [value]="data.value">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Lease Signator</mat-label>
            <mat-select [(ngModel)]="home_finding.leaseSignator">
              <mat-option *ngFor="let item of ca_dependent" [value]="item.id"> {{item.signator}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Lease Template</mat-label>
            <mat-select [(ngModel)]="home_finding.leaseTemplate">
              <mat-option *ngFor="let item of ca_leaseTemplate" [value]="item.id"> {{item.template}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="height: 70%;">
          <p class="subtitle" style="font-size: 8px; margin: 0;">Client Security Inspection Required</p>
          <mat-checkbox class="example-margin" [(ngModel)]="home_finding.clientSecurityInspectionRequired"
            [checked]="home_finding.clientSecurityInspectionRequired"></mat-checkbox>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Payment Process</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Security Deposit</mat-label>
            <mat-select [(ngModel)]="home_finding.securityDepositId">
              <mat-option *ngFor="let item of ca_security" [value]="item.id">{{item.responsable}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Initial Rent Payment</mat-label>
            <mat-select [(ngModel)]="home_finding.initialRentPaymentId">
              <mat-option *ngFor="let item of ca_initial" [value]="item.id">{{item.responsable}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Ongoing Rent Payment</mat-label>
            <mat-select [(ngModel)]='home_finding.ongoingRentPaymentId'>
              <mat-option *ngFor="let item of ca_ongoing" [value]="item.id">{{item.responsable}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Realtor Commission</mat-label>
            <mat-select [(ngModel)]='home_finding.realtorCommissionId'>
              <mat-option *ngFor="let item of ca_realtor_com" [value]="item.id">{{item.responsable}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="input_central textarea">
          <mat-form-field appearance="fill">
            <mat-label>Other</mat-label>
            <input matInput placeholder="Other" [(ngModel)]='home_finding.otherPaymnet' maxlength="150">
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <!----------------------- INICIO BOTONERA ACCIONES HL------------------------------------>

    <mat-grid-list cols="5" rowHeight="70px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Housing List</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div *ngIf="dataSourceHousing.length > 0" class="page__section-button page__section-button--big">
          <button class="button-icon button-icon--send" *ngIf="hl_to_send.length > 0" (click)="sent_houses_list();">
            ({{hl_to_send.length}}) Send
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-button page__section-button--big">
          <button class="button-icon button-icon--home" (click)="HousingSpecs()">
            Housing Specs
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div *ngIf="dataSourceHousing.length > 0" class="page__section-button page__section-button--big">
          <button class="button-icon button-icon--report" (click)="exporter.exportTable('xls')">
            Export HL
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div class="page__section-button page__section-button--big">
          <button class="button-icon button-icon--more" (click)="HomeDetailsnew()">
            Add Property
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <!----------------------- FIN BOTONERA DE ACCIONES HL ------------------------------------------>

    <!---------------------------TABLA HOUSING------------------------------>
    <table matTableExporter mat-table [dataSource]="dataSourceHousing" class="mat-elevation-z8 textarea"
      id="exportReport">

      <ng-container matColumnDef="Send">
        <th mat-header-cell *matHeaderCellDef> Send </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.wassended" [disabled]="element.status != 'Pending'"
            (change)="onChangeDemo($event, element)">

          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Property Type">
        <th mat-header-cell *matHeaderCellDef> Property Type </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyType}} </td>
      </ng-container>
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="Neighborhood">
        <th mat-header-cell *matHeaderCellDef> Neighborhood </th>
        <td mat-cell *matCellDef="let element">
          {{element.neighborhood}} </td>
      </ng-container>
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency }} </td>
      </ng-container>
      <ng-container matColumnDef="Currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
      </ng-container>
      <ng-container matColumnDef="Housing Status">
        <th mat-header-cell *matHeaderCellDef> Housing Status </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.status == 'Permanent Property'" style="font-weight: bolder;">{{element.status}}</span>
          <span *ngIf="element.status != 'Permanent Property'">{{element.status}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <img src="assets/icons/pencil.png" style="width: 20px;" (click)="editHousing(element)">
            &nbsp;&nbsp;
            <img src="assets/icons/delete.png" style="width: 20px;" (click)="validatedeleteHousing(element)">
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsHousing"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsHousing;"></tr>
    </table>

    <table style="display: none;" matTableExporter #exporter="matTableExporter" mat-table
      [dataSource]="dataSourceHousing" class="mat-elevation-z8 textarea">

      <ng-container matColumnDef="NoProperty">
        <th mat-header-cell *matHeaderCellDef> Property # </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{element.propertyNo}} </td>
      </ng-container>
      <ng-container matColumnDef="Property Type">
        <th mat-header-cell *matHeaderCellDef> Property Type </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyType}} </td>
      </ng-container>
      <ng-container matColumnDef="Neighborhood">
        <th mat-header-cell *matHeaderCellDef> Neighborhood </th>
        <td mat-cell *matCellDef="let element">
          {{element?.neighborhood == null ? '-' : element?.neighborhood}} </td>
      </ng-container>
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="NoBedroom">
        <th mat-header-cell *matHeaderCellDef> # of Bedrooms </th>
        <td mat-cell *matCellDef="let element"> {{element.bedrooms}} </td>
      </ng-container>
      <ng-container matColumnDef="NoBathroom">
        <th mat-header-cell *matHeaderCellDef> # of Bathrooms </th>
        <td mat-cell *matCellDef="let element"> {{element.bathrooms}} </td>
      </ng-container>
      <ng-container matColumnDef="ParkingSpaces">
        <th mat-header-cell *matHeaderCellDef> # of Parking Spaces </th>
        <td mat-cell *matCellDef="let element"> {{element.parkingSpaces}} </td>
      </ng-container>
      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.sise}} </td>
      </ng-container>
      <ng-container matColumnDef="ListRent">
        <th mat-header-cell *matHeaderCellDef> List Rent </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="Currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="Comments">
        <th mat-header-cell *matHeaderCellDef> Assignee's comments </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsHousingExport"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsHousingExport;"></tr>
    </table>
    <br>

    <mat-grid-list cols="4" rowHeight="70px" *ngIf="permanentHome != undefined">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Permanent Home Details</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!----------------------------------------------------------------------------------------->
    <!---------------------------- INICIO PERMANENT HOME -------------------------------------->
    <!----------------------------------------------------------------------------------------->

    <div style="padding: 20px;" class="mat-elevation-z5" *ngIf="permanentHome != undefined">
      <mat-grid-list cols="5" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Address</span><br />
              {{permanentHome.address}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Neighborhood</span><br />
              {{permanentHome.neighborhood}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Property Type</span><br />
              {{getProperty_(permanentHome.propertyType)}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Price</span><br />
              {{permanentHome.price | currency}}
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Beds</span><br />
              {{permanentHome.bedrooms}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Baths</span><br />
              {{permanentHome.bathrooms}}
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
            <div>
              <span class="text-mini gray_05">URL</span><br />
              <a class="browser" style="font-size: 11px" *ngIf="permanentHome.webSite != null"
                [attr.href]="permanentHome.webSite" target="_blank">
                {{permanentHome.webSite.substring(0, 20)}}...
              </a>
            </div>
          </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="wid">
            <p class="page__section-name">Lease Summary</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="page__section-button page__section-button--big" style="left: 9px;">
            <button class="button-icon button-icon--report" (click)="lease();">
              Export LSF
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="wid" *ngIf="!show_hide_all_">
            <span class="browser" style="cursor: pointer; font-weight: bold;" (click)="show_hide_all(true);">Show
              All</span>
          </div>
          <div class="wid" *ngIf="show_hide_all_">
            <span class="browser" style="cursor: pointer; font-weight: bold;" (click)="show_hide_all(false);">Hide
              All</span>
          </div>
        </mat-grid-tile> -->
      </mat-grid-list>
     
    
     <!--  <app-lsf *ngIf="permanentHome.id && home_finding && data.data.service[0].id"
      [_hf_id] ="data.data.service[0].id"
      [_ph_id] ="permanentHome.id"
      [_workOrderServicesId] ="home_finding.workOrderServicesId"
      [_type_housing] = "2"
      [_deliveredTo] = "_deliveredTo"
      [_city_name] = "_city_name"
      [_country_name] = "_country_name"
      [_catCategoryId] = 21
      >
      </app-lsf> -->
      
        <app-ir *ngIf="permanentHome.id && home_finding && data.data.service[0].id"
      [_hf_id] ="data.data.service[0].id"
      [_ph_id] ="permanentHome.id"
      [_workOrderServicesId] ="home_finding.workOrderServicesId"
      [_type_housing] = "2"
      [_deliveredTo] = "_deliveredTo"
      [_city_name] = "_city_name"
      [_country_name] = "_country_name"
      [_catCategoryId] = 21
      >
      </app-ir>  
    

    </div>
    <!----------------------------------------------------------------------------------------->
    <!---------------------------- FIN PERMANENT HOME ----------------------------------------->
    <!----------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------->

    <!--UPLOAD DOCUMENTS-->
    <mat-grid-list cols="1">
      <div class="page__section margin-top-min">
        <div class="page__section-name">
          Service Documents
        </div>
        <div *ngIf="home_finding.documentHomeFindings.length != 0 || temporalDocumentHF.length != 0"
          class="page__section">
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Document Type
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">

            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">
              Comments
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1">
            <span class="documents__index documents__index--task">

            </span>
          </div>
        </div>

        <div class="page__section documents__ascard" *ngFor="let item of home_finding.documentHomeFindings">
          <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important;" (click)="deleteDocument_DB(item.id)">
          <img src="../../../../assets/icons/eye-view.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important; margin-right: 25px;" (click)="showDocumentDialogDetails(item)">
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getDocument(item.documentType)}}
          </div>
          <div style="font-size: 12px;">
            {{item.comment}}
          </div>
        </div>

        <div class="page__section documents__ascard" *ngFor="let item of temporalDocumentHF; let i = index">
          <img src="assets/icons/quit.svg" class="page__section--card-closeButton delete"
            style="background: transparent!important;" (click)="deleteDocument_LOCAL(i)">
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getDocument(item.documentType)}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">

          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{item.expirationDate | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">

          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">
            {{getPrivacyName(item.privacy)}}
          </div>
          <div class="page__section-input page__section-input--6_1 documents__ascard--task">

          </div>
        </div>
      </div>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty">
          <div class="page__section-button page__section-button--big">
            <button class="button-icon button-icon--more" (click)="addDocument()">
              Document
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!--ENDS UPLOAD DOCUMENTS-->
 
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty">
          <div>
            <div class="acot">
              <div class="dot"></div>&nbsp;Urgent
            </div>
            <!--span class="browser">TOTAL: {{calculo.total | currency}}</span-->
          </div>
          <div class="page__section-butuonc" style="left: 6px;">
            <!-- <button class="button-icon button-icon--money"  (click)="addPayment()">Request Payment</button> -->
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <!----------------------------------------------------------------------------------------->
    <mat-grid-list cols="10" rowHeight="80px">
      <mat-grid-tile [colspan]="10" [rowspan]="1">
        <div class="wid">
          <p class="page__section-name">Comments</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="comments" *ngFor="let data of home_finding.commentHomeFindings; let i = index">
      <mat-grid-list cols="10" rowHeight="60px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">

          <div class="pageAvatarServicio__section pageAvatarServicio__section-inputs no-padding-tbAvatarServicio">
            <div class="pageAvatarServicio__section pageAvatarServicio__section-inputs no-padding-tbAvatarServicio">
              <div class="pageAvatarServicio__section pageAvatarServicio__section-input--x no-padding-tbAvatarServicio">
                <div class="inputAvatarServicio__image">
                  <div class="inputAvatarServicio__image-label--card cursor-pointer">
                    <img [src]="_services.url_images+data.user.avatar" *ngIf="data.user.avatar != null">
                    <div class="avatar" style="background: rgba(0, 0, 0, 0.2);" *ngIf="data.user.avatar === null"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">

          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Name</span><br />
              {{data.user.name}} {{data.user.lastName}} {{data.user.motherLastName}}
            </div>
          </div>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">

          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Title</span><br />
              {{data.user.role.role}}
            </div>
          </div>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="page__section-data font-size-12" style="display: flex;">
            <div>
              <span class="text-mini gray_05">Date</span><br />
              {{data.createdDate | date:'dd MMM yyy'}}
            </div>

            <div style="text-align:end; width: auto !important;">
              <mat-icon class="calendar">calendar_today</mat-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="160px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div class="textarea">
            <mat-form-field appearance="outline" class="textarea" style="width: 100% !important;">
              <textarea matInput (change)="data.reply = $event.target.value" [disabled]="data.id > 0" #message
                maxlength="500">{{data.reply}}</textarea>
              <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!--END COMMENT-->
    <!---------------------------------------------------------------------------------------------------->
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty">
          <div class="page__section-button page__section-button--big" style="left: 6px;">
            <button (click)="addReply()" class="button-icon button-icon--more">
              Add Comment
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!---------------------------------------ADD REMINDER----------------------------------------->
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="wid">
          <br>
          <p class="page__section-name">Reminders</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>


    <!--ITERAR REMINDERS NUEVOS-->
    <mat-card *ngFor="let data of home_finding.reminderHomeFindings; let i = index;">

      <div align="end">
        <img src="assets/icons/quit.svg" class="delete" (click)="removeReminder(i, data.id)">
      </div>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="input_central wid">
            <mat-form-field appearance="fill">
              <mat-label>Reminder </mat-label>
              <input matInput min="{{today_|date:'yyyy-MM-dd'}}" required [matDatepicker]="pickerocho"
                placeholder="Reminder Date" [(ngModel)]="data.reminderDate">
              <span class="label-error" *ngIf="data.reminderDate == '' || data.reminderDate == null">
                Field is required
              </span>
              <mat-datepicker-toggle matSuffix [for]="pickerocho"></mat-datepicker-toggle>
              <mat-datepicker #pickerocho></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="input_central wid">
            <mat-form-field appearance="fill">
              <mat-label>Reminder Comments</mat-label>
              <input matInput required placeholder="Reminder Comments" [(ngModel)]="data.reminderComments"
                #message_reminder maxlength="200">
              <mat-hint align="end">{{message_reminder.value.length}} / 200</mat-hint>
              <span class="label-error" *ngIf="data.reminderComments == '' || data.reminderComments == null">
                Field is required
              </span>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty">
          <div class="page__section-button page__section-button--big" style="left: 6px;">
            <button (click)="addReminder()" class="button-icon button-icon--more">
              Add Reminder
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <!--  //////////////////////////////// Service Client Documents //////////////////////////////-->
    <mat-grid-list cols="1" *ngIf="serviceScope != null">
      <div class="page__section margin-top-min">
        <div class="subtitledos">
          Client Service Documents
        </div> <br><br>
        <div class="page__section documents__ascard" *ngIf="serviceScope.documentcountries?.length == 0">
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            No Client Service Documents loaded
          </div>
        </div>
        <div *ngIf="serviceScope.documentcountries?.length != 0" class="page__section">
          <div class="page__section-input page__section-input--6_1-local">
            <span class="documents__index documents__index--task">
              Document Type
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1-local">
            <span class="documents__index documents__index--task">
              Upload
            </span>
          </div>
          <div class="page__section-input page__section-input--6_1-local">
            <span class="documents__index documents__index--task">
              Status
            </span>
          </div>
        </div>
        <div class="page__section documents__ascard" *ngFor="let item of serviceScope.documentcountries">
          <img src="./assets/icons/export.png" class="page__section--card-closeButton delete"
            style="background: transparent!important;" style="right: 40px;"
            (click)="openFileOnWindow(item.fileRequest)">
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            {{item.documentType}}
          </div>
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            {{item.updated_date | date:'dd MMM yyy'}}
          </div>
          <div class="page__section-input page__section-input--6_1-local documents__ascard--task">
            {{item.status}}
          </div>
        </div>
      </div>
    </mat-grid-list>


    <!-- /////////////////////////////// Scope Client Service //////////////////////////////////-->

    <mat-grid-list cols="4" rowHeight="70px">
      <br><br>
      <div class="wid">
        <p class="subtitledos">Client Service Scope</p>
      </div>
      <div *ngIf="serviceScope.scopeDescription.length > 0" [innerHTML]="serviceScope.scopeDescription">
      </div>
      <mat-grid-tile [colspan]="4" [rowspan]="1" *ngIf="serviceScope != null">
        <div class="textarea" *ngIf="serviceScope.scopeDescription.length < 1">
          Client Service Scope not captured or empty.
        </div>
        <div class="textarea" *ngIf="serviceScope.scopeDescription == null">
          Client Service Scope not captured or empty.
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1" *ngIf="!serviceScope">
        <div class="textarea">
          Client Service Scope not captured or empty.
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br><br>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <!-- <button (click)="save()">Save</button> -->
      <button (click)="validate_status_complete(home_finding);">Save </button>
    </div>
  </mat-dialog-actions>
</div>