<div>
  <!-------------------------------------------------------------------------------------------->
  <!--OPEN HEADER-->
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
       <h2 mat-dialog-title class="primary_title">{{data.data.service_name || data.serviceName }}</h2>
    </div>
    <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
      <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
    </div>
  </div>
  <!--END HEADER-->
  <!--------------------------------------------------------------------------------------------->
  <mat-dialog-content class="mat-typography" style="height: calc(100% - 96px);max-height: unset">

    <mat-grid-list cols="5" rowHeight="70px">

      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Service ID</span><br />
            {{transportation?.serviceNumber}}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final wid">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Completion</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="transportation.serviceCompletionDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_final wid">
          <div>
            <span class="text-mini gray_05">Status</span><br />
            <span style="background: none;
                        border: none;
                        color: blue;
                        text-decoration: underline; cursor: pointer;" (click)="change_status_detail()">
                              {{_texto_status}}</span>
          </div>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="transportation.tpStatusId" [disabled]="disabled_by_permissions">
              <mat-option *ngFor="let data of ca_estatus" [value]="data.id">{{data.status}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Deliver To</span><br />
            {{transportation.relationship}}/{{transportation.name}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Name</span><br />
            {{transportation.name}}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div *ngIf="this.data.data.country">
            <span class="text-mini gray_05">Country</span><br />
            {{country_text}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12 comments input_central" style="display: flex;">
          <div *ngIf="this.data.data.location">
            <span class="text-mini gray_05">City</span><br />
            {{location}}
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="wid" style="height: 40%;" *ngIf="transportation.coordination">
          <p class="subtitle" style="font-size: 8px; margin: 0;">Coordination</p>
          <mat-checkbox disabled class="example-margin" [(ngModel)]="transportation.coordination">
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Budget</mat-label>
            <input matInput required placeholder="Budget" type="number" min="0"
              [(ngModel)]="transportation.budget">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill">
            <mat-label>Time Allotted</mat-label>
            <mat-select [(ngModel)]="transportation.totalTimeAllowed">
              <mat-option *ngFor="let item of Numbers" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile> 

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="input_central wid">
          <mat-form-field appearance="fill" class="formFild">
            <mat-label></mat-label>
            <mat-label>Period</mat-label>
            <mat-select [(ngModel)]="transportation.totalTimeAllowedId">
              <mat-option *ngFor="let item of ca_duracion" [value]="item.id">{{item.duration}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="2" [rowspan]="1">

      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data wid font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho</span><br />
            {{ transportation.creationDate | date:'dd MMM yyy' }}
          </div>

          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class=" widpage__section-data font-size-12 comments input_central" style="display: flex;">
          <div>
            <span class="text-mini gray_05">Autho Acceptance</span><br />
            {{ transportation.acceptance | date:'dd MMM yyy'}}
          </div>

          <div style="text-align:end; width: auto !important;">
            <mat-icon class="calendar">calendar_today</mat-icon>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="page__section-name">
      Transport Service
    </div>
    <div *ngFor="let service of transportation.airportTransportPickup" style="padding: 5px">
      <div class="mat-elevation-z5" style="padding: 15px;">

        <mat-grid-list cols="4" rowHeight="70px">
  
          <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Budget</mat-label>
                <input matInput required placeholder="Budget" type="number" min="0"
                  [(ngModel)]="transportation.transportService[0].budget">
              </mat-form-field>
            </div>
          </mat-grid-tile> -->
  
          <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="addPropperty" *ngIf="!hide_complete && !hide_by_permissions">
              <div class="page__section-button page__section-button--big" style="left: 6px;">
                <button *ngIf="show_completed" class="button-icon button-icon--follow" (click)="change_button()">
                  Complete
                </button>
                <button *ngIf="show_progress" class="button-icon button-icon--flag" (click)="change_button()">
                  Start
                </button>
              </div>
            </div>
          </mat-grid-tile> -->
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_final wid">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="service.tpStatusId" [disabled]="disabled_by_permissions">
                  <mat-option *ngFor="let data of ca_statustp" [value]="data.id">{{data.status}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field appearance="fill">
                <mat-label>Transport Type</mat-label>
                <mat-select [(ngModel)]="service.tpTransportType">
                  <mat-option *ngFor="let data of ca_transportType" [value]="data.id">{{data.transportType}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Service Date</mat-label>
                <input matInput [min]="today" [matDatepicker]="picker_" [(ngModel)]="service.tpServiceDate">
                <mat-datepicker-toggle matSuffix [for]="picker_"></mat-datepicker-toggle>
                <mat-datepicker #picker_ color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div style="display: flex; justify-content: space-around;" class="input_central wid">
              <mat-form-field appearance="fill" style="width: 49% !important;">
                <mat-label>Time of Service</mat-label>
                <mat-select [(ngModel)]="service.tpTimeServicesHour">
                  <mat-option *ngFor="let item of caNumbers" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field appearance="fill" class="formFild" style="width: 40% !important;">
                <mat-label>Minutes</mat-label>
                <mat-select [(ngModel)]="service.tpTimeServicesMinute">
                  <mat-option *ngFor="let item of caNumbersMin" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_final wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Service Completion Date</mat-label>
                <input matInput [matDatepicker]="serviceCompletionDate" [(ngModel)]="service.tpServiceCompletionDate">
                <mat-datepicker-toggle matSuffix [for]="serviceCompletionDate"></mat-datepicker-toggle>
                <mat-datepicker #serviceCompletionDate color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
             <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Projected Fee</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="service.tpProjectFee">
              </mat-form-field>
            </div> 
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Pick Up Location</mat-label>
                <input matInput [(ngModel)]="service.tpPickUpLocation">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Drop-Off Location</mat-label>
                <input matInput [(ngModel)]="service.tpDropOffLocation">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea wid">
              <mat-form-field appearance="fill">
                <mat-label>Family Members</mat-label>
                <mat-select multiple [(ngModel)]="service.family">
                  <mat-option *ngFor="let item of family" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="wid" style="height: 40%;">
              <p class="subtitle" style="font-size: 8px; margin: 0;">Pets Travelling</p>
              <mat-checkbox class="example-margin" [(ngModel)]="service.tpPet" [checked]="service.pet"></mat-checkbox>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field appearance="fill">
                <mat-label>Supplier Partner</mat-label>
                <mat-select [(ngModel)]="service.tpSupplierPartner" (ngModelChange)='getInfo();'>
                  <mat-option *ngFor="let item of supplier_get" [value]="item.id">{{item.comercialName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <img style="cursor:pointer;" src="/assets/icons/perfil.svg" *ngIf="service.supplierPartner != null" alt=""
              style="position: absolute; right: 20px; cursor:pointer;" [matMenuTriggerFor]="supplier">
          </mat-grid-tile>
  
  
          <mat-menu #supplier="matMenu" xPosition="before">
            <div class="bg"></div>
            <div class="assigned_services wid">
              <div class="perfil">
                <img src={{_services.url_images}}{{info.photo}} alt="">
                <div class="title">
                  VIP
                  <br>
                  <mat-checkbox disabled  class="example-margin" [checked]="info.luxuryVip">
                  </mat-checkbox>
                </div>
              </div>
              <br>
              <div class="data wid">
                <span class="title">Service Line</span>
                <br>
                <mat-checkbox disabled class="example-margin" [checked]='true'>
                  <p class="subtitle" style="font-size: 8px; margin: 0;">Relocation </p>
                </mat-checkbox>
                <br>
  
                <span class="title">Comercial Name</span>
                <p>{{info.comercialName}}</p>
                <span class="title">Legal Name</span>
                <p>{{info.legalName}}</p>
                <span class="title">Supplier Since</span>
                <p>{{info.supplierSince | date: 'MM/dd/yyyy'}}</p>
              </div>
              <div class="pie" style="text-align: end;">
                <!-- <span style="width: 100%;">View Profile</span> -->
              </div>
            </div>
          </mat-menu>
  
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Driver</mat-label>
                <input matInput [(ngModel)]="service.tpDriverName">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Driver Contact</mat-label>
                <input matInput [(ngModel)]="service.tpDriverContact">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Make / Model</mat-label>
                <input matInput [(ngModel)]="service.tpVehicle">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Plate Number</mat-label>
                <input matInput [(ngModel)]="service.tpPlateNumber">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central wid">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Vehicle Color</mat-label>
                <input matInput [(ngModel)]="service.tpVehicleColor">
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
        </mat-grid-list>
  
      </div>
    </div>
    
    <mat-grid-list cols="4" rowHeight="70px">

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="addPropperty">
          <div class="page__section-buttong"
            style="flex: 0 1 180px !important;">
            <button (click)="AddTransportService()">
              Add Transport Service
            </button>
          </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>


    <app-card-service-detaill *ngIf="this.isVisible" [datos]="datos"></app-card-service-detaill>

    <br><br>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="page__section-buttong">
      <button (click)="save()">Save</button>
    </div>
  </mat-dialog-actions>
</div>