<!-----------------------------------header-------------------------------------->
<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="modal-form__title">Edit Columns</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography margin-bottom-m">
  <div class="con">
    <!-- search -->
    <div class="midle">
      <mat-grid-list cols="2" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="textarea">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" [(ngModel)]="userFilter.name">
            <mat-icon matSuffix style="color:#9d3292">search</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="search">


        <div class="columscatalog">
          <table>
            <tr *ngFor="let item of caColumns | filterBy: userFilter" style="height: 55px;">
              <td>
                <mat-checkbox (change)="selectColumn($event, item)" [checked]="verify(item)">
                  {{item.name}}
                </mat-checkbox>
              </td>
            </tr>
            <tr *ngIf="(caColumns | filterBy: userFilter).length === 0" style="height: 55px;">
              <td>
                <p>No matching elements</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="midle">
      <mat-grid-list cols="2" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p class="subtitledos">Columns</p>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="colums">
        <div [dndList] [dndModel]="simpleList">
          <div *ngFor="let item of simpleList" [dndType]="'item'" class="targets"
            (dndMoved)="removeItem(item, simpleList)" [dndDraggable] [dndObject]="item">
            <span class="name">{{item.name}}</span>
            <span class="up-down">
              <img src="/assets/icons/arrow-up.svg" alt="">
              <img src="/assets/icons/arrow-down.svg" alt="">
            </span>
            <img src="/assets/icons/delete.png" (click)="delete(item)" class="img_booton">
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>



<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
