body {
  font-family: "Lato-Regular", serif;
}

/* You can add global styles to this file, and also import other style files */
.mat-toolbar.mat-primary {
  /* background: #fff !important;
  color: #FFBD59 !important; */
  background: #3A2337 !important;
  color: #fff !important;
}

mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.5) !important;
  border-bottom: 1px solid transparent !important;
}

.mat-drawer-side {
  border-right: solid 1px #F5F8FA !important; /*rgba(0, 0, 0, 0.12);*/
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: inherit !important;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:nth-child(odd) {
  background-color: #fff;
}

.mat-select-arrow {
  width: 0;
  height: 0;
  border-left: indianred !important;
  border-right: 2px solid #3A2337 !important;
  border-top: inherit !important;
  margin: 0 4px;
  border: solid #3A2337;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.cal-month-view .cal-open-day-events {
  color: black !important;
  background-color: white !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) !important;
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  height: 52px !important;
}