/* You can add global styles to this file, and also import other style files */
.mat-toolbar.mat-primary {
  /* background: #fff !important;
  color: #FFBD59 !important; */
  background: #9D3292 !important;
  color: #fff !important;
}

mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.5) !important;
  border-bottom: 1px solid transparent !important;
}

.mat-drawer-side {
  border-right: solid 1px #F5F8FA !important; /*rgba(0, 0, 0, 0.12);*/
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: inherit !important;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:nth-child(odd) {
  background-color: #fff;
}

.mat-select-arrow {
  width: 0;
  height: 0;
  border-left: indianred !important;
  border-right: 2px solid #9d3292 !important;
  border-top: inherit !important;
  margin: 0 4px;
  border: solid #9d3292;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.cal-month-view .cal-open-day-events {
  color: black !important;
  background-color: white !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) !important;
}

/* Replace the max java integer in the page size dropdown with the label 'Max'  */
/* .mat-option[ng-reflect-value='2147483647'] > span {
	display: none;
}

.mat-option[ng-reflect-value='2147483647']:last-child:after {
	content: 'View all' !important;
	visibility: visible !important;
	display: block !important;
	position: absolute !important;
	background-color: transparent !important;
} */
