<!-----------------------------------header-------------------------------------->
<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Supplier Partner Profile</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<!-----------------------------------content-------------------------------------->
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div class="input_central textarea">
        <mat-form-field appearance="fill">
          <mat-label>Select a Supplier Category</mat-label>
          <mat-select matNativeControl [(ngModel)]="data_type.type">
            <mat-option [value] = 1>Consultant supplier company</mat-option>
            <mat-option [value] = 2>Service supplier company</mat-option>
            <mat-option [value] = 3>Independent consultant</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<!--------------------------------close content------------------------------------>
<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="create()">Create</button>
  </div>
</mat-dialog-actions>
