<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <img src="../../../../assets/logo-horizontal-copy.png" style="margin-left: 50px;">
    </div>
    
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="primary_title">Landlord Information</h2>
    </div>
  </div>

<!----------------------------------------------------------------------------------------->
<!---------------------------- INICIO PERMANENT HOME -------------------------------------->
<!----------------------------------------------------------------------------------------->
<div style="padding: 20px;" class="mat-elevation-z5" *ngIf="permanentHome != undefined">
    <!----------------------------------- HEADER PRINT------------------------------->
  <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div style="display:flex; justify-content: space-between; width: 100%;">
          <div>
            <p class="page__section-name">Property Details </p>
          </div>
          <div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="mostrarTarjeta.contractDetails">
      <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Tenant Name</mat-label>
                <input disabled matInput placeholder="List Rent Price" [(ngModel)]="tenant_name" (change)="calc_RentCostSavings();">
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Property Type</mat-label>
                <mat-select disabled [(ngModel)]="permanentHome.propertyType">
                  <mat-option *ngFor="let item of caPropertyTypeHousing" [value]="item.id">{{item.propertyType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input disabled matInput required placeholder="Address" #message maxlength="500" [(ngModel)]="permanentHome.address">
                
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
              <mat-label>ZIP Code</mat-label>
              <input disabled matInput  placeholder="ZIP Code" min="0"  [(ngModel)]="permanentHome.zip">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input disabled matInput  placeholder="ZIP Code" min="0"  [(ngModel)]="city_name">
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="input_central textarea">
              <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input disabled matInput  placeholder="ZIP Code" min="0" [(ngModel)]="country_name">
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
  <!------------------------------------ HEADER PRINT ----------------------------->

    <!--------------------------------------------------------------------------------------------------->
    <!--MAQUETA Land losr details -->
    <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <div style="display:flex; justify-content: space-between; width: 100%;">
            <!--  
            <div>
              <span class="browser" style="cursor: pointer;" *ngIf="!mostrarTarjeta.landLord"
                (click)="showlandsection();"><img src="../../../../assets/icons/arrow_down.png"
                  style="width: 22px;"></span>

              <span class="browser" style="cursor: pointer;" *ngIf="mostrarTarjeta.landLord"
                (click)="mostrarTarjeta.landLord = !mostrarTarjeta.landLord"><img
                  src="../../../../assets/icons/arrow_right.png" style="width: 22px;"></span>
            </div>-->
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="mostrarTarjeta.landLord">
        <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;">
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Name</mat-label>
                  <input disabled matInput placeholder="Landlord Name" [(ngModel)]='data_land.name'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Principal E-mail</mat-label>
                  <input disabled matInput placeholder="Landlord Principal E-mail" [(ngModel)]='data_land.principalEmail'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Secondary E-mail (If Applies)</mat-label>
                  <input disabled matInput placeholder="Landlord Secondary E-mail (If Applies)"
                    [(ngModel)]='data_land.secondaryEmail'>
                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Principal Phone</mat-label>
                  <input disabled matInput placeholder="Landlord Principal Phone" [(ngModel)]='data_land.principalPhone'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Secondary Phone (If Applicable)</mat-label>
                  <input disabled matInput placeholder="Landlord Secondary Phone (If Applicable)"
                    [(ngModel)]='data_land.secundaryPhone'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">

                <p class="subtitle" style="font-size: 12px;">
                  Fiscal Invoice
                </p>
                <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.fiscalInvoice'
                  [checked]="data_land.fiscalInvoice"></mat-checkbox>

              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <span>
                  <p class="Title" style="font-size: 13px;">
                    Payment Methods
                  </p>

                </span>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="textarea">
                <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.creditCard'
                  [checked]="data_land.creditCard">
                  <span class="subtitle" style="font-size: 12px;">Credit Card</span>
                </mat-checkbox>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <div class="textarea" *ngFor="let datacart of ca_creditCard">
                <mat-checkbox disabled class="example-margin" (change)="guarda_card($event, datacart);"
                  [checked]="datacart.checked" *ngIf="data_land.creditCard">
                  <span class="subtitle" style="font-size: 12px;">{{datacart.creditCard}}</span>
                </mat-checkbox>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="textarea">
                <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.cash' [checked]="data_land.cash">
                  <span class="subtitle" style="font-size: 12px;">Cash</span>
                </mat-checkbox>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="textarea">
                <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.checks' [checked]="data_land.checks">
                  <span class="subtitle" style="font-size: 12px;">Checks</span>
                </mat-checkbox>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="textarea" *ngIf="data_land.checks">
                <mat-form-field appearance="fill">
                  <mat-label>Pay to the Order Of</mat-label>
                  <input disabled matInput required placeholder="Pay to the Order Of" type="text" #message_payto
                    maxlength="150" [(ngModel)]='data_land.payToOrderOf'>
                  <mat-hint align="end">{{message_payto.value.length}} / 150</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <div class="textarea">
                <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.wireTransfer'
                  [checked]="data_land.wireTransfer">
                  <span class="subtitle" style="font-size: 12px;">Wire Transfer</span>
                </mat-checkbox>
              </div>
            </mat-grid-tile>

          </mat-grid-list>
          <div *ngIf="data_land.wireTransfer">
            <p class="page__section-name" style="font-size: 14px;">Banking Details List</p>
          </div>
          <!----------------------------------------------START TABLE BANK  DETAILS --------------------------------->
          
          <mat-dialog-content class="mat-typography" *ngIf="data_land.wireTransfer">
            <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 10px;"
              *ngFor="let data_land of data_land_list; let i = index">
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Account Type</mat-label>
                      <mat-select disabled [(ngModel)]='data_land.accountType'>
                        <mat-option *ngFor="let item of ca_accountType" [value]="item.id">{{item.accountType}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Account Holders Name</mat-label>
                      <input disabled matInput required placeholder="Account Holders Name" type="text" #message_holdername
                        maxlength="100" [(ngModel)]='data_land.accountHoldersName'>
                      <mat-hint align="end">{{message_holdername.value.length}} / 100</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Bank Name</mat-label>
                      <input disabled matInput required placeholder="Bank Name" type="text" #message_bankname maxlength="100"
                        [(ngModel)]='data_land.bankName'>
                      <mat-hint align="end">{{message_bankname.value.length}} / 100</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Account Number</mat-label>
                      <input disabled matInput required placeholder="Account Number" [(ngModel)]='data_land.accountNumber'>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>CLABE</mat-label>
                      <input disabled matInput placeholder="CLABE" [(ngModel)]='data_land.clabetype'>
                      <!-- <mat-select placeholder="Type of Bank CLABE" [(ngModel)]='data_land.clabetype'>
                    <mat-option *ngFor="let data of ca_clabetype" [value]="data.clave">{{data.clave}}</mat-option>
                  </mat-select> -->
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Routing Number (ABA)</mat-label>
                      <input disabled matInput placeholder="Routing Number (ABA)" [(ngModel)]='data_land.routingNumber'>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>SWIFT / BIC Code ( If Applies)</mat-label>
                      <input disabled matInput placeholder="SWIFT / BIC Code ( If Applies)"
                        [(ngModel)]='data_land.swiftBicCode'>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <!-- <mat-label>Comment</mat-label> -->
                      <mat-label>IBAN</mat-label>
                      <input disabled matInput placeholder="IBAN" type="text" #message_bankcomment maxlength="150"
                        [(ngModel)]='data_land.comment'>
                      <!-- <mat-hint align="end">{{message_bankcomment.value.length}} / 30</mat-hint> -->
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final">
                      <mat-form-field appearance="fill">
                        <mat-label>Currency</mat-label>
                        <mat-select disabled placeholder="Currency" [(ngModel)]='data_land.currency'>
                          <mat-option *ngFor="let data of ca_currency" [value]="data.id">{{data.currency}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final">
                      <mat-form-field appearance="fill">
                        <mat-label>Wire Fee Approx</mat-label>
                        <span matPrefix>$ &nbsp;</span>
                        <input disabled matInput  placeholder="Wire Fee Approx" type="number" min="0"
                          [(ngModel)]='data_land.wireFree'>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <div class="input_final textarea">
                      <mat-form-field appearance="fill">
                        <mat-label>Bank Address</mat-label>
                        <input matInput disabled  placeholder="Bank Address" type="text" #message_bankaddress maxlength="150"
                          [(ngModel)]='data_land.bankAddress'>
                        <mat-hint align="end">{{message_bankaddress.value.length}} / 150</mat-hint>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final">
                      <p class="subtitle" style="font-size: 12px;">International Payment Acceptance</p>
                      <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.internationalPayment'
                        [checked]="data_land.internationalPayment"></mat-checkbox>
                    </div>
                  </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  Account # {{i+1}}
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-dialog-content>

          <!------------------------------------------- START TABLE BANK  DETAILS ------------------------------------------------->

        </div>
        <!----------------------------------- HISTORICO DE LANDLORDS ---------------------------------------------------->
        <div>
          <p *ngIf="data_landlord_historic.length > 0" class="page__section-name" style="font-size: 16px;">Previous
            Records</p>
        </div>
        <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;"
          *ngFor="let item of data_landlord_historic; let i = index">
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">Creation date: {{item.createdDate | date: 'MM/dd/yyyy'}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1"> </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Name</mat-label>
                  <input matInput disabled placeholder="Landlord Name" [(ngModel)]='item.name'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Principal E-mail</mat-label>
                  <input matInput disabled placeholder="Landlord Principal E-mail" [(ngModel)]='item.principalEmail'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Secondary E-mail (If Applies)</mat-label>
                  <input matInput disabled placeholder="Landlord Secondary E-mail (If Applies)"
                    [(ngModel)]='item.secondaryEmail'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Principal Phone</mat-label>
                  <input matInput disabled placeholder="Landlord Principal Phone" [(ngModel)]='item.principalPhone'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">
                <mat-form-field appearance="fill">
                  <mat-label>Landlord Secondary Phone (If Applicable)</mat-label>
                  <input matInput disabled placeholder="Landlord Secondary Phone (If Applicable)"
                    [(ngModel)]='item.secundaryPhone'>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="input_central textarea">

                <p class="subtitle" style="font-size: 12px;">
                  Fiscal Invoice
                </p>
                <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.fiscalInvoice'
                  [checked]="data_land.fiscalInvoice"></mat-checkbox>

              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
          </mat-grid-list>
          <div>
            <p class="page__section-name" style="font-size: 14px;">Banking Details List</p>
          </div>

          <!----------------------------------------------START TABLE BANK  DETAILS --------------------------------->

          <mat-dialog-content class="mat-typography">
            <div class="mat-elevation-z5" style="padding: 10px; margin-top: 20px; margin-bottom: 10px;"
              *ngFor="let data_land of item.landlordDetailsHomes; let i = index">
              <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Account Type</mat-label>
                      <mat-select disabled [(ngModel)]='data_land.accountType'>
                        <mat-option *ngFor="let item of ca_accountType" [value]="item.id">{{item.accountType}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Account Holders Name</mat-label>
                      <input disabled matInput required placeholder="Account Holders Name" type="text" #message_holdername
                        maxlength="100" [(ngModel)]='data_land.accountHoldersName'>
                      <mat-hint align="end">{{message_holdername.value.length}} / 100</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Bank Name</mat-label>
                      <input disabled matInput required placeholder="Bank Name" type="text" #message_bankname maxlength="100"
                        [(ngModel)]='data_land.bankName'>
                      <mat-hint align="end">{{message_bankname.value.length}} / 100</mat-hint>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Account Number</mat-label>
                      <input disabled matInput required placeholder="Account Number" [(ngModel)]='data_land.accountNumber'>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>CLABE</mat-label>
                      <input disabled matInput placeholder="CLABE" [(ngModel)]='data_land.clabetype'>
                      <!-- <mat-select placeholder="Type of Bank CLABE" [(ngModel)]='data_land.clabetype'>
                    <mat-option *ngFor="let data of ca_clabetype" [value]="data.clave">{{data.clave}}</mat-option>
                  </mat-select> -->
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>Routing Number (ABA)</mat-label>
                      <input disabled matInput placeholder="Routing Number (ABA)" [(ngModel)]='data_land.routingNumber'>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <mat-label>SWIFT / BIC Code ( If Applies)</mat-label>
                      <input disabled matInput placeholder="SWIFT / BIC Code ( If Applies)"
                        [(ngModel)]='data_land.swiftBicCode'>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <div class="input_final">
                    <mat-form-field appearance="fill">
                      <!-- <mat-label>Comment</mat-label> -->
                      <mat-label>IBAN</mat-label>
                      <input disabled matInput placeholder="IBAN" type="text" #message_bankcomment maxlength="150"
                        [(ngModel)]='data_land.comment'>
                      <!-- <mat-hint align="end">{{message_bankcomment.value.length}} / 30</mat-hint> -->
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final">
                      <mat-form-field appearance="fill">
                        <mat-label>Currency</mat-label>
                        <mat-select disabled placeholder="Currency" [(ngModel)]='data_land.currency'>
                          <mat-option *ngFor="let data of ca_currency" [value]="data.id">{{data.currency}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final">
                      <mat-form-field appearance="fill">
                        <mat-label>Wire Fee Approx</mat-label>
                        <span matPrefix>$ &nbsp;</span>
                        <input disabled matInput  placeholder="Wire Fee Approx" type="number" min="0"
                          [(ngModel)]='data_land.wireFree'>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <div class="input_final textarea">
                      <mat-form-field appearance="fill">
                        <mat-label>Bank Address</mat-label>
                        <input matInput disabled  placeholder="Bank Address" type="text" #message_bankaddress maxlength="150"
                          [(ngModel)]='data_land.bankAddress'>
                        <mat-hint align="end">{{message_bankaddress.value.length}} / 150</mat-hint>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="input_final">
                      <p class="subtitle" style="font-size: 12px;">International Payment Acceptance</p>
                      <mat-checkbox disabled class="example-margin" [(ngModel)]='data_land.internationalPayment'
                        [checked]="data_land.internationalPayment"></mat-checkbox>
                    </div>
                  </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                  Account # {{i+1}}
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-dialog-content>
        </div>
      </div>
    </div>
    <!--TERMINA LEASE SUMMARY-->
    <!-------------------------------------------------->
   
  </div>
<!----------------------------------------------------------------------------------------->
<!---------------------------- FIN PERMANENT HOME ----------------------------------------->
<!----------------------------------------------------------------------------------------->