<div class="main-wrapper padding-general-x">
  <div class="page">
    <div class="page__path subtitle">Operations / Pending Authorizations</div>
    <div class="page__title title">
      Pending Authorizations
    </div>
    <!-- Filters ----------------------------------- -->

    <mat-grid-list cols="5" rowHeight="60px" *ngIf="pending_autho_obj">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12" [ngClass]="{'activeFilter': pendingAssignments}"
          style="cursor: pointer;" (click)="filterByPendingAssingments();">
          <span class="text-mini gray_05">Pending Assignments</span><br />
          <span class="text-bold font-18 font-purple-dark">
            {{ pending_autho_obj.pendingAssignments }}
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="page__section-data font-size-12" [ngClass]="{'activeFilter': pendingAcceptance}"
          style="cursor: pointer;" (click)="filterByPendingAcceptance();">
          <span class="text-mini gray_05">Pending Acceptance</span><br />
          <span class="text-bold font-18 font-purple-dark">
            {{ pending_autho_obj.pendingAcceptance }}
          </span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="5" rowHeight="70px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="input_central_half">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" id="pending_serch_text" type="text" (keyup)="serchByText( $event )" />
          <mat-icon matSuffix style="color:#9d3292">search</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <button (click)="resetPendingAuthoTableFilter()" mat-icon-button color="primary" style="margin-left: 60px;"
            matTooltip="Clear filter">
            <mat-icon>cached</mat-icon>
          </button>
        </div>
        <div class="page__section-butuonc">
          <!-- <button (click)="showExportDialog()" class="button-icon button-icon--export" *ngIf="__userlog__.role.id != 3">
            Export
          </button> -->
          <button class="button-icon button-icon--export" (click)="exporter.exportTable('xls')" id="excel">
            Export
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="5" rowHeight="70px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill" class="input_central_half">
          <mat-label>Country</mat-label>
          <mat-select matNativeControl [(ngModel)]="filter_data.country"
            (selectionChange)="ableCityField(); updatePendingAuthoTableData();">
            <mat-form-field appearance="outline" style="padding: 5px;">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Country" [(ngModel)]="filterCountry.name">
            </mat-form-field>
            <mat-option *ngFor="let item of country_catalogue | filterBy: filterCountry" [value]="item.id">
              {{ item.name }}
            </mat-option>
            <mat-option disabled *ngIf="(country_catalogue | filterBy: filterCountry).length === 0">No matching elements</mat-option>

          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill" class="input_central_half">
          <mat-label>City</mat-label>
          <mat-select matNativeControl [(ngModel)]="filter_data.city" [disabled]="!able_city_filter"
            (selectionChange)="updatePendingAuthoTableData();">
            <mat-form-field appearance="outline" style="padding: 5px;">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" [(ngModel)]="filterCity.city">
            </mat-form-field>
            <mat-option *ngFor="let item of city_catalogue | filterBy: filterCity" [value]="item.id">
              {{ item.city }}
            </mat-option>
            <mat-option disabled *ngIf="(city_catalogue | filterBy: filterCity).length === 0">No matching elements</mat-option>

          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <!--service_line-->
<!--       <mat-grid-tile [colspan]="1" [rowspan]="1" class="position-relative">
        <div style="width: 100%; display: flex;">
          <mat-form-field appearance="fill" class="input_central_half">
            <mat-label>Service Line</mat-label>
            <mat-select matNativeControl [(ngModel)]="filter_data.service_line"
              (selectionChange)="updatePendingAuthoTableData();">
              <mat-option *ngFor="let item of serviceline_catalogue" [value]="item.serviceLine">
                {{ item.serviceLine }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile> -->
      <!--fin service_line-->

      <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="fill" class="input_central_half">
          <mat-label>Service Record</mat-label>
          <mat-select matNativeControl [(ngModel)]="filter_data.sr"
            (selectionChange)="ableCityField(); updatePendingAuthoTableData();">
            <mat-form-field appearance="outline" style="padding: 5px;">
              <mat-label>Service Record</mat-label>
              <input matInput placeholder="Service Record" [(ngModel)]="filterServiceRecord.numberServiceRecord">
            </mat-form-field>
            <mat-option *ngFor="let item of service_record| filterBy: filterServiceRecord" [value]="item.id">
              {{ item.numberServiceRecord }}
            </mat-option>
            <mat-option disabled *ngIf="(service_record | filterBy: filterServiceRecord).length === 0">No matching elements</mat-option>

          </mat-select>
        </mat-form-field>
      </mat-grid-tile> -->
    </mat-grid-list>
    <!-- Table -------------------------------------------------------------------- -->
    <!-- Table -------------------------------------------------------------------- -->
    <!-- Table -------------------------------------------------------------------- -->
    <!-- Table -------------------------------------------------------------------- -->
    <!-- Table -------------------------------------------------------------------- -->
    <!-- Table -------------------------------------------------------------------- -->
    <!-- Table -------------------------------------------------------------------- -->
    <div class="page__section" id="export">
      <table mat-table #sortpending='matSort' matSort matTableExporter [dataSource]="pending_table_data"
        #exporter="matTableExporter" class="main-table">
        <ng-container matColumnDef="c1">
          <th mat-sort-header="c1" mat-header-cell *matHeaderCellDef mat-sort-header="numberServiceRecord"
            class="text-center">SR</th>
          <td mat-cell *matCellDef="let element" class="text-center" (click)="goToSR(element)">
            <span class="text-center browser cursor-pointer">
              {{ element.numberServiceRecord }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="c2">
          <th mat-sort-header="c2" mat-header-cell *matHeaderCellDef mat-sort-header="vip" class="text-center">VIP</th>
          <td mat-cell *matCellDef="let element" class="text-center" (click)="goToSR(element)">
            <div class="table-row__check">
              <img src="assets/table-icons/check.png" *ngIf="element.vip" />
              <img src="assets/table-icons/uncheck.png" *ngIf="!element.vip" />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="c3">
          <th mat-sort-header="c3" mat-header-cell *matHeaderCellDef mat-sort-header="inithialAuthoAcceptance"
            class="text-center">Autho<br />Date</th>
          <td mat-cell *matCellDef="let element" class="text-center" (click)="goToSR(element)">
            {{ element.inithialAuthoAcceptance | date:'dd MMM yyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="c4">
          <th mat-sort-header="c4" mat-header-cell *matHeaderCellDef mat-sort-header="serviceLine" class="text-center">
            Service<br />Line</th>
          <td mat-cell *matCellDef="let element" class="text-center" (click)="goToSR(element)">
            <!--{{ element.serviceLine }}-->

            <span class="cursor-pointer"
              title="{{ element.serviceLine }}" *ngIf="element.serviceLine=='Relocation'">
              R
            </span>

            <span class="cursor-pointer"
              title="{{ element.serviceLine}}" *ngIf="element.serviceLine=='Immigration'">
              I
            </span>

            <span class="cursor-pointer"
              title="{{ element.serviceLine}}" *ngIf="element.serviceLine=='I/R'">
              I/R
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="c5">
          <th mat-sort-header="c5" mat-header-cell *matHeaderCellDef mat-sort-header="country" class="text-center">
            City</th>
          <td mat-cell *matCellDef="let element" class="text-center"  [matMenuTriggerFor]="country"
          (click)="viewCity(element)"  style="cursor: pointer">
          <span  matTooltip="{{element.country}}">
            {{ element.hostCity }}
           </span>
          </td>
        </ng-container>

        <!--ng-container matColumnDef="c6">
          <th mat-sort-header="c6" mat-header-cell *matHeaderCellDef mat-sort-header="city" class="text-center">City
          </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <span title="{{ element.city }}" (click)="goToSR(element)">
              {{ element.city?.length > 12 ? ( element.city | slice:0:12 ) + '...' : element.city }}
            </span>
          </td>
        </ng-container-->

        <ng-container matColumnDef="c7">
          <th mat-sort-header="c7" mat-header-cell *matHeaderCellDef mat-sort-header="partner" class="text-center">
            Partner</th>
          <td mat-cell *matCellDef="let element" class="text-center" [matMenuTriggerFor]="partner" (click)="viewPartner(element)">
            <span title="{{ element.partner }}" class="text-center browser cursor-pointer">
              <!-- {{ element.partner?.length > 12 ? ( element.partner | slice:0:12 ) + '...' : element.partner }} -->
              {{element.partner}}
            </span>
          </td>
        </ng-container>

        <!--ng-container matColumnDef="c8">
          <th mat-sort-header="c8" mat-header-cell *matHeaderCellDef mat-sort-header="client" class="text-center">Client
          </th>
          <td mat-cell *matCellDef="let element" class="text-center" (click)="goToSR(element)">
            <span title="{{ element.client }}">
              {{ element.client?.length > 12 ? ( element.client | slice:0:12 ) + '...' : element.client }}
            </span>
          </td>
        </ng-container-->

        <ng-container matColumnDef="c9">
          <th mat-sort-header="c9" mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="assigneeName">
            Assignee<br />Name</th>
          <td mat-cell *matCellDef="let element" class="text-center" style="cursor: pointer" [matMenuTriggerFor]="supplier" (click)="viewData(element)">
            <span matTooltip="{{element.assigneeName}}">
              <!--{{ element.assigneeName?.length > 12 ? ( element.assigneeName | slice:0:12 ) + '...' : element.assigneeName }}-->
              {{element.assigneeName}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="c10">
          <th mat-sort-header="c10" mat-header-cell *matHeaderCellDef class="text-center"
            mat-sort-header="initialArrival">Arrival Date</th>
          <td mat-cell *matCellDef="let element" class="text-center" (click)="goToSR(element)">
            {{ element.initialArrival | date:'dd MMM yyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="c11">
          <th mat-sort-header="c11" mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="services">
            Services</th>
          <td mat-cell *matCellDef="let element" class="text-center link" (click)="getServices(element)" [matMenuTriggerFor]="servicios">
            {{element.standaloneServices?.length + element.bundledService?.length}}
          </td>
        </ng-container>


        <mat-menu #servicios="matMenu" yPosition="above">
            <div class="assigned_services">
              <div style="text-align: left;">
                <div mat-subheader class="browser" *ngIf="homeImm.length > 0 || hostImm.length > 0">Immigration</div>
                <mat-divider *ngIf="homeImm.length > 0 || hostImm.length > 0"></mat-divider>
                <mat-list *ngIf="homeImm.length > 0">
                  <span style="text-transform: capitalize; font-size: 12px">Home - {{homeImm[0].country}}</span>
                  <mat-list-item *ngFor="let item of homeImm">
                    <div mat-line style="font-size: 12px !important;"><b>{{item.service_name}}</b></div>
                    <div mat-line style="font-size: 10px;">
                     {{item.numberWorkOrder}},
                     {{item.number_server}}
                    </div>
                  </mat-list-item>
                </mat-list>
                <mat-list *ngIf="hostImm.length > 0">
                  <span style="text-transform: capitalize; font-size: 12px">Host - {{hostImm[0].country}}</span>
                  <mat-list-item *ngFor="let item of hostImm">
                    <div mat-line style="font-size: 12px !important;"><b>{{item.service_name}}</b></div>
                    <div mat-line style="font-size: 10px;">
                     {{item.numberWorkOrder}},
                     {{item.number_server}}
                    </div>
                  </mat-list-item>
                </mat-list>
                <div mat-subheader class="browser" *ngIf="homeRelo.length > 0 || hostRelo.length > 0">Relocation</div>
                <mat-divider *ngIf="homeRelo.length > 0 || hostRelo.length > 0"></mat-divider>
                <mat-list *ngIf="homeRelo.length > 0">
                  <span style="text-transform: capitalize; font-size: 12px">Home - {{homeRelo[0].country}}</span>
                  <mat-list-item *ngFor="let item of homeRelo">
                    <div mat-line style="font-size: 12px !important;"><b>{{item.service_name}}</b></div>
                    <div mat-line style="font-size: 10px;">
                     {{item.numberWorkOrder}},
                     {{item.number_server}}
                    </div>
                  </mat-list-item>
                </mat-list>
                <mat-list *ngIf="hostRelo.length > 0">
                  <span style="text-transform: capitalize; font-size: 12px">Host - {{hostRelo[0].country}}</span>
                  <mat-list-item *ngFor="let item of hostRelo">
                    <div mat-line style="font-size: 12px !important;"><b>{{item.service_name}}</b></div>
                    <div mat-line style="font-size: 10px;">
                     {{item.numberWorkOrder}},
                     {{item.number_server}}
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
        </mat-menu>

        <ng-container matColumnDef="c12">
          <th mat-sort-header="c12" mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="coordinator">
            Coordinator</th>
            <td mat-cell *matCellDef="let element">
              <span class="text-center browser cursor-pointer" *ngIf="element.coordinatorImm?.length + element.coordinatorRelo?.length > 1" [matMenuTriggerFor]="coordinador" (click)="viewCoordinador(element.coordinatorImm, element.coordinatorRelo)">
                <!-- {{ element.coordinator.length > 1 ? element.coordinator.length : element.coordinator[0].name }}   -->
                {{element.coordinatorImm?.length + element.coordinatorRelo?.length}}
              </span>
              <span class="text-center cursor-pointer" *ngIf="element.coordinatorImm?.length + element.coordinatorRelo?.length  == 1">
                <span *ngIf="element.coordinatorImm[0]?.accepted == 'pending' || element.coordinatorRelo[0]?.accepted == 'pending'" class="text__yellow" [matMenuTriggerFor]="coordinador" (click)="viewCoordinador(element.coordinatorImm, element.coordinatorRelo)">
                  {{element.coordinatorImm[0]?.name}}{{element.coordinatorRelo[0]?.name}}
                </span>
                <span *ngIf="element.coordinatorImm[0]?.accepted == 'accepted' || element.coordinatorRelo[0]?.accepted == 'accepted'" class="text__green" [matMenuTriggerFor]="coordinador" (click)="viewCoordinador(element.coordinatorImm, element.coordinatorRelo)">
                  {{element.coordinatorImm[0]?.name}}{{element.coordinatorRelo[0]?.name}}
                </span>
                <span *ngIf="element.coordinatorImm[0]?.accepted == 'reject' || element.coordinatorRelo[0]?.accepted == 'reject'" class="text__red" [matMenuTriggerFor]="coordinador" (click)="viewCoordinador(element.coordinatorImm, element.coordinatorRelo)">
                  {{element.coordinatorImm[0]?.name}}{{element.coordinatorRelo[0]?.name}}
                </span>
              </span>

              <span *ngIf="element.coordinatorImm?.length + element.coordinatorRelo?.length  == 0">
                Not assigned
              </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="c13">
          <th mat-sort-header="c13" mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="supplier">
            Supplier</th>
            <td mat-cell *matCellDef="let element" class="text-center" style="cursor: pointer">
              <span class="text-center browser cursor-pointer" *ngIf="element.supplierConsultantImm?.length + element.supplierConsultantRelo?.length > 1" [matMenuTriggerFor]="supplier" (click)="viewConsultant(element.supplierConsultantImm, element.supplierConsultantRelo, element.serviceLine)">
                {{element.supplierConsultantImm?.length + element.supplierConsultantRelo?.length}}
              </span>
              <span class="text-center browser cursor-pointer" *ngIf="element.supplierConsultantImm?.length + element.supplierConsultantRelo?.length  == 1">
                <span *ngIf="element.supplierConsultantImm[0]?.accepted == 'pending' || element.supplierConsultantRelo[0]?.accepted == 'pending'" class="text__yellow" [matMenuTriggerFor]="supplier" (click)="viewConsultant(element.supplierConsultantImm, element.supplierConsultantRelo, element.serviceLine)">
                  {{element.supplierConsultantImm[0]?.name}}{{element.supplierConsultantRelo[0]?.name}}
                </span>
                <span *ngIf="element.supplierConsultantImm[0]?.accepted == 'accepted' || element.supplierConsultantRelo[0]?.accepted == 'accepted'" class="text__green" [matMenuTriggerFor]="supplier" (click)="viewConsultant(element.supplierConsultantImm, element.supplierConsultantRelo, element.serviceLine)">
                  {{element.supplierConsultantImm[0]?.name}}{{element.supplierConsultantRelo[0]?.name}}
                </span>
                <span *ngIf="element.supplierConsultantImm[0]?.accepted == 'reject' || element.supplierConsultantRelo[0]?.accepted == 'reject'" class="text__red" [matMenuTriggerFor]="supplier" (click)="viewConsultant(element.supplierConsultantImm, element.supplierConsultantRelo, element.serviceLine)">
                  {{element.supplierConsultantImm[0]?.name}}{{element.supplierConsultantRelo[0]?.name}}
                </span>
              </span>

              <span *ngIf="element.supplierConsultantImm?.length + element.supplierConsultantRelo?.length  == 0">
                Not assigned
              </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="pending_table_colums"></tr>
        <tr mat-row *matRowDef="let row; columns: pending_table_colums;"  style="cursor: pointer;" [ngClass]="{'urgent': row.urgent == true}">
        </tr>
      </table>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <div>
        <div class="divIconContainer">
          <b class="dot__urgen icon-text">Urgent</b>
        </div>
      </div>
      <div>
        <div class="divIconContainer">
          <b class="dot__green_color icon-text">Accepted</b>&nbsp;&nbsp;&nbsp;|
        </div>
        <div class="divIconContainer">
          <b class="dot__yellow_color icon-text">Pending Accepted</b>&nbsp;&nbsp;&nbsp;|
        </div>
        <div class="divIconContainer">
          <b class="dot__red_color icon-text">Rejected</b>
        </div>
      </div>
    </div>
    <div class="page__section">

    <div class="page__section text-center paginator">
      <mat-paginator  [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>

      <!-- <mat-paginator
        class="paginator"
        (page)="paginatorHtmlElement.nativeElement.querySelector('div.mat-select-value > span > span').innerHTML = paginator.pageSize == 2147483647? 'All': paginator.pageSize" #paginator #paginatorElement
        [pageSizeOptions]="[10, 20, 2147483647]"
        showFirstLastButtons
      ></mat-paginator> -->
    </div>

    <mat-menu #coordinador="matMenu" xPosition="before">
      <div class="bg"></div>
      <div class="assigned_services">
        <div class="data browser">
          <mat-list *ngIf="_viewCoordinadorImm.length > 0">
            <div mat-subheader>Immigration</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of _viewCoordinadorImm">
              <img src="{{url_image}}{{item.avatar}}" matListAvatar alt="">
              <div mat-line *ngIf="item.accepted == 'pending'" class="text__yellow">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'accepted'" class="text__green">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'reject'" class="text__red">{{item.name}}</div>
              <div mat-line style="font-size: 12px;">{{item.coordinatorType}}</div>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="_viewCoordinadorRelo.length > 0">
            <div mat-subheader>Relocation</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of _viewCoordinadorRelo">
              <img src="{{url_image}}{{item.avatar}}" matListAvatar alt="">
              <div mat-line *ngIf="item.accepted == 'pending'" class="text__yellow">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'accepted'" class="text__green">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'reject'" class="text__red">{{item.name}}</div>
              <div mat-line style="font-size: 12px;">{{item.coordinatorType}}</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-menu>

    <mat-menu #supplier="matMenu" xPosition="before">
      <div class="bg"></div>
      <div class="assigned_services">
        <div class="data browser">
          <mat-list *ngIf="_viewSupplierImm.length > 0">
            <div mat-subheader>Immigration</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of _viewSupplierImm">
               <img src="{{url_image}}{{item.avatar}}" matListAvatar alt="">
              <div mat-line *ngIf="item.accepted == 'pending'" class="text__yellow">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'accepted'" class="text__green">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'reject'" class="text__red">{{item.name}}</div>
              <div mat-line style="font-size: 10px;"> {{item.country}} </div>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="_viewSupplierImm.length == 0 && _serviceLine == 'I/R'">
            <div mat-subheader>Immigration</div>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div mat-line>No Supplier assigned</div>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="_viewSupplierRelo.length > 0">
            <div mat-subheader>Relocation</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of _viewSupplierRelo">
               <img src="{{url_image}}{{item.avatar}}" matListAvatar alt="">
              <div mat-line *ngIf="item.accepted == 'pending'" class="text__yellow">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'accepted'" class="text__green">{{item.name}}</div>
              <div mat-line *ngIf="item.accepted == 'reject'" class="text__red">{{item.name}}</div>
              <div mat-line style="font-size: 10px;"> {{item.country}} </div>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="_viewSupplierRelo.length == 0 && _serviceLine == 'I/R'">
            <div mat-subheader>Relocation</div>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div mat-line>No Supplier assigned</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-menu>

    <mat-menu #country="matMenu" xPosition="before">
      <div class="bg"></div>
      <div class="assigned_services">
        <div class="data browser">
          <mat-list>
            <div mat-subheader>Home destination</div>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div mat-line><b style="text-transform: capitalize;">{{info_country.homeCountry}}</b></div>
              <div mat-line style="font-size: 10px;">{{info_country.homeCity}}</div>
            </mat-list-item>
          </mat-list>
          <mat-list>
            <div mat-subheader>Host destination</div>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div mat-line><b style="text-transform: capitalize;">{{info_country.hostCountry}}</b></div>
              <div mat-line style="font-size: 10px;">{{info_country.hostCity}}</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-menu>

    <mat-menu #partner="matMenu" yPosition="above">
      <div class="bg"></div>
      <div class="assigned_services">
        <div class="data browser">
          <mat-list>
            <div mat-subheader>Client</div>
            <mat-divider></mat-divider>
            <mat-list-item>
              <img src="{{url_image}}{{info_partner.clientAvatar}}" matListAvatar alt="">
              <div mat-line>{{info_partner.client}}</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
