<!-----------------------------------OPEN HEADER-------------------------------------->
<div fxLayout="row">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <h2 mat-dialog-title class="primary_title">Included In Rent</h2>
  </div>
  <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100" align="end">
    <mat-icon [mat-dialog-close]="true" style="cursor:pointer">close</mat-icon>
  </div>
</div>
<!----------------------------------CLOSE HEADER-------------------------------------->

<!---------------------------------OPEN CONTENT--------------------------------------->
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="70px">

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="input_central">
        <mat-form-field appearance="fill">
          <mat-label>Expense</mat-label>
          <input matInput required placeholder="Expense" [(ngModel)]="data.expense">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="input_central">
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput required placeholder="Amount" type="number" [(ngModel)]="data.amount" type="number">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="input_central">
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <input matInput required [matDatepicker]="pickertres" placeholder="Currency" [(ngModel)]="data.currency">
          <mat-datepicker-toggle matSuffix [for]="pickertres"></mat-datepicker-toggle>
          <mat-datepicker #pickertres></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="input_central">
        <mat-form-field appearance="fill">
          <mat-label>Included</mat-label>
          <mat-select [(ngModel)]="data.included">
            <mat-option [value]=true>Yes</mat-option>
            <mat-option [value]=false>No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</mat-dialog-content>
<!--------------------------------CLOSE CONTENT--------------------------------------->

<mat-dialog-actions align="end">
  <div class="page__section-buttong">
    <button (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
